<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TCOM Japan</title>

    <link rel="shortcut icon" href="images/img-index/favicon.png">
    <!-- font web -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <!-- css he thong -->
    <link rel="stylesheet" type="text/css" href="skins/style-b/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="skins/style-animate/animate.css">
    <!-- font icon -->
    <link rel="stylesheet" type="text/css" href="skins/style-icon/all.min.css">
    <link rel="stylesheet" type="text/css" href="skins/style-slide/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="skins/style-animate/aos.css">
    <link rel="stylesheet" type="text/css" href="skins/style.css">
    <!-- css dev backend -->
    <link rel="stylesheet" type="text/css" href="skins/custom.css">
</head>

<body>

    <header id="header-site">
        <div id="sticky-wrapper" class="sticky-wrapper">
            <div class="main-menu-bar sticky-header-enable">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/"><img src="images/img-index/logo-tcomjp.png" alt=""></a>


                        <div class="navbar-collapse collapse" id="navbarSupportedContent">
                            <div class="list_contactt">
                                <ul class="ul-b">
                                    <li class="link-phone">
                                        <img src="images/img-index/Vector.png" alt="">
                                        <div class="top">
                                            <span class="p1"><strong>
                                                        080-3217-7518
                                                    </strong></span><br>
                                            <span class="p2">[平日 10：00～18：00]</span>
                                        </div>

                                    </li>
                                    <li class="btn">
                                       <a href="/contact"> <div class="top"><img src="images/img-index/mail.png" alt="">
                                            <span><strong>
                                                    問い合わせフォーム
                                                </strong></span>
                                        </div>
                                    </a>
                                    </li>
                                </ul>
                            </div>

                        </div>


                    </nav>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm newNav onPage">
                                <p> <a href="/"><strong>ホーム </strong></a> </p>
                            </div>
                            <div class="col-sm newNav">
                                <p> <a href="profile"><strong>会社概要</strong></a></p>
                            </div>
                            <div class="col-sm newNav dropdown">
                                <p> <a class="dropbtn" href="service"><strong>サービス</strong></a></p>
                                <div class="dropdown-content">
                                    <a class="drop1" href="/cad"> <i class="fas fa-caret-right"></i> &nbsp;<strong>CAD
                                            サービス</strong></a>
                                    <a href="/serviceIT"> <i class="fas fa-caret-right"></i> &nbsp;<strong>IT
                                            サービス</strong></a>
                                    <a href="/development"> <i class="fas fa-caret-right"></i> &nbsp;<strong>オフショア開発
                                            サービス</strong></a>
                                </div>
                            </div>
                            <div class="col-sm newNav">
                                <p> <a href="development"><strong>オフショア開発</strong></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    <main id="main-site">

        <!-- end banner -->


        <div class="thank">
            <img class="thankImage" src="images/img-index/thank-you.png" alt="">

            <div class="textThank">
                <h4>TCOM JAPANをお選びいただき、誠にありがとうございます。</h2>
            </div>
            <a class="nav-link " href="/"> <input type="button" class="btnThank" value="Go Home"></a>
           
        </div>




        <!-- end section 1 page info -->
    </main>
    <!-- end main -->
    <footer id="footer-site">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="wp_ft ft1">
                        <img src="images/img-index/logo-tcomjpFT.png" alt="">
                    </div>
                </div>
                <!-- end item ft -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="wp_ft ft2">
                        <div class="item">
                            <h2 class="h2-title">コネクション</h2>
                            <ul class="ul-b">
                                <li><a href="/">ホーム</a></li>
                                <li><a href="profile">企業情報</a></li>
                            </ul>
                        </div>
                        <div class="item">
                            <h2 class="h2-title">サービス</h2>
                            <ul class="ul-b">
                                <li><a href="cad">CADサービス</a></li>
                                <li><a href="serviceIT">ITサービス</a></li>
                                <li><a href="development">オフショア開発</a></li>
                                <li><a href="/#QA">よくあるご質問</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end item -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="wp_ft ft3">
                        <h2 class="h2-title">お問い合わせ</h2>
                        <div class="list_info">
                            <div class="item">
                                <div class="icon"><img src="images/img-index/jp.png" alt=""></div>
                                <div class="text">
                                    <h3 class="h3_title">日本法人</h3>
                                    <div class="des">〒198-0024 東京都青梅市新町</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon"><img src="images/img-index/vn.png" alt=""></div>
                                <div class="text">
                                    <h3 class="h3_title">本社 (ベトナム)</h3>
                                    <div class="des">9th floor, 389A-391 Truong Chinh Street, Thanh Xuan District, Ha
                                        Noi City, Viet Nam​ 
                                        <br>
                                        <a href="https://tcom.vn/">https://tcom.vn/</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon"><img src="images/img-index/phone.png" alt=""></div>
                                <div class="text">
                                    <h3 class="h3_title">電話番号</h3>
                                    <div class="des">080 3217 7518</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon"><img src="images/img-index/mail.png" alt=""></div>
                                <div class="text">
                                    <h3 class="h3_title">メール</h3>
                                    <div class="des">sales@tcom-japan.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="d-flex">
                    <div class="left">Copyright © 2021 by TCOM JAPAN</div>
                    <div class="right">
                        <ul class="ul-b list-social">
                            <li><a href="https://www.facebook.com/TCOM.Corporation/"><img src="images/img-index/fb.png"
                                        alt=""></a></li>
                            <li><a href=""><img src="images/img-index/tw.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- back to top -->
    <div class="back-tt">
        <a href="#sectop" id="back-to-top" title="Back to top" class="show"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- js site -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/aos.js"></script>
    <script type="text/javascript" src="js/jquery.nicescroll.js"></script>
    <!-- js custom -->
    <script type="text/javascript" src="js/library.js"></script>

    <script type="text/javascript">
        AOS.init();
    </script>




</body>

</html>