<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TCOM Japan</title>

    <link rel="shortcut icon" href="images/img-index/favicon.png">
    <!-- font web -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <!-- css he thong -->
    <link rel="stylesheet" type="text/css" href="skins/style-b/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="skins/style-animate/animate.css">
    <!-- font icon -->
    <link rel="stylesheet" type="text/css" href="skins/style-icon/all.min.css">
    <link rel="stylesheet" type="text/css" href="skins/style-slide/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="skins/style-animate/aos.css">
    <link rel="stylesheet" type="text/css" href="skins/style.css">
    <!-- css dev backend -->
    <link rel="stylesheet" type="text/css" href="skins/custom.css">
</head>

<body>
    <header id="header-site">
        <div id="sticky-wrapper" class="sticky-wrapper">
            <div class="main-menu-bar sticky-header-enable">
                <div  id="top_header" class="top_header">
                    <div class="container">
                        <div class="box_top--header">
                            <div class="contact_mb">
                                <a href="tel:080-3217-7518">
                                    <div class="phone_mb"><img src="images/img-index/icon-phone-mb.png" alt=""></div>
                                </a>
                                <a href="/contact">
                                    <div class="mail_mb"><img src="images/img-index/icon-mail-mb.png" alt=""></div>
                                </a>
                            </div>
                            <div class="logo"><a class="navbar-brand" href="/"><img
                                        src="images/img-index/logo-tcomjp.png" alt=""></a></div>
                            <div class="right_pc">
                                <div class="phone-pc">
                                    <div class="icon">
                                        <img src="images/img-index/icon-phone2.png" alt="">
                                    </div>
                                    <div class="text">

                                        <div class="b"> <a href="tel:080-3217-7518">080-3217-7518 </a></div>

                                        <div class="c">[平日 10：00～18：00]</div>
                                    </div>
                                </div>
                                <div class="mail-pc">

                                    <div class="icon">
                                        <a href="/contact"> <img src="images/img-index/ant-design_mail-outlined.png"
                                                alt=""> </a>
                                    </div>
                                    <div class="text">
                                        <a href="/contact">
                                            <div class="b">問い合わせフォーム</div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="wp-icon-menu-bar">
                                <div id="trigger-mobile">
                                    <img src="images/img-index/fluent_navigation-24-regular.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main_menu">
                    <div class="container">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link " href="/">ホーム</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/profile">会社概要</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link active" href="/service">サービス</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/cad"><span><i
                                                        class="fas fa-caret-right"></i> &nbsp;CAD
                                                    サービス</span></a>
                                            <a class="dropdown-item " href="/serviceIT"><span><i
                                                        class="fas fa-caret-right"></i> &nbsp;IT
                                                    サービス</span></a>
                                            <a class="dropdown-item" href="/development"><span><i
                                                        class="fas fa-caret-right"></i> &nbsp;オフショア開発
                                                    サービス</span></a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/development">オフショア開発</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="/hire">採用情報</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    <main id="main-site">
        <section class="banner banner_page it">
            <h1 class="h1_title--page">IT サービス</h1>
        </section>
        <!-- end banner -->
        <section class="dich_vu--IT overflow-hidden">
            <div class="container">
                <div class="content_section">
                    <div class="content d-flex">
                        <div class="item_dichvu aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000"
                            data-aos-delay="200">
                            <div class="item_dichvu--img">
                                <img src="images/img-index/icon-dich-vu-it1.png" alt="">
                            </div>
                            <div class="item_dichvu--text">
                                <h3 class="h3-title">Webシステム/ <br>業務システム開発</h3>
                                <div class="des-dichvu">オンラインサービスプラットフォー <br> ム、Webポータル、CMS</div>
                            </div>
                        </div>
                        <!-- end item -->
                        <div class="item_dichvu aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000"
                            data-aos-delay="200">
                            <div class="item_dichvu--img">
                                <img src="images/img-index/icon-dich-vu-it2.png" alt="">
                            </div>
                            <div class="item_dichvu--text">
                                <h3 class="h3-title">スマートフォンアプリ開発</h3>
                                <div class="des-dichvu">Androidアプリ、iOSアプリ、ハイブリッドアプリ</div>
                            </div>
                        </div>
                        <!-- end item -->
                        <div class="item_dichvu aos-init aos-animate" data-aos="fade-left" data-aos-duration="1000"
                            data-aos-delay="200">
                            <div class="item_dichvu--img">
                                <img src="images/img-index/icon-dich-vu-it3.png" alt="">
                            </div>
                            <div class="item_dichvu--text">
                                <h3 class="h3-title">ビデオソリューション開発</h3>
                                <div class="des-dichvu">ビデオエンコードとトランスコード、ストレージ、CDN（Vod、ライブ）、プレーヤー</div>
                            </div>
                        </div>
                        <!-- end item -->
                        <div class="item_dichvu aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000"
                            data-aos-delay="200">
                            <div class="item_dichvu--img">
                                <img src="images/img-index/icon-dich-vu-it4.png" alt="">
                            </div>
                            <div class="item_dichvu--text">
                                <h3 class="h3-title">リアルタイムソリューション開発</h3>
                                <div class="des-dichvu">ビデオ＆オーディオコール、インスタントメッセージング</div>
                            </div>
                        </div>
                        <!-- end item -->
                        <div class="item_dichvu aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000"
                            data-aos-delay="300">
                            <div class="item_dichvu--img">
                                <img src="images/img-index/icon-dich-vu-it5.png" alt="">
                            </div>
                            <div class="item_dichvu--text">
                                <h3 class="h3-title">AI研究開発</h3>
                                <div class="des-dichvu">顔検出、物体検出、ビデオ/画像での認識</div>
                            </div>
                        </div>
                        <!-- end item -->
                        <div class="item_dichvu aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000"
                            data-aos-delay="400">
                            <div class="item_dichvu--img">
                                <img src="images/img-index/icon-dich-vu-it6.png" alt="">
                            </div>
                            <div class="item_dichvu--text">
                                <h3 class="h3-title">IOT研究開発</h3>
                            </div>
                        </div>
                        <!-- end item -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end section 1 page info -->
        <section class="linh-vuc-hd">
            <div class="container">
                <div class="title_section">
                    <h2 class="title_section--page">対応カテゴリー</h2>
                </div>
                <div class="content_section">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <div class="item_lvhd" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
                                <div class="item_lvhd--img">
                                    <img src="images/img-index/icon-linh-vuc-hd-1.png" alt="">
                                </div>
                                <div class="item_lvhd--text">
                                    <h3 class="h3-title">オンライン教育とEラーニング</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <div class="item_lvhd" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                                <div class="item_lvhd--img">
                                    <img src="images/img-index/icon-linh-vuc-hd-2.png" alt="">
                                </div>
                                <div class="item_lvhd--text">
                                    <h3 class="h3-title">健康管理</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <div class="item_lvhd" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                <div class="item_lvhd--img">
                                    <img src="images/img-index/icon-linh-vuc-hd-3.png" alt="">
                                </div>
                                <div class="item_lvhd--text">
                                    <h3 class="h3-title">旅行と観光</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <div class="item_lvhd" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                                <div class="item_lvhd--img">
                                    <img src="images/img-index/icon-linh-vuc-hd-4.png" alt="">
                                </div>
                                <div class="item_lvhd--text">
                                    <h3 class="h3-title">メディアとエンターテインメント</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <div class="item_lvhd" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                <div class="item_lvhd--img">
                                    <img src="images/img-index/icon-linh-vuc-hd-5.png" alt="">
                                </div>
                                <div class="item_lvhd--text">
                                    <h3 class="h3-title">オンラインニュースと出版</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <div class="item_lvhd" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                                <div class="item_lvhd--img">
                                    <img src="images/img-index/icon-linh-vuc-hd-6.png" alt="">
                                </div>
                                <div class="item_lvhd--text">
                                    <h3 class="h3-title">小売とEコマース</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <div class="item_lvhd" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                                <div class="item_lvhd--img">
                                    <img src="images/img-index/icon-linh-vuc-hd-7.png" alt="">
                                </div>
                                <div class="item_lvhd--text">
                                    <h3 class="h3-title">デジタルとマーケティングエージェンシー</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <div class="item_lvhd" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700">
                                <div class="item_lvhd--img">
                                    <img src="images/img-index/icon-linh-vuc-hd-8.png" alt="">
                                </div>
                                <div class="item_lvhd--text">
                                    <h3 class="h3-title">物流と輸送</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section4_page--dich_vu--cad">
            <div class="container">
                <div class="title_section">
                    <h2 class="title_section--page">契約まで主な流れ</h2>
                </div>
                <div class="content_section">
                    <div class="content d-flex">
                        <div class="item d-flex align-items-center">
                            <div class="step">STEP 1</div>
                            <div class="des">ご相談・ヒアリング</div>
                            <div class="icon"><img src="images/img-index/icon-step1.png" alt=""></div>
                        </div>
                        <div class="item d-flex align-items-center">
                            <div class="step">STEP 2</div>
                            <div class="des">ご提案・お見積</div>
                            <div class="icon"><img src="images/img-index/icon-step2.png" alt=""></div>
                        </div>
                        <div class="item d-flex align-items-center">
                            <div class="step">STEP 3</div>
                            <div class="des">契約締結</div>
                            <div class="icon"><img src="images/img-index/icon-step3.png" alt=""></div>
                        </div>
                        <div class="item d-flex align-items-center">
                            <div class="step">STEP 4</div>
                            <div class="des">業務開始</div>
                            <div class="icon"><img src="images/img-index/icon-step4.png" alt=""></div>
                        </div>
                        <div class="item d-flex align-items-center">
                            <div class="step">STEP 5</div>
                            <div class="des">納品</div>
                            <div class="icon"><img src="images/img-index/icon-step5.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section linhvuchd -->
        <section class="ngonngu">
            <div class="container">
                <div class="title_section">
                    <h2 class="title_section--page">言語・技術</h2>
                </div>
                <div class="content_section" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="item_nn">
                                <img src="images/img-index/icon-nn-1.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="item_nn">
                                <img src="images/img-index/icon-nn-2.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="item_nn">
                                <img src="images/img-index/icon-nn-3.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="item_nn">
                                <img src="images/img-index/icon-nn-4.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="item_nn">
                                <img src="images/img-index/icon-nn-5.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="item_nn">
                                <img src="images/img-index/icon-nn-6.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="item_nn">
                                <img src="images/img-index/icon-nn-7.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="item_nn">
                                <img src="images/img-index/icon-nn-8.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="item_nn">
                                <img src="images/img-index/icon-nn-9.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="item_nn">
                                <img src="images/img-index/icon-nn-10.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="item_nn">
                                <img src="images/img-index/icon-nn-11.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="item_nn">
                                <img src="images/img-index/icon-nn-12.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="item_nn">
                                <img src="images/img-index/icon-nn-13.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="item_nn">
                                <img src="images/img-index/icon-nn-14.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="item_nn">
                                <img src="images/img-index/icon-nn-15.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
                            <div class="item_nn">
                                <img src="images/img-index/icon-nn-16.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section ngon ngu -->
        <section class="duan-nb">
            <div class="wp_section--content">
                <div class="title_section">
                    <h2 class="title_section--page">実績</h2>
                </div>
                <div class="content_section">
                    <div class="slide_duan" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        <div id="slider-duan" class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="wp-slide-duan slide_vietlok">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_left">
                                                        <img src="images/img-index/logo-slide-vietlook.png" alt="">
                                                        <div class="duan_left--des">
                                                            <p>チケット、ホテル、レストラン、体験ツアーを予約するためのパーソナラ <br>イズされた旅行アプリ</p>
                                                        </div>
                                                        <div class="duan_left-congnhge">
                                                            <h3 class="h3-title">言語/テクノロジー</h3>
                                                            <div class="text">Android, iOS, Swift, Java, NodeJS,
                                                                Redis,
                                                                WebRTC</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_right img-cover">
                                                        <img src="images/img-index/img-slide-vietlook.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wp-slide-duan slide_sky-studio">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_left">
                                                        <img src="images/img-index/logo-slide-skystudio.png" alt="">
                                                        <div class="duan_left--des">
                                                            <p>ライブストリームバーチャルスタジオ、プロフェッショナルビデオ会議用のソフトウェア。</p>
                                                            <p>ライブプログラムを作成し、Facebook、YouTube、またはその 他のSNSにストリーミングし、さま
                                                                ざまな形式と品質のビデオに保存 できます。</p>
                                                            <p>SkyCamと組み合わせて使用 -無線データ送信、低遅延な電話をカメラに変えるアプリケーション。</p>
                                                        </div>
                                                        <div class="duan_left-congnhge">
                                                            <h3 class="h3-title">言語/テクノロジー</h3>
                                                            <div class="text">C/C++, Qt, WebRTC, Video Processing,
                                                                FFMpeg</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_right img-cover">
                                                        <img src="images/img-index/img-slide-skystudio.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="item">
                                <div class="wp-slide-duan slide_sky-mit">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_left">
                                                        <img src="images/img-index/skymit-logo.png" alt="">
                                                        <div class="duan_left--des">
                                                            <p>高いセキュリティ、マルチプラットフォームのビデオ会議ソリューション
                                                            </p>
                                                            <p>会議、オンライン教育セッション を実施するためのシンプルで使 いやすい完全なサポートツール。</p>
                                                            <p>ミーティング、インタラクション
                                                                、ライブストリーム-オールイン
                                                                ワン。</p>
                                                        </div>
                                                        <div class="duan_left-congnhge">
                                                            <h3 class="h3-title">言語/テクノロジー</h3>
                                                            <div class="text">WebRTC, NodeJS, Android, iOS, Video
                                                                Processing</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_right img-cover">
                                                        <img src="images/img-index/skymit-background.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="item">
                                <div class="wp-slide-duan slide_AI">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_left">
                                                        <img src="images/img-index/AI-logo.png" alt="">
                                                        <div class="duan_left--des">
                                                            <p>個人や企業のすべてのニーズを満たすA.Iのスマートで直感的なラベル付け・一元化されたデータトレーニング・管理ツール
                                                            </p>

                                                        </div>
                                                        <div class="duan_left-congnhge">
                                                            <h3 class="h3-title">言語/テクノロジー</h3>
                                                            <div class="text">WebRTC, NodeJS, Android, iOS, Video
                                                                Processing</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_right img-cover">
                                                        <img src="images/img-index/AI-background.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="item">
                                <div class="wp-slide-duan slide_eye">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_left">
                                                        <img src="images/img-index/eyefire_logo.png" alt="">
                                                        <div class="duan_left--des">
                                                            <p>顔認識技術に基づく企業向
                                                                け出席ソリューション(タイム
                                                                カード）コストを節約し、人事管理の
                                                                効率を向上する。

                                                            </p>

                                                        </div>
                                                        <div class="duan_left-congnhge">
                                                            <h3 class="h3-title">言語/テクノロジー</h3>
                                                            <div class="text">Android, Java, Python, FFMpeg, TensorFlow
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_right img-cover">
                                                        <img src="images/img-index/eye-background.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="item">
                                <div class="wp-slide-duan slide_edcity">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_left">
                                                        <img src="images/img-index/ed-logo.png" alt="">
                                                        <div class="duan_left--des">
                                                            <p>ビデオとリアルタイムのインタラクティブな教室を通じて日本語Ｅラーニングシステム

                                                            </p>

                                                        </div>
                                                        <div class="duan_left-congnhge">
                                                            <h3 class="h3-title">言語/テクノロジー</h3>
                                                            <div class="text">NodeJS, ReactJS, Video Processing,
                                                                Video Conference using WebRTC, Redis,
                                                                HLS LiveStreaming, FirebaseSDK, FirebaseMessaging</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_right img-cover">
                                                        <img src="images/img-index/ed-back.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>







                            <div class="item">
                                <div class="wp-slide-duan slide_vov">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_left">
                                                        <img src="images/img-index/Logo_VOV 1.png" alt="">
                                                        <div class="duan_left--des">
                                                            <p>VOV電子新聞のウェブサイト
                                                            </p>

                                                        </div>
                                                        <div class="duan_left-congnhge">
                                                            <h3 class="h3-title">言語/テクノロジー</h3>
                                                            <div class="text">NodeJS, ReactJS, NextJS, Redis, Crawler
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_right img-cover">
                                                        <img src="images/img-index/vov-back.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="item">
                                <div class="wp-slide-duan slide_vinh">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_left">
                                                        <img src="images/img-index/vinh-logo.png" alt="">
                                                        <div class="duan_left--des">
                                                            <p>大学管理システム：<br>
                                                                +試験を作成する<br>
                                                                +試験スケジュール、試験室、試験参加者の番号
                                                            </p>

                                                        </div>
                                                        <div class="duan_left-congnhge">
                                                            <h3 class="h3-title">言語/テクノロジー</h3>
                                                            <div class="text">C#, .NetCore, Angular 8, SQL Server</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_right img-cover">
                                                        <img src="images/img-index/vinh-back.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
 -->


                            <div class="item">
                                <div class="wp-slide-duan slide_edu">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_left">
                                                        <img src="images/img-index/edu-logo.png" alt="">
                                                        <div class="duan_left--des">
                                                            <p>ビデオでオンラインコースを提供するウェブサイト
                                                            </p>

                                                        </div>
                                                        <div class="duan_left-congnhge">
                                                            <h3 class="h3-title">言語/テクノロジー</h3>
                                                            <div class="text">PHP, MySQL</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_right img-cover">
                                                        <img src="images/img-index/edu-back.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="wp-slide-duan slide_vc">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_left">
                                                        <img src="images/img-index/vc-logo.png" alt="">
                                                        <div class="duan_left--des">
                                                            <p>自分の声を既存キャラクターの声（ロボット、シマリス、子供、老人など）に変えることができるアプリ

                                                            </p>

                                                        </div>
                                                        <div class="duan_left-congnhge">
                                                            <h3 class="h3-title">言語/テクノロジー</h3>
                                                            <div class="text">Swift, Audio Editor using fmod
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="duan_right img-cover">
                                                        <img src="images/img-index/vc.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section duan -->
        <section class="photo">
            <div class="container">
                <div class="title_section">
                    <h2 class="title_section--page">IT チームイメージ</h2>
                </div>
                <div class="content_section">
                    <div class="list_photo">
                        <div class="item_photo img-cover" data-aos="fade-in" data-aos-duration="1000"
                            data-aos-delay="100">
                            <img src="images/img-index/img-sinh-hoat-tcom1.png" alt="">
                        </div>
                        <div class="item_photo img-cover" data-aos="fade-in" data-aos-duration="1000"
                            data-aos-delay="200">
                            <img src="images/img-index/img-sinh-hoat-tcom2.png" alt="">
                        </div>
                        <div class="item_photo img-cover" data-aos="fade-in" data-aos-duration="1000"
                            data-aos-delay="300">
                            <img src="images/img-index/img-sinh-hoat-tcom3.png" alt="">
                        </div>
                        <div class="item_photo img-cover" data-aos="fade-in" data-aos-duration="1000"
                            data-aos-delay="400">
                            <img src="images/img-index/img-sinh-hoat-tcom4.png" alt="">
                        </div>
                        <div class="item_photo img-cover" data-aos="fade-in" data-aos-duration="1000"
                            data-aos-delay="500">
                            <img src="images/img-index/img-sinh-hoat-tcom5.png" alt="">
                        </div>
                        <div class="item_photo img-cover" data-aos="fade-in" data-aos-duration="1000"
                            data-aos-delay="600">
                            <img src="images/img-index/img-sinh-hoat-tcom6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section photo -->
    </main>
    <!-- end main -->

    <footer id="footer-site">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="wp_ft ft1">
                        <img src="images/img-index/logo-tcomjpFT.png" alt="">
                    </div>
                </div>
                <!-- end item ft -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="wp_ft ft2">
                        <div class="item">
                            <h2 class="h2-title">コネクション</h2>
                            <ul class="ul-b">
                                <li><a href="/">ホーム</a></li>
                                <li><a href="profile">企業情報</a></li>
                            </ul>
                        </div>
                        <div class="item">
                            <h2 class="h2-title">サービス</h2>
                            <ul class="ul-b">
                                <li><a href="cad">CADサービス</a></li>
                                <li><a href="serviceIT">ITサービス</a></li>
                                <li><a href="development">オフショア開発</a></li>
                                <li><a href="/#QA">よくあるご質問</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end item -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="wp_ft ft3">
                        <h2 class="h2-title">お問い合わせ</h2>
                        <div class="list_info">
                            <div class="item">
                                <div class="icon"><img src="images/img-index/jp.png" alt=""></div>
                                <div class="text">
                                    <h3 class="h3_title">日本法人</h3>
                                    <div class="des">東京都立川市で予定</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon"><img src="images/img-index/vn.png" alt=""></div>
                                <div class="text">
                                    <h3 class="h3_title">本社 (ベトナム)</h3>
                                    <div class="des">  本店所在地: <br>No. 26B/92, Group 11, Hoang Van Thu Ward, Hoang Mai District, Ha Noi, Viet Nam <br>
                                        営業オフィス: <br>9th floor, 389A-391 Truong Chinh Street, Thanh Xuan District, Ha Noi, Viet Nam
                                        <br>
                                        <a href="https://tcom.vn/">https://tcom.vn/</a></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon"><img src="images/img-index/phone.png" alt=""></div>
                                <div class="text">
                                    <h3 class="h3_title">電話番号</h3>
                                    <a href="tel:080-3217-7518">
                                        <div class="des">080 3217 7518</div>
                                    </a>

                                </div>
                            </div>
                            <div class="item">
                                <div class="icon"><img src="images/img-index/mail.png" alt=""></div>
                                <div class="text">
                                    <h3 class="h3_title">メール</h3>
                                    <a href="mailto:sales@tcom-japan.com">
                                        <div class="des">sales@tcom-japan.com</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="d-flex">
                    <div class="left">Copyright © 2021 by TCOM JAPAN</div>

                    <div class="right">
                        <ul class="ul-b list-social">
                            <li><a href="https://www.facebook.com/TCOM.Corporation/"><img src="images/img-index/fb.png"
                                alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- back to top -->
    <div class="back-tt">
        <a href="#sectop" id="back-to-top" title="Back to top" class="show"><i class="fas fa-arrow-circle-up"></i>
        </a>
    </div>
    <!-- menu mobile -->
    <div class="backdrop__body-backdrop___1rvky"></div>
    <div class="mobile-main-menu">
        <div id="close-nav" class="">
            <img src="images/img-index/clarity_close-line.png" alt="">
        </div>
        <div class="la-scroll-fix-infor-user menu-mobile">
            <div class="la-nav-menu-items">
                <ul class="la-nav-list-items ul-b">
                    <li class="ng-scope active"><a href="/">ホーム</a></li>
                    <li class="ng-scope"> <a href="/profile">会社概要</a></li>
                    <li class="ng-scope ng-has-child1"> <a href="/service">サービス<i class="fa fa-plus fa1"
                                aria-hidden="true"></i></a>
                        <ul class="ul-has-child1 ul-b">
                            <li class="ng-scope ng-has-child2"> <a href="/cad">CAD サービス</a>
                            </li>
                            <li class="ng-scope ng-has-child2"> <a href="/serviceIT">IT サービス</a>
                            </li>
                            <li class="ng-scope ng-has-child2"> <a href="/development">オフショア開発 サービス</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ng-scope"> <a href="/development">オフショア開発</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- js site -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/aos.js"></script>
    <script type="text/javascript" src="js/jquery.nicescroll.js"></script>
    <!-- js custom -->
    <script type="text/javascript" src="js/library.js"></script>

    <script type="text/javascript">
        AOS.init();
    </script>




</body>

</html>