<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TCOM Japan</title>

    <link rel="shortcut icon" href="images/img-index/favicon.png">
    <!-- font web -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <!-- css he thong -->
    <link rel="stylesheet" type="text/css" href="skins/style-b/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="skins/style-animate/animate.css">
    <!-- font icon -->
    <link rel="stylesheet" type="text/css" href="skins/style-icon/all.min.css">
    <link rel="stylesheet" type="text/css" href="skins/style-slide/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="skins/style-animate/aos.css">
    <link rel="stylesheet" type="text/css" href="skins/style.css">
    <!-- css dev backend -->
    <link rel="stylesheet" type="text/css" href="skins/custom.css">
</head>

<body>
    <header id="header-site">
        <div id="sticky-wrapper" class="sticky-wrapper">
            <div class="main-menu-bar sticky-header-enable">
                <div  id="top_header" class="top_header">
                    <div class="container">
                        <div class="box_top--header">
                            <div class="contact_mb">
                                <a href="tel:080-3217-7518">
                                    <div class="phone_mb"><img src="images/img-index/icon-phone-mb.png" alt=""></div>
                                </a>
                                <a href="/contact">
                                    <div class="mail_mb"><img src="images/img-index/icon-mail-mb.png" alt=""></div>
                                </a>
                            </div>
                            <div class="logo"><a class="navbar-brand" href="/"><img
                                        src="images/img-index/logo-tcomjp.png" alt=""></a></div>
                            <div class="right_pc">
                                <div class="phone-pc">
                                    <div class="icon">
                                        <img src="images/img-index/icon-phone2.png" alt="">
                                    </div>
                                    <div class="text">

                                        <div class="b"> <a href="tel:080-3217-7518">080-3217-7518 </a></div>

                                        <div class="c">[平日 10：00～18：00]</div>
                                    </div>
                                </div>
                                <div class="mail-pc">

                                    <div class="icon">
                                        <a href="/contact"> <img src="images/img-index/ant-design_mail-outlined.png"
                                                alt=""> </a>
                                    </div>
                                    <div class="text">
                                        <a href="/contact">
                                            <div class="b">問い合わせフォーム</div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="wp-icon-menu-bar">
                                <div id="trigger-mobile">
                                    <img src="images/img-index/fluent_navigation-24-regular.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main_menu">
                    <div class="container">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link " href="/">ホーム</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/profile">会社概要</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link active" href="/service">サービス</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item " href="/cad"><span><i
                                                        class="fas fa-caret-right"></i> &nbsp;CAD
                                                    サービス</span></a>
                                            <a class="dropdown-item" href="/serviceIT"><span><i
                                                        class="fas fa-caret-right"></i> &nbsp;IT
                                                    サービス</span></a>
                                            <a class="dropdown-item" href="/development"><span><i
                                                        class="fas fa-caret-right"></i> &nbsp;オフショア開発
                                                    サービス</span></a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/development">オフショア開発</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="/hire">採用情報</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    <main id="main-site">
        <section class="banner banner_page cad">
            <h1 class="h1_title--page">CAD サービス</h1>
            <div class="des_title--page">
                TCOM JAPANでは、ベトナムオフショアCADの拠点として、低コスト・スピード・優れた技術力で「日本水準の品質」を実現し、お客様のCAD業務をサポートしております
            </div>
        </section>
        <!-- end banner -->
        <section class="dich_vu--cad overflow-hidden">
            <div class="container">
                <div class="title_section">
                    <h2 class="title_section--page">こんなお悩み、問題ありませんか？</h2>
                </div>
                <div class="content_section">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                            <div class="left">
                                <ul class="ul-b list_info">
                                    <li>コスト削減したい
                                    </li>
                                    <li>CADオペレーターの人材が不足している
                                    </li>
                                    <li>2Ｄ図面から三次元モデル化が作れない</li>
                                    <li>求人に掛ける時間、コストがない。</li>
                                    <li>採用したCAD人材に、必要な教育をしている時間がない
                                    </li>
                                    <li>人を増やそうにもCADを追加購入する余裕がない
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                            <div class="right">
                                <img src="images/img-index/dich-vu-cad.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section 1 page phat trien -->
        <section class="section2_page--dich_vu--cad">
            <div class="container">
                <div class="title_section">
                    <h2 class="title_section--page">サービス</h2>
                </div>
                <div class="content_section">
                    <div class="content d-flex">
                        <div class="item d-flex align-items-center">
                            <img src="images/img-index/icon-check.png" alt="">
                            <span>CADトレース​</span>
                        </div>
                        <div class="item d-flex align-items-center">
                            <img src="images/img-index/icon-check.png" alt="">
                            <span>各種モデリング（2D図面から3Dへ変換) </span>
                        </div>
                        <div class="item d-flex align-items-center">
                            <img src="images/img-index/icon-check.png" alt="">
                            <span>製図（部品図面、組立図作成）</span>
                        </div>
                        <div class="item d-flex align-items-center">
                            <img src="images/img-index/icon-check.png" alt="">
                            <span>CAE解析​</span>
                        </div>
                        <div class="item d-flex align-items-center">
                            <img src="images/img-index/icon-check.png" alt="">
                            <span>機械設計支援</span>
                        </div>
                        <div class="item d-flex align-items-center">
                            <img src="images/img-index/icon-check.png" alt="">
                            <span>既存CADデータの修正/編集など</span>
                        </div>
                    </div>
                    <div class="text">
                        <h3 class="h3-des">対応業界 </h3>
                        <div class="des">建築（鉄骨建築、空間デザイン）自動車部品・生産設備・機械・自動機・板金の製造など。
                            <br> 様々な分野に対応しております
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section 2 page phat trien -->
        <section class="section3_page--dich_vu--cad">
            <div class="container">
                <div class="title_section">
                    <h2 class="title_section--page">対応CADソフト</h2>
                </div>
                <div class="content_section">
                    <div class="content d-flex">
                        <div class="item d-flex align-items-center">
                            <img src="images/img-index/icon-check2.png" alt="">
                            <span>Autocad</span>
                        </div>
                        <div class="item d-flex align-items-center">
                            <img src="images/img-index/icon-check2.png" alt="">
                            <span>Caita v5</span>
                        </div>
                        <div class="item d-flex align-items-center">
                            <img src="images/img-index/icon-check2.png" alt="">
                            <span>Inventor</span>
                        </div>
                        <div class="item d-flex align-items-center">
                            <img src="images/img-index/icon-check2.png" alt="">
                            <span>Solid works</span>
                        </div>
                        <div class="item d-flex align-items-center">
                            <img src="images/img-index/icon-check2.png" alt="">
                            <span>NX</span>
                        </div>
                        <div class="item d-flex align-items-center">
                            <img src="images/img-index/icon-check2.png" alt="">
                            <span>Revit 2017</span>
                        </div>
                    </div>
                    <div class="text">
                        <div class="des">その他ソフトも使用な場合もありますので、ご相談ください。
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section 3 page phat trien -->
        <section class="section4_page--dich_vu--cad">
            <div class="container">
                <div class="title_section">
                    <h2 class="title_section--page">契約まで主な流れ</h2>
                </div>
                <div class="content_section">
                    <div class="content d-flex">
                        <div class="item d-flex align-items-center">
                            <div class="step">STEP 1</div>
                            <div class="des">ご相談・ヒアリング</div>
                            <div class="icon"><img src="images/img-index/icon-step1.png" alt=""></div>
                        </div>
                        <div class="item d-flex align-items-center">
                            <div class="step">STEP 2</div>
                            <div class="des">ご提案・お見積</div>
                            <div class="icon"><img src="images/img-index/icon-step2.png" alt=""></div>
                        </div>
                        <div class="item d-flex align-items-center">
                            <div class="step">STEP 3</div>
                            <div class="des">契約締結</div>
                            <div class="icon"><img src="images/img-index/icon-step3.png" alt=""></div>
                        </div>
                        <div class="item d-flex align-items-center">
                            <div class="step">STEP 4</div>
                            <div class="des">業務開始</div>
                            <div class="icon"><img src="images/img-index/icon-step4.png" alt=""></div>
                        </div>
                        <div class="item d-flex align-items-center">
                            <div class="step">STEP 5</div>
                            <div class="des">納品</div>
                            <div class="icon"><img src="images/img-index/icon-step5.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section 4 page phat trien -->
        <section class="section5_page--dich_vu--cad">
            <div class="container">
                <div class="title_section">
                    <h2 class="title_section--page">サンプル無償作成</h2>
                </div>
                <div class="content_section">
                    <div class="text_content">

                        お見積もりの段階で　ご希望のお客様にはサンプルを無料で作成致します。<br>
                        コスト削減の効果や品質を実感して頂く為にも、ぜひご利用下さいませ。<br>
                        サンプル作成をご希望のお客様はあらかじめ作成資料をお送り下さい。<br>


                    </div>
                </div>
            </div>
        </section>
        <!-- end section 5 page phat trien -->
        <section class="section6_page--dich_vu--cad">
            <div class="container">
                <div class="title_section">
                    <h2 class="title_section--page">CADチーム管理者紹介/ベトナム
                    </h2>
                </div>
                <div class="content_section">
                    <div class="content d-flex">
                        <div class="wp_table left">
                            <table class="tableン">
                                <tbody>
                                    <tr>
                                        <td colspan="2">グエン ヴァン クォン
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2005年</td>
                                        <td>大学卒業
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2006年～2014年</td>
                                        <td>日産テクノベトナムで解析グループ
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2015年
                                        </td>
                                        <td>来日
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2015年～2019年
                                        </td>
                                        <td>(株)広島マツダ解析グループ
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2019年</td>
                                        <td>帰国後CAD事業創業
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="wp_table right">
                            <table class="tableン">
                                <tbody>
                                    <tr>
                                        <td colspan="2">マイ クォック クォン
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2005年
                                        </td>
                                        <td>大学卒業
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2006年～2011年</td>
                                        <td>日産テクノベトナムで設計グループ</td>
                                    </tr>
                                    <tr>
                                        <td>2012年～2014年</td>
                                        <td>事業情報企画 （株）</td>
                                    </tr>
                                    <tr>
                                        <td>2014年</td>
                                        <td>来日
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2014年～2019年
                                        </td>
                                        <td>太陽工業（株）設計グループ</td>
                                    </tr>
                                    <tr>
                                        <td>2019年</td>
                                        <td>帰国後 CAD事業創業</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="duan-nb">
            <div class="wp_section--content">
                <div class="title_section">
                    <h2 class="title_section--page">実績</h2>
                </div>
                <div class="content_section">
                    <div class="slide_duan" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        <div id="slider-duan" class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="wp-slide-duan slide_cad">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">

                                                <div class="duan_center">
                                                    <img src="images/img-index/cad_1.png" alt="">

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wp-slide-duan slide_cad">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">

                                                <div class="duan_center">
                                                    <img src="images/img-index/cad_2.png" alt="">

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wp-slide-duan slide_cad">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">

                                                <div class="duan_center">
                                                    <img src="images/img-index/cad_3.png" alt="">

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wp-slide-duan slide_cad">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">

                                                <div class="duan_center">
                                                    <img src="images/img-index/cad_4.png" alt="">

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wp-slide-duan slide_cad">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">

                                                <div class="duan_center">
                                                    <img src="images/img-index/cad_5.png" alt="">

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wp-slide-duan slide_cad">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">

                                                <div class="duan_center">
                                                    <img src="images/img-index/cad_6.png" alt="">

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wp-slide-duan slide_cad">
                                    <div class="wp-padding">
                                        <div class="container">
                                            <div class="row">

                                                <div class="duan_center">
                                                    <img src="images/img-index/cad_7.png" alt="">

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section duan -->
        <section class="photo">
            <div class="container">
                <div class="title_section">
                    <h2 class="title_section--page">CAD チームイメージ</h2>
                </div>
                <div class="content_section">
                    <div class="list_photo">
                        <div class="item_photo img-cover" data-aos="fade-in" data-aos-duration="1000"
                            data-aos-delay="100">
                            <img src="images/img-index/img-sinh-hoat-tcom7.png" alt="">
                        </div>
                        <div class="item_photo img-cover" data-aos="fade-in" data-aos-duration="1000"
                            data-aos-delay="200">
                            <img src="images/img-index/img-sinh-hoat-tcom8.png" alt="">
                        </div>
                        <div class="item_photo img-cover" data-aos="fade-in" data-aos-duration="1000"
                            data-aos-delay="300">
                            <img src="images/img-index/img-sinh-hoat-tcom9.png" alt="">
                        </div>
                        <div class="item_photo img-cover" data-aos="fade-in" data-aos-duration="1000"
                            data-aos-delay="400">
                            <img src="images/img-index/img-sinh-hoat-tcom10.png" alt="">
                        </div>
                        <div class="item_photo img-cover" data-aos="fade-in" data-aos-duration="1000"
                            data-aos-delay="500">
                            <img src="images/img-index/img-sinh-hoat-tcom11.png" alt="">
                        </div>
                        <div class="item_photo img-cover" data-aos="fade-in" data-aos-duration="1000"
                            data-aos-delay="600">
                            <img src="images/img-index/img-sinh-hoat-tcom12.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section 6 page phat trien -->
    </main>
    <!-- end main -->
    <footer id="footer-site">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="wp_ft ft1">
                        <img src="images/img-index/logo-tcomjpFT.png" alt="">
                    </div>
                </div>
                <!-- end item ft -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="wp_ft ft2">
                        <div class="item">
                            <h2 class="h2-title">コネクション</h2>
                            <ul class="ul-b">
                                <li><a href="/">ホーム</a></li>
                                <li><a href="profile">企業情報</a></li>
                            </ul>
                        </div>
                        <div class="item">
                            <h2 class="h2-title">サービス</h2>
                            <ul class="ul-b">
                                <li><a href="cad">CADサービス</a></li>
                                <li><a href="serviceIT">ITサービス</a></li>
                                <li><a href="development">オフショア開発</a></li>
                                <li><a href="/#QA">よくあるご質問</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end item -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="wp_ft ft3">
                        <h2 class="h2-title">お問い合わせ</h2>
                        <div class="list_info">
                            <div class="item">
                                <div class="icon"><img src="images/img-index/jp.png" alt=""></div>
                                <div class="text">
                                    <h3 class="h3_title">日本法人</h3>
                                    <div class="des">東京都立川市で予定</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon"><img src="images/img-index/vn.png" alt=""></div>
                                <div class="text">
                                    <h3 class="h3_title">本社 (ベトナム)</h3>
                                    <div class="des">  本店所在地: <br>No. 26B/92, Group 11, Hoang Van Thu Ward, Hoang Mai District, Ha Noi, Viet Nam <br>
                                        営業オフィス: <br>9th floor, 389A-391 Truong Chinh Street, Thanh Xuan District, Ha Noi, Viet Nam
                                        <br>
                                        <a href="https://tcom.vn/">https://tcom.vn/</a></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon"><img src="images/img-index/phone.png" alt=""></div>
                                <div class="text">
                                    <h3 class="h3_title">電話番号</h3>
                                    <a href="tel:080-3217-7518">
                                        <div class="des">080 3217 7518</div>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon"><img src="images/img-index/mail.png" alt=""></div>
                                <div class="text">
                                    <h3 class="h3_title">メール</h3>
                                    <a href="mailto:sales@tcom-japan.com">
                                        <div class="des">sales@tcom-japan.com</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="d-flex">
                    <div class="left">Copyright © 2021 by TCOM JAPAN</div>

                    <div class="right">
                        <ul class="ul-b list-social">
                            <li><a href="https://www.facebook.com/TCOM.Corporation/"><img src="images/img-index/fb.png"
                                alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- back to top -->
    <div class="back-tt">
        <a href="#sectop" id="back-to-top" title="Back to top" class="show"><i class="fas fa-arrow-circle-up"></i>
        </a>
    </div>

    <!-- menu mobile -->
    <div class="backdrop__body-backdrop___1rvky"></div>
    <div class="mobile-main-menu">
        <div id="close-nav" class="">
            <img src="images/img-index/clarity_close-line.png" alt="">
        </div>
        <div class="la-scroll-fix-infor-user menu-mobile">
            <div class="la-nav-menu-items">
                <ul class="la-nav-list-items ul-b">
                    <li class="ng-scope active"><a href="/">ホーム</a></li>
                    <li class="ng-scope"> <a href="/profile">会社概要</a></li>
                    <li class="ng-scope ng-has-child1"> <a href="/service">サービス<i class="fa fa-plus fa1"
                                aria-hidden="true"></i></a>
                        <ul class="ul-has-child1 ul-b">
                            <li class="ng-scope ng-has-child2"> <a href="/cad">CAD サービス</a>
                            </li>
                            <li class="ng-scope ng-has-child2"> <a href="/serviceIT">IT サービス</a>
                            </li>
                            <li class="ng-scope ng-has-child2"> <a href="/development">オフショア開発 サービス</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ng-scope"> <a href="/development">オフショア開発</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- js site -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/aos.js"></script>
    <script type="text/javascript" src="js/jquery.nicescroll.js"></script>
    <!-- js custom -->
    <script type="text/javascript" src="js/library.js"></script>

    <script type="text/javascript">
        AOS.init();
    </script>




</body>

</html>