<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TCOM Japan</title>

    <link rel="shortcut icon" href="images/img-index/favicon.png">
    <!-- font web -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <!-- css he thong -->
    <link rel="stylesheet" type="text/css" href="skins/style-b/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="skins/style-animate/animate.css">
    <!-- font icon -->
    <link rel="stylesheet" type="text/css" href="skins/style-icon/all.min.css">
    <link rel="stylesheet" type="text/css" href="skins/style-slide/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="skins/style-animate/aos.css">
    <link rel="stylesheet" type="text/css" href="skins/style.css">
    <!-- css dev backend -->
    <link rel="stylesheet" type="text/css" href="skins/custom.css">
</head>

<body>

    <header id="header-site">
        <div id="sticky-wrapper" class="sticky-wrapper">
            <div class="main-menu-bar sticky-header-enable">
                <div id="top_header" class="top_header">
                    <div class="container">
                        <div class="box_top--header">
                            <div class="contact_mb">
                                <a href="tel:080-3217-7518">
                                    <div class="phone_mb"><img src="images/img-index/icon-phone-mb.png" alt=""></div>
                                </a>
                                <a href="/contact">
                                    <div class="mail_mb"><img src="images/img-index/icon-mail-mb.png" alt=""></div>
                                </a>
                            </div>
                            <div class="logo"><a class="navbar-brand" href="/"><img
                                        src="images/img-index/logo-tcomjp.png" alt=""></a></div>
                            <div class="right_pc">
                                <div class="phone-pc">
                                    <div class="icon">
                                        <img src="images/img-index/icon-phone2.png" alt="">
                                    </div>
                                    <div class="text">

                                        <div class="b"> <a href="tel:080-3217-7518">080-3217-7518 </a></div>

                                        <div class="c">[平日 10：00～18：00]</div>
                                    </div>
                                </div>
                                <div class="mail-pc">

                                    <div class="icon">
                                        <a href="/contact"> <img src="images/img-index/ant-design_mail-outlined.png"
                                                alt=""> </a>
                                    </div>
                                    <div class="text">
                                        <a href="/contact">
                                            <div class="b">問い合わせフォーム</div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="wp-icon-menu-bar">
                                <div id="trigger-mobile">
                                    <img src="images/img-index/fluent_navigation-24-regular.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="main_menu" class="main_menu">
                    <div class="container">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/">ホーム</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/profile">会社概要</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="/service">サービス</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/cad"><span><i
                                                        class="fas fa-caret-right"></i> &nbsp;CAD
                                                    サービス</span></a>
                                            <a class="dropdown-item" href="/serviceIT"><span><i
                                                        class="fas fa-caret-right"></i> &nbsp;IT
                                                    サービス</span></a>
                                            <a class="dropdown-item" href="/development"><span><i
                                                        class="fas fa-caret-right"></i> &nbsp;オフショア開発
                                                    サービス</span></a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/development">オフショア開発</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="/hire">採用情報</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    <h1 class="h1-seo d-none">Truyền thông TCOM Japan</h1>
    <!-- h1 seo -->
    <main id="main-site">
        <section class="banner">
            <div id="slider-home" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="slide_banner">
                        <div class="img_slider--main img-cover">
                            <img src="images/img-index/slide-1.png"></img>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slide_banner">
                        <div class="img_slider--main img-cover">
                            <img src="images/img-index/slide-2.png">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slide_banner">
                        <div class="img_slider--main img-cover">
                            <img src="images/img-index/slide-3.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end banner -->
        <section class="about overflow-hidden">
            <div class="container">
                <div class="content_section">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="title_section" data-aos="fade-down" data-aos-duration="500"
                                data-aos-delay="200">
                                <h2 class="title_section--style">TCOM JAPAN について​</h2>
                            </div>
                            <div class="left_about" data-aos="fade-left" data-aos-duration="500" data-aos-delay="200">
                                <div class="left_about--desc">
                                    TCOM JAPANは各種CAD分野やIT分野などのオフショア開発サービスを提供しているベトナム会社です。 <br> <br>
                                    開発拠点を日本からベトナムへ移行することで、コストを抑えながらも優れた技術力で「日本水準の品質」をお届けます。
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="right_about" data-aos="fade-right" data-aos-duration="500" data-aos-delay="200">
                                <img src="images/img-index/img-info-tcomjapan.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section about -->
        <section class="hop-tac">
            <div class="container">
                <div class="title_section" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    <h2 class="title_section--style">サービス​</h2>
                </div>
                <div class="content_section">
                    <div class="wp-hop-tac">
                        <div class="hop_tac hop-tac-left" data-aos="fade-up" data-aos-duration="500"
                            data-aos-delay="300">
                            <a href="/cad">
                                <div class="img">
                                    <img src="images/img-index/dich-vu-cad-tcom-japan.png" alt="">
                                </div>
                                <div class="title">
                                    <h3 class="h3_title">CAD サービス</h3>
                                </div>
                            </a>
                        </div>
                        <div class="hop_tac hop-tac-center" data-aos="fade-up" data-aos-duration="500"
                            data-aos-delay="500">
                            <a href="/serviceIT">
                                <div class="img">
                                    <img src="images/img-index/dich-vu-it-tcom-japan.png" alt="">
                                </div>
                                <div class="title">
                                    <h3 class="h3_title">IT サービス</h3>
                                </div>
                            </a>
                        </div>
                        <div class="hop_tac hop-tac-right" data-aos="fade-up" data-aos-duration="500"
                            data-aos-delay="700">
                            <a href="/development">
                                <div class="img">
                                    <img src="images/img-index/dich-vu-pt-tcom-japan.png" alt="">
                                </div>
                                <div class="title">
                                    <h3 class="h3_title">オフショア開発 サービス</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end sec hop tac -->
        <section class="info2">
            <div class="container">
                <div class="title_section" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    <h2 class="title_section--style">TCOM JAPANが選ばれる理由</h2>
                </div>
                <div class="content_section">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                                <div class="left_info2" data-aos="fade-left" data-aos-duration="500"
                                    data-aos-delay="200">
                                    <ul class="ul-b">
                                        <li>
                                            <div class="stt">01.</div>
                                            <div class="text">初めてのお客様にパイロット案件として小規模から対応可能。
                                            </div>
                                        </li>
                                        <li>
                                            <div class="stt">02.</div>
                                            <div class="text">全ての仕事や業務において日本語対応を致します。</div>
                                        </li>
                                        <li>
                                            <div class="stt">03.</div>
                                            <div class="text">東京に日本法人があり、直接にお客様を支援。</div>
                                        </li>
                                        <li>
                                            <div class="stt">04.</div>
                                            <div class="text">様々な分野で200案件実績がございます。</div>
                                        </li>
                                        <li>
                                            <div class="stt">05.</div>
                                            <div class="text">優秀かつ安価なベトナム人材の活用頂くことで、お客様のコスト削減に寄与します。</div>
                                        </li>
                                        <li>
                                            <div class="stt">06.</div>
                                            <div class="text">日本人も常駐していますので、詳細な課題も解決できます。</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                                <div class="right_info2 img-cover" data-aos="fade-right" data-aos-duration="500"
                                    data-aos-delay="200">
                                    <img src="images/img-index/the-manh-tcom-japan.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section hop tac -->
        <section class="quytrinh">
            <div class="container">
                <div class="title_section" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    <h2 class="title_section--style">開発モデル​</h2>
                </div>
                <div class="content_section">
                    <div class="img-quytrinh" data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">
                        <img src="images/img-index/mo-hinh-phat-trien-tcom-japan.png" alt="">
                    </div>
                    <div class="text_quytrinh">
                        <ul class="ul-b">
                            <li data-aos="fade-right" data-aos-duration="500" data-aos-delay="200">お客様</li>
                            <li data-aos="fade-right" data-aos-duration="500" data-aos-delay="400">TCOM JAPAN <br>(窓口)
                            </li>
                            <li data-aos="fade-right" data-aos-duration="500" data-aos-delay="600">TCOM<br>(実務)</li>
                        </ul>
                        <p class="text-center">※契約締結先、お支払い窓口はTCOM JAPANとなります。</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section quy trinh -->
        <section class="sec_info" id="QA">
            <div class="container">
                <div class="title_section" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    <h2 class="title_section--style">Q&A <br>よくあるご質問</h2>
                </div>
                <div class="content_section" data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">
                    <div class="des_section text-center">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button"
                                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            契約はベトナム法人と日本法人のどちらと締結すればよいですか？
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        基本的に弊社の日本法人と契約を締結してください。そうしていただくことで、送金などの事務手続きが安易にできます。ただし、開発実務はベトナム法人で実施いたしますので、弊社の日本法人からベトナム法人に再委託することをご了承いただく必要があります。
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            オフショア開発の契約は日本語で可能ですか？
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        弊社は、日本法人を設立しております。従いまして、商務関係の契約書、仕様書などは、すべて日本語で対応いたします。
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            オフショア開発は、日本語での対応は可能ですか？
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body"> 弊社ではオフショア開発を行う際には、日本語が堪能なエンジニアをブリッジSEとして担当させます。<br>
                                        従いまして、実務はすべて日本語で対応ください。仕様書などの書類、打合せはもちろん、弊社からご提出する成果物も日本語でご提出いたします。</div>
                                </div>
                            </div>
                            <!-- end item -->
                            <div class="card">
                                <div class="card-header" id="heading4">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse4" aria-expanded="false"
                                            aria-controls="collapse4">
                                            オフショア開発は初めてですが、うまくいきますか。
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse4" class="collapse" aria-labelledby="heading4"
                                    data-parent="#accordionExample">
                                    <div class="card-body">オフショア開発を始めて行う場合には、いろいろなご心配があると思います。<br>
                                        たとえば、英語を使わなければならないのではないか、仕様変更をすると大幅に費用が要求されるのではないか、品質が良くないのではないか、納期が守られないのではないか、などなど。<br>

                                        弊社は、日本法人がありますので、まずはご相談ください。日本人と日本語を話すベトナム人スタッフが対応致します。<br>
                                        そして、御社のオフショア開発が成功を収めるように計画致します。<br>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->
                            <div class="card">
                                <div class="card-header" id="heading5">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse5" aria-expanded="false"
                                            aria-controls="collapse5">
                                            開発モデルはどちらにしますか？
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse5" class="collapse" aria-labelledby="heading5"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        開発モデルはシステムの目的や状況に応じて選択できます。弊社ではウォーターフォール型とアジャイル型のどちらでも対応可能です。<br>
                                        そうでなければ、状況をお客様と相談した上で決めさせていただきます。 </div>
                                </div>
                            </div>
                            <!-- end item -->
                            <div class="card">
                                <div class="card-header" id="heading6">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse6" aria-expanded="false"
                                            aria-controls="collapse6">
                                            開発チームの技術力は高いのですか？
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse6" class="collapse" aria-labelledby="heading5"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        弊社はエンジニアのおよそ８０％がハノイ工科大学の卒業生です。<br>
                                        そのため、個々のエンジニアはソフトウエアの開発について経験と高い技術力を持っております。また、常日頃から最新の技術情報について研鑽を積んでおります。</div>
                                </div>
                            </div>
                            <!-- end item -->
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- end sec info -->
    </main>
    <!-- end main -->
    <footer id="footer-site">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="wp_ft ft1">
                        <img src="images/img-index/logo-tcomjpFT.png" alt="">
                    </div>
                </div>
                <!-- end item ft -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="wp_ft ft2">
                        <div class="item">
                            <h2 class="h2-title">コネクション</h2>
                            <ul class="ul-b">
                                <li><a href="/">ホーム</a></li>
                                <li><a href="profile">企業情報</a></li>
                            </ul>
                        </div>
                        <div class="item">
                            <h2 class="h2-title">サービス</h2>
                            <ul class="ul-b">
                                <li><a href="cad">CADサービス</a></li>
                                <li><a href="serviceIT">ITサービス</a></li>
                                <li><a href="development">オフショア開発</a></li>
                                <li><a href="/#QA">よくあるご質問</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end item -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="wp_ft ft3">
                        <h2 class="h2-title">お問い合わせ</h2>
                        <div class="list_info">
                            <div class="item">
                                <div class="icon"><img src="images/img-index/jp.png" alt=""></div>
                                <div class="text">
                                    <h3 class="h3_title">日本法人</h3>
                                    <div class="des">東京都立川市で予定</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon"><img src="images/img-index/vn.png" alt=""></div>
                                <div class="text">
                                    <h3 class="h3_title">本社 (ベトナム)</h3>
                                    <div class="des">  本店所在地: <br>No. 26B/92, Group 11, Hoang Van Thu Ward, Hoang Mai District, Ha Noi, Viet Nam <br>
                                        営業オフィス: <br>9th floor, 389A-391 Truong Chinh Street, Thanh Xuan District, Ha Noi, Viet Nam
                                        <br>
                                        <a href="https://tcom.vn/">https://tcom.vn/</a></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon"><img src="images/img-index/phone.png" alt=""></div>
                                <div class="text">
                                    <h3 class="h3_title">電話番号</h3>
                                    <a href="tel:080-3217-7518">
                                        <div class="des">080 3217 7518</div>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon"><img src="images/img-index/mail.png" alt=""></div>
                                <div class="text">
                                    <h3 class="h3_title">メール</h3>
                                    <a href="mailto:sales@tcom-japan.com">
                                        <div class="des">sales@tcom-japan.com</div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="d-flex">
                    <div class="left">Copyright © 2021 by TCOM JAPAN</div>

                    <div class="right">
                        <ul class="ul-b list-social">
                            <li><a href="https://www.facebook.com/TCOM.Corporation/"><img src="images/img-index/fb.png"
                                        alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- back to top -->
    <div class="back-tt">
        <a href="#sectop" id="back-to-top" title="Back to top" class="show"><i class="fas fa-arrow-circle-up"></i>



<!-- 
            <p>す</p>

            <p>ま</p>
            <p>し</p>
            <p>ル</p>
            <p>ー</p>
            <p>ロ</p>
            <p>ク</p>
            <p>ス</p>
            <p>で</p>
            <p>ま</p>
            <p>上</p>
            <p>番</p>
            <p>一</p> -->
        </a>
    </div>


    <!-- menu mobile -->
    <div class="backdrop__body-backdrop___1rvky"></div>
    <div class="mobile-main-menu">
        <div id="close-nav" class="">
            <img src="images/img-index/clarity_close-line.png" alt="">
        </div>
        <div class="la-scroll-fix-infor-user menu-mobile">
            <div class="la-nav-menu-items">
                <ul class="la-nav-list-items ul-b">
                    <li class="ng-scope active"><a href="/">ホーム</a></li>
                    <li class="ng-scope"> <a href="/profile">会社概要</a></li>
                    <li class="ng-scope ng-has-child1"> <a href="/service">サービス<i class="fa fa-plus fa1"
                                aria-hidden="true"></i></a>
                        <ul class="ul-has-child1 ul-b">
                            <li class="ng-scope ng-has-child2"> <a href="/cad">CAD サービス</a>
                            </li>
                            <li class="ng-scope ng-has-child2"> <a href="/serviceIT">IT サービス</a>
                            </li>
                            <li class="ng-scope ng-has-child2"> <a href="/development">オフショア開発 サービス</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ng-scope"> <a href="/development">オフショア開発</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- js site -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/aos.js"></script>
    <script type="text/javascript" src="js/jquery.nicescroll.js"></script>
    <!-- js custom -->
    <script type="text/javascript" src="js/library.js"></script>

    <script type="text/javascript">
        AOS.init();
    </script>




</body>

</html>