<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <title>Osahan Eat - Online Food Ordering Website HTML Template</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- Custom Css -->
    <!-- <link href="skin/css/styles.css" rel="stylesheet" /> -->
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="image/favicon.png">
    <!-- Bootstrap core CSS-->
    <link href="skin/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/all.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/icofont.min.css" rel="stylesheet">
    <!-- Select2 CSS-->
    <link href="skin/font/select2.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="skin/font/osahan.css" rel="stylesheet">
    <!-- Dropzone-->
    <link href="skin/font/dropzone.css" rel="stylesheet">
    <!-- HungCSS -->
    <link href="skin/font/HungCSS.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="skin/owl/owl.carousel.css">
    <link rel="stylesheet" href="skin/owl/owl.theme.css">

    <link href="skin/font/DoanCSS.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm ">
        <div class="container">
            <a class="navbar-brand" href="/"><img alt="logo" style="max-width: 120px;" src="image/logoShop.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span
                        class="navbar-toggler-icon"></span>
                </button>






            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <div class="modal fade modal-search show modalsearch" id="modal-search" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <span class="close" data-dismiss="modal">
                                        <div class="close-icon">X</div>
                                    </span>
                                <div class="modal-search-form" id="search_form">
                                    <span class="sub-title">Tìm kiếm các quán ăn.......</span>
                                    <form>
                                        <input type="text" class="search-input" id="search-input">
                                    </form>
                                </div>
                                <div id="suggest"></div>
                            </div>
                        </div>
                    </div>
                    <li class="nav-item active">
                        <span class="sizeIcon" data-toggle="modal" data-target="#modal-search">
                                <i class="icofont-search-property nav-link" style="padding-top: 20px !important; cursor: pointer;"></i>
                            </span>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Trang Chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Offers"><i class="icofont-sale-discount"></i> Ưu Đãi <span
                                    class="badge badge-danger">Mới</span></a>
                    </li>
                    <li id="checkLogin"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutUs"><i class="fa fa-info-circle" style="font-size: large;"></i> Giới thiệu </a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <section class="section pt-5 pb-5 osahan-not-found-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center pt-5 pb-5">
                    <img class="img-fluid" src="image/404.png" alt="404" style="height: 70% !important;">
                    <h1 class="mt-2 mb-2">Không tìm thấy trang</h1>
                    <p>Ồ! Có vẻ như trang bạn đang cố gắng truy cập không tồn tại. <br>Vui lòng bắt đầu lại.</p>
                    <a class="btn btn-primary btn-lg" href="/">Về Trang Chủ</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-5 pb-5 text-center bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="m-0">Điều hành cửa hàng hoặc nhà hàng? <a href="/LoginUser" style="color: red !important;">Làm việc với chúng tôi</a></h5>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="containers">
            <!--Bắt Đầu Nội Dung Giới Thiệu-->
            <div class="noi-dung about">
                <h2>Về Chúng Tôi</h2>
                <p style="margin-right: 80px;"> FU Market được thành lập bởi nhóm đồ án SWP490 - G31 với mục đích giúp sinh viên và cán bộ tại ĐH FPT có một trang website mua bán các mặt hàng thực phẩm và đồ uống một cách tiện lợi nhất . Được phát triển
                    năm 2021, sản phẩm đang dần được hoàn thiện và sẽ sớm có mặt dưới dạng ứng dụng ,tích hợp các cổng thanh toán điện tử . Chúng tôi rất mong nhận được nhiều sự góp ý đến từ người sử dụng để hệ thống
                    ngày càng phát triển.</p>
            </div>
            <!--Kết Thúc Nội Dung Giới Thiệu-->
            <!--Bắt Đầu Nội Dung Đường Dẫn-->
            <div class="noi-dung links">
                <h2>Đường Dẫn</h2>
                <ul style="padding-left: 0px;">
                    <li><a href="/">Trang Chủ</a></li>
                    <li><a href="/aboutUs">Về Chúng Tôi</a></li>
                    <li><a href="/aboutUs">Thông Tin Liên Lạc</a></li>
                    <li><a href="/aboutUs">Dịch Vụ</a></li>
                    <li><a href="/aboutUs">Điều Kiện Chính Sách</a></li>
                </ul>
            </div>
            <!--Kết Thúc Nội Dung Đường Dẫn-->
            <!--Bắt Đâu Nội Dung Liên Hệ-->
            <div class="noi-dung contact">
                <h2>Thông Tin Liên Hệ</h2>
                <ul class="info" style="padding-left: 0px;">
                    <li>
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>Đường Số 1<br />
                            Đường 1, Thủ Đô Hà Nội<br />
                            Việt Nam</span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone"></i></span>
                        <p><a href="#">0916.788.111 (Mr. Đoàn)</a>
                            <br/>
                        </p>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope"></i></span>
                        <p><a href="#">fu.market.2021@gmail.com</a>
                            <br />
                        </p>
                    </li>
                </ul>
            </div>
            <!--Kết Thúc Nội Dung Liên Hệ-->
        </div>
    </footer>
    <!-- jQuery -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Select2 JavaScript-->
    <script src="js/select2.min.js"></script>
    <!-- Owl Carousel -->
    <script src="js/owl.carousel.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/custom.js"></script>
    <script src="js/header.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../../customJS/shopDetail.js"></script>
</body>

</html>