<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <title>FUMK - Online Food Ordering</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="skin/css/styles.css" rel="stylesheet">
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="image/favicon.png">
    <!-- Bootstrap core CSS-->
    <link href="skin/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/all.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/icofont.min.css" rel="stylesheet">
    <!-- Select2 CSS-->
    <link href="skin/font/select2.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="skin/font/osahan.css" rel="stylesheet">
    <!-- Dropzone-->
    <link href="skin/font/dropzone.css" rel="stylesheet">
    <!-- HungCSS -->
    <link href="skin/font/HungCSS.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="skin/owl/owl.carousel.css">
    <link rel="stylesheet" href="skin/owl/owl.theme.css">

    <link href="skin/font/DoanCSS.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        label:hover {
            cursor: pointer;
        }
        
        .rounded-pill:hover {
            background-color: #f0f2f5;
        }
        
        .heartCheck {
            position: absolute;
            left: -100vw;
        }
        
        .icofont-heart:hover {
            color: red;
        }
        
        #check {
            color: red;
        }
        
        #uncheck {
            color: gray;
        }
        
        #notifies::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        
        #notifies::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }
        
        #notifies::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
        }
        
        .banner_page {
            margin-top: 5rem;
            height: 24.5rem;
            background: url(/image/nenfpt1.jpg);
            background-size: 100% 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        
        .h1_title--page {
            font-style: normal;
            font-weight: bold;
            font-size: 4rem;
            line-height: 1;
            text-align: center;
            letter-spacing: -0.01rem;
            color: #f0f2f5;
        }
        
        .mains {
            padding-top: 4.0625rem;
            margin-bottom: 3.4375rem;
        }
        
        .h3_title {
            font-style: normal;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.4;
            color: #ff3008;
            margin-bottom: 1.875rem;
        }
        
        .des {
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.4;
            color: #404066;
        }
        
        .des p {
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.4;
            color: #404066;
            text-indent: 23px;
        }
        
        .indents {
            text-indent: 23px;
        }
    </style>

</head>

<body>
    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm ">
            <div class="container">
                <a class="navbar-brand" href="/"><img alt="logo" style="max-width: 120px;" src="image/logoShop.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span
                        class="navbar-toggler-icon"></span>
                </button>
                <div class="modal fade modalsearch" id="productDetail" role="dialog" style="opacity: unset;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="padding-bottom: 15px; margin-left: 170px; width: 70% !important;">
                            <div>
                                <div class="container" style="display: block;">
                                    <div class="detail-image">
                                        <img src="/image/1.jpg" id="imageProduct" style="width: 90%;">
                                    </div>
                                    <div class="detail-info">
                                        <div class="kind-restaurants">
                                            <span>Shop
                                                <span style="padding-left: 10px;"> -
                                                    <a href="#" class="link-brand" id="locationShop"></a>
                                                </span>
                                            </span>
                                        </div>
                                        <h1 class="name-restaurant" id="nameProduct"></h1>
                                        <div class="address-restaurant" id="addressShop"></div>
                                        <div class="status-restaurant">
                                            <div class="time-status" id="shop_status">
                                            </div>
                                            <div class="time" id="timeOpen">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                        <div class="priceProduct" id="priceProduct">
                                            <i class="fa fa-money"></i>
                                        </div>
                                        <div class="descriptionProduct" id="descriptionProduct"></div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="modal-content bg-white rounded shadow-sm p-4 mt-3 restaurant-detailed-ratings-and-reviews" style="padding-bottom: 15px; margin-left: 170px; width: 70% !important;">
                            <h5 class="mb-1"><i class="fa fa-comments mr-2" aria-hidden="true"></i>Tất cả bình luận</h5>
                            <div id="listComment">
                                <div id="replyFeedback">
                                </div>
                            </div>
                        </div>
                        <!-- <a class="text-center w-100 d-block font-weight-bold" href="#">See All Reviews</a> -->

                        <div class="modal-content bg-white rounded shadow-sm p-4 mb-5 mt-3 rating-review-select-page" style="padding-bottom: 15px; margin-left: 170px; width: 70% !important;">
                            <h5 class="mb-4">Để lại bình luận</h5>
                            <form>
                                <div class="form-group">
                                    <label>Bình luận của bạn</label>
                                    <textarea class="form-control" id="textComment"></textarea>
                                    <span class="form-message text-danger" id="messageComment"></span>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-sm" type="button" id="submitComment"> Gửi bình
                                        luận</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade modal" id="deleteComment" tabindex="-1" role="dialog" aria-labelledby="edit_bookingLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="margin-top: 300px; margin-left: 260px; width: 50%;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit_bookingLabel">Xóa bình luận</h5>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card-body">
                                            <h5 style="text-align: center;">Bạn có chắc chắn muốn xóa bình luận này không?</h5>
                                            <div class="card-body">
                                                <div class="ml-5" style="margin-left: 338px !important; display: flex;">
                                                    <div>
                                                        <div>
                                                            <input type="button" class="btn btn-outline-danger" id="deletePro" value="Xóa" data-dismiss="modal" onclick="deletepro()"></input>
                                                        </div>
                                                    </div>
                                                    <div class="ml-2">
                                                        <div>
                                                            <input type="button" class="btn btn-outline-secondary" id="cancelDelete" value="Hủy" data-dismiss="modal"></input>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <div class="modal fade modal-search show modalsearch" id="modal-search" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <span class="close" data-dismiss="modal">
                                        <div class="close-icon">X</div>
                                    </span>
                                    <div class="modal-search-form" id="search_form">
                                        <span class="sub-title">Tìm kiếm các quán ăn.......</span>
                                        <form>
                                            <input type="text" class="search-input" id="search-input">
                                        </form>
                                    </div>
                                    <div id="suggest"></div>
                                </div>
                            </div>
                        </div>
                        <li class="nav-item active">
                            <span class="sizeIcon" data-toggle="modal" data-target="#modal-search">
                                <i class="icofont-search-property nav-link" style="padding-top: 20px !important; cursor: pointer;"></i>
                            </span>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Trang Chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Offers"><i class="icofont-sale-discount"></i> Ưu Đãi <span
                                    class="badge badge-danger">Mới</span></a>
                        </li>
                        <li id="checkLogin"></li>
                        <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell-o" aria-hidden="true" style="font-size: 20px;"></i>

                            </a>

                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm">
                                <h6 class="dropdown-header">
                                    Thông Báo
                                </h6>
                                <div id="notifies" style="height: 240px; overflow: scroll; overflow-x: hidden;">
                                </div>

                            </div>
                        </li>
                        <li class="nav-item dropdown dropdown-cart">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icofont-basket"></i> Giỏ Hàng
                                <span class="total-count badge badge-success"></span>
                            </a>
                            <div class="dropdown-menu dropdown-cart-top p-0 dropdown-menu-right shadow-sm border-0">

                                <div class="dropdown-cart-top-body border-top p-4">
                                    <div class="name-Store"> </div>
                                    <table class="table" id="show-cart">

                                    </table>
                                </div>
                                <div class="dropdown-cart-top-footer border-top p-4">
                                    <p class="mb-0 font-weight-bold text-secondary">Tổng Tiền <span class="total-cart float-right text-dark"></span> </p>

                                </div>
                                <div class="dropdown-cart-top-footer border-top p-2">
                                    <a class="btn btn-success btn-block btn-lg" onclick="checkCart()"> Thanh Toán</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutUs"><i class="fa fa-info-circle" style="font-size: large;"></i> Giới thiệu </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <section class="banner banner_page">
        <h1 class="h1_title--page">Giới thiệu FU Market</h1>
    </section>
    <section class="mains">
        <div class="container">
            <div class="content_section">
                <div style="margin-bottom: 3.75rem;">
                    <h3 class="h3_title">FU Market là gì ?</h3>
                    <div class="des">
                        FU Market được thành lập bởi nhóm đồ án SWP490 - G31 với mục đích giúp sinh viên và cán bộ tại ĐH FPT có một trang website mua bán các mặt hàng thực phẩm và đồ uống một cách tiện lợi nhất . Được phát triển năm 2021, sản
                        phẩm đang dần được hoàn thiện và sẽ sớm có mặt dưới dạng ứng dụng ,tích hợp các cổng thanh toán điện tử . Chúng tôi rất mong nhận được nhiều sự góp ý đến từ người sử dụng để hệ thống ngày càng
                        phát triển.
                        <br> Xin chân thành cảm ơn.
                        <br> Mọi thông tin chí tiết xin liên hệ :
                        <br> 1 - Số điện thoại : 0916.788.111 (Mr. Đoàn)
                        <br> 2 - Facebook : www.facebook.com/fumarket
                        <br> 3 - Email : fu.market.2021@gmail.com
                        <br> Chúng tôi sẽ tiếp nhận thông tin và xử lý trong thời gian ngắn nhất . Trân trọng
                    </div>
                </div>
            </div>
            <div class="content_section">
                <div style="margin-bottom: 3.75rem;">
                    <h3 class="h3_title">Điều Khoản</h3>
                    <div class="des">
                        Chào mừng bạn đến với FU Market , nơi trao đổi mua bán của sinh viên , cán bộ ĐH FPT . Tuy nhiên trước khi trở thành thành viên bạn vui lòng tìm hiểu về các quy định và điều kiện của chúng tôi . Chúng tôi sẽ không chịu trách
                        nhiệm khi xảy ra vấn đề không mong muốn nằm trong các điều khoản dưới đây .
                        <br>
                        <div style="color: black; font-weight: bold;">1 - Người mua</div>
                        <br>
                        <div class="indents"> Người mua cần trao đổi thông tin có thật và điền đầy đủ thông tin trong hệ thống hồ sơ cá nhân . Nếu thông tin người mua không cung cấp chính xác sẽ bị vô hiệu hóa tài khoản để xác minh hoặc vô hiệu
                            hóa vĩnh viễn</div>
                        <br>
                        <div class="indents"> Người mua không hạn chế mua tuy nhiên sẽ bị hạn chế hủy đơn tối đa 3 lần trong 1 ngày . Đối với các trường hợp hủy đơn cần ghi lý do hủy đơn để phía người bán xác nhận được. Nếu hành động này xảy
                            ra quá nhiều lần chúng tôi sẽ liên hệ và hình thức xử phạt cao nhất là vô hiệu hóa vĩnh viễn </div>
                        <br>
                        <div class="indents">Người mua cần xác thực mua hàng sau khi thanh toán xong sản phẩm . </div>
                        <br>
                        <div class="indents"> Mọi hành động công kích cố ý nhằm vào việc kinh doanh của một cửa hàng, người bán sẽ không được cho phép. Người mua chỉ được báo cáo với quản trị hoặc tham gia bình luận nếu như đã từng mua hàng
                            . Nếu chưa mua hàng mà tham gia bình luận hay báo cáo sẽ bị xử lý , hình thức xử phạt cao nhất là vô hiệu hóa vĩnh viễn </div>
                        <br>
                        <div style="color: black; font-weight: bold;"> 2 - Người bán </div>
                        <br>
                        <div class="indents"> - Người bán cần cung cấp chính xác thông tin về sản phẩm bao gồm </div>
                        <br>
                        <div class="indents"> + Giá mặt hàng </div>
                        <br>
                        <div class="indents"> + Hình ảnh 100% là sản phẩm hiện có </div>
                        <br>
                        <div class="indents"> + Mô tả rõ ràng về sản phẩm ( thành phần , số lượng ) </div>
                        <br>
                        <div class="indents"> Người bán sau khi nhận đơn cần xác nhận đơn để người mua biết được sản phẩm đã được đặt hàng .</div>
                        <br>
                        <div class="indents"> Người bán có trách nhiệm trả lời với tất cả những bình luận về sản phẩm . Trường hợp xảy ra các vấn đề liên quan tới chất lượng sản phẩm cần cung cấp đầy đủ thông tin về sản phẩm ( giấy VSATTP
                            , Hóa đơn mua , thời gian bảo hành ,....) Nếu không giải quyết được vui lòng báo cáo với hệ thống quản trị viên để có thể giải quyết một cách tốt nhất.</div>
                        <br>
                        <div class="indents"> Người bán không được đăng bán sản phẩm không có trong nội dung đăng ký kinh doanh Trong trường hợp người bán bị người dùng báo cáo nhiều thì sẽ bị admin huỷ quyền cộng tác viên và ban vĩnh viễn </div>


                    </div>
                </div>
            </div>
            <div class="content_section">
                <div style="margin-bottom: 3.75rem;">
                    <h3 class="h3_title">Để trở thành người bán hàng</h3>
                    <div class="des">
                        Để trở thành cộng tác viên bán hàng , bạn vui lòng hộp hồ sơ bao gồm :
                        <br>
                        <div>Đơn đăng ký bán hàng:</div>
                        <br>
                        <div class="indents">- Tên chủ cửa hàng.</div>
                        <br>
                        <div class="indents">- Ngày sinh và giấy tờ tùy thân.</div>
                        <br>
                        <div class="indents"> - Thông tin liên hệ : SĐT & Gmail. </div>
                        <br>
                        <div class="indents"> - Cam kết thỏa thuận và đồng ý điều kiện. </div>
                        <br>
                        <div class="indents"> - Giấy chứng nhận kinh doanh (nếu có). </div>
                        <br>
                        <div class="indents"> - Mặt hàng kinh doanh. </div>
                        <br>Vui lòng gửi các thông tin trên về mail: <b>fu.market.2021@gmail.com</b>
                        <br> Chúng tôi sẽ phản hồi sớm nhất có thể.


                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section pt-5 pb-5 text-center bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="m-0">Điều hành cửa hàng hoặc nhà hàng? <a href="/LoginUser" style="color: red !important;">Làm việc với chúng tôi</a></h5>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="containers">
            <!--Bắt Đầu Nội Dung Giới Thiệu-->
            <div class="noi-dung about">
                <h2>Về Chúng Tôi</h2>
                <p style="margin-right: 80px;"> FU Market được thành lập bởi nhóm đồ án SWP490 - G31 với mục đích giúp sinh viên và cán bộ tại ĐH FPT có một trang website mua bán các mặt hàng thực phẩm và đồ uống một cách tiện lợi nhất . Được phát triển
                    năm 2021, sản phẩm đang dần được hoàn thiện và sẽ sớm có mặt dưới dạng ứng dụng ,tích hợp các cổng thanh toán điện tử . Chúng tôi rất mong nhận được nhiều sự góp ý đến từ người sử dụng để hệ thống
                    ngày càng phát triển.</p>
            </div>
            <!--Kết Thúc Nội Dung Giới Thiệu-->
            <!--Bắt Đầu Nội Dung Đường Dẫn-->
            <div class="noi-dung links">
                <h2>Đường Dẫn</h2>
                <ul style="padding-left: 0px;">
                    <li><a href="/">Trang Chủ</a></li>
                    <li><a href="/aboutUs">Về Chúng Tôi</a></li>
                    <li><a href="/aboutUs">Thông Tin Liên Lạc</a></li>
                    <li><a href="/aboutUs">Dịch Vụ</a></li>
                    <li><a href="/aboutUs">Điều Kiện Chính Sách</a></li>
                </ul>
            </div>
            <!--Kết Thúc Nội Dung Đường Dẫn-->
            <!--Bắt Đâu Nội Dung Liên Hệ-->
            <div class="noi-dung contact">
                <h2>Thông Tin Liên Hệ</h2>
                <ul class="info" style="padding-left: 0px;">
                    <li>
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>Đường Số 1<br />
                            Đường 1, Thủ Đô Hà Nội<br />
                            Việt Nam</span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone"></i></span>
                        <p><a href="#">0916.788.111 (Mr. Đoàn)</a>
                            <br/>
                        </p>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope"></i></span>
                        <p><a href="#">fu.market.2021@gmail.com</a>
                            <br />
                        </p>
                    </li>
                </ul>
            </div>
            <!--Kết Thúc Nội Dung Liên Hệ-->
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- jQuery -->
    <!-- <script src="js/jquery-3.3.1.slim.min.js"></script> -->
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Select2 JavaScript-->
    <script src="js/select2.min.js"></script>
    <!-- Owl Carousel -->
    <script src="js/owl.carousel.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/custom.js"></script>
    <script src="js/header.js"></script>
    <script src="../../customJS/shopDetail.js"></script>

</body>

</html>