<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <title>FUMK - Online Food Ordering</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="image/favicon.png">
    <!-- Bootstrap core CSS-->
    <link href="skin/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/all.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/icofont.min.css" rel="stylesheet">
    <!-- Select2 CSS-->
    <link href="skin/font/select2.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="skin/font/osahan.css" rel="stylesheet">
    <!-- Dropzone-->
    <link href="skin/font/dropzone.css" rel="stylesheet">
    <!-- HungCSS -->
    <link href="skin/font/HungCSS.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="skin/owl/owl.carousel.css">
    <link rel="stylesheet" href="skin/owl/owl.theme.css">

    <link href="skin/font/DoanCSS.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm ">
            <div class="container">
                <a class="navbar-brand" href="/"><img alt="logo" style="max-width: 120px;" src="image/logoShop.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
         </button>
                <div class="modal fade" id="productDetail" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="padding-bottom: 15px;">
                            <div>
                                <div class="container">
                                    <div class="detail-image">
                                        <img src="/image/1.jpg">
                                    </div>
                                    <div class="detail-info">
                                        <div class="kind-restaurants">
                                            <span>Shop
                                                <span> -
                                                    <a href="#" class="link-brand">chi nhánh</a>
                                                </span>
                                            </span>
                                        </div>
                                        <h1 class="name-restaurant" id="nameProduct"></h1>
                                        <div class="address-restaurant">Cầu Giấy, Hà Nội</div>
                                        <div class="status-restaurant">
                                            <div class="time-status">
                                                <span class="stt-online" title="mở cửa">mở cửa</span>
                                            </div>
                                            <div class="time" id="timeOpen">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                        <div class="priceProduct" id="priceProduct">
                                            <i class="fa fa-money"></i>
                                        </div>
                                        <div class="descriptionProduct" id="descriptionProduct"></div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-content bg-white rounded shadow-sm p-4 mb-5 mt-3 rating-review-select-page">
                            <h5 class="mb-4">Leave Comment</h5>
                            <form>
                                <div class="form-group">
                                    <label>Your Comment</label>
                                    <textarea class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-sm" type="button"> Submit Comment </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <div class="modal fade modal-search show modalsearch" id="modal-search" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <span class="close" data-dismiss="modal">
                                        <div class="close-icon">X</div>
                                    </span>
                                    <div class="modal-search-form" id="search_form">
                                        <span class="sub-title">Tìm kiếm các quán ăn.......</span>
                                        <form>
                                            <input type="text" class="search-input" id="search-input">
                                        </form>
                                    </div>
                                    <div id="suggest"></div>
                                </div>
                            </div>
                        </div>
                        <li class="nav-item active">
                            <span class="sizeIcon" data-toggle="modal" data-target="#modal-search">
                            <i class="icofont-search-property nav-link" style="padding-top: 20px !important;"></i>
                                            </span>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>

                        <li id="checkLogin"></li>
                        <!-- <li class="nav-link" style="padding-top: 20px !important;">
                        <button class="btn btn-primary"> Login </button>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img alt="Generic placeholder image" src="image/user/4.png" class="nav-osahan-pic rounded-pill"> My Account
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow-sm border-0">
                            <a class="dropdown-item" href="orders.html#orders"><i class="icofont-ui-user"></i> My Profile </a>
                            <a class="dropdown-item" href="orders.html#offers"><i class="icofont-logout"></i> Logout </a>
                        </div>
                    </li> -->
                        <li class="nav-item dropdown dropdown-cart">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icofont-basket"></i> Cart
                                <span class="badge badge-success">5</span>
                            </a>
                            <div class="dropdown-menu dropdown-cart-top p-0 dropdown-menu-right shadow-sm border-0">

                                <div class="dropdown-cart-top-body border-top p-4">
                                    <p class="mb-2"><i class="icofont-ui-press text-danger food-item"></i> Chicken Tikka Sub 12" (30 cm) x 1 <span class="float-right text-secondary">$314</span></p>
                                    <p class="mb-2"><i class="icofont-ui-press text-success food-item"></i> Corn & Peas Salad x 1
                                        <span class="float-right text-secondary">$209</span>
                                    </p>
                                    <p class="mb-2"><i class="icofont-ui-press text-success food-item"></i> Veg Seekh Sub 6" (15 cm) x 1 <span class="float-right text-secondary">$133</span></p>
                                    <p class="mb-2"><i class="icofont-ui-press text-danger food-item"></i> Chicken Tikka Sub 12" (30 cm) x 1 <span class="float-right text-secondary">$314</span></p>
                                    <p class="mb-2"><i class="icofont-ui-press text-danger food-item"></i> Corn & Peas Salad x 1
                                        <span class="float-right text-secondary">$209</span>
                                    </p>
                                </div>
                                <div class="dropdown-cart-top-footer border-top p-4">
                                    <p class="mb-0 font-weight-bold text-secondary">Sub Total <span class="float-right text-dark">$499</span></p>
                                    <small class="text-info">Extra charges may apply</small>
                                </div>
                                <div class="dropdown-cart-top-footer border-top p-2">
                                    <a class="btn btn-success btn-block btn-lg" href="/CheckOut"> Checkout</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <section class="section pb-5 products-listing">
        <div class="container" style="padding-top: 90px;">
            <div class="row d-none-m" style="margin-top: 30px;">
                <div class="col-md-12" style="flex-direction: row; display: flex;">
                    <div id="findCate" style="width: 70% !important;"></div>
                    <form class="filters-search mb-3" style="width: 30% !important;">
                        <div class="form-group"> <i class="icofont-search"></i> <input type="text" class="form-control" placeholder="Start typing to search..." id="categorySearch"> </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="filters shadow-sm rounded bg-white mb-4">
                        <div class="filters-body">
                            <div id="accordion">
                                <div class="filters-card border-bottom p-4">
                                    <div class="filters-card-header" id="headingOne">
                                        <h6 class="mb-0">
                                            <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #ff3008 !important;"> Category <i class="icofont-arrow-down float-right"></i>  </a>
                                        </h6>
                                    </div>
                                    <div id="collapseOne" class="collapse show">
                                        <div class="filters-card-body card-shop-filters" id="searchCategory">
                                            <form class="filters-search mb-3">
                                                <div class="form-group">
                                                    <i class="icofont-search"></i>
                                                    <input type="text" class="form-control" placeholder="Start typing to search...">
                                                </div>
                                            </form>
                                            <!-- <div class="custom-control">
                                                <i class="fa fa-phone mr-2"></i>
                                                <a href="#">Ludhiana Junction </a>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="notFindProduct"></div>
                    <div class="row" id="findProduct">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="section pt-5 pb-5 text-center bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="m-0">Operate food store or restaurants? <a href="login.html">Work With Us</a></h5>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="containers">
            <!--Bắt Đầu Nội Dung Giới Thiệu-->
            <div class="noi-dung about">
                <h2>Về Chúng Tôi</h2>
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium dolores alias ipsa vel hic tempore exercitationem ipsam explicabo repudiandae ut consectetur qui, earum at nostrum perspiciatis asperiores necessitatibus facilis esse.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia id possimus quibusdam nihil earum in provident enim animi commodi quisquam! Molestiae cupiditate mollitia pariatur error ea, debitis eaque quo dolorum.</p>
            </div>
            <!--Kết Thúc Nội Dung Giới Thiệu-->
            <!--Bắt Đầu Nội Dung Đường Dẫn-->
            <div class="noi-dung links">
                <h2>Đường Dẫn</h2>
                <ul style="padding-left: 0px;">
                    <li><a href="#">Trang Chủ</a></li>
                    <li><a href="#">Về Chúng Tôi</a></li>
                    <li><a href="#">Thông Tin Liên Lạc</a></li>
                    <li><a href="#">Dịch Vụ</a></li>
                    <li><a href="#">Điều Kiện Chính Sách</a></li>
                </ul>
            </div>
            <!--Kết Thúc Nội Dung Đường Dẫn-->
            <!--Bắt Đâu Nội Dung Liên Hệ-->
            <div class="noi-dung contact">
                <h2>Thông Tin Liên Hệ</h2>
                <ul class="info" style="padding-left: 0px;">
                    <li>
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>Đường Số 1<br />
                         Đường 1, Thủ Đô Hà Nội<br />
                         Việt Nam</span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone"></i></span>
                        <p><a href="#">+84 123 456 789</a>
                            <br />
                            <a href="#">+84 987 654 321</a></p>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope"></i></span>
                        <p><a href="#">FUMK@gmail.com</a>
                            <br/>
                            <a href="#">FUMK@fpt.edu.vn</a>
                        </p>
                    </li>
                </ul>
            </div>
            <!--Kết Thúc Nội Dung Liên Hệ-->
        </div>
    </footer>


    <!-- jQuery -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Select2 JavaScript-->
    <script src="js/select2.min.js"></script>
    <!-- Owl Carousel -->
    <script src="js/owl.carousel.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/custom.js"></script>
    <script src="js/header.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function() {
            loadcategory();
            loadproduct();
        });

        function loadcategory() {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/api/category/searchcategory",
                success: function(data) {
                    var listdata = data.data.listCategory;
                    for (var i = 0; i < listdata.length; i++) {
                        document.getElementById('searchCategory').innerHTML +=
                            '<div class="custom-control" style="font-size: 15px;">  <a href="/AllProduct" id="hoverCate" onclick="hoverCate(' + "'" + listdata[i].name + "'" + ')"> <i class="fa fa-cutlery mr-2"></i>' + listdata[i].name + '</a> </div>'
                    }
                }
            });
        }

        function hoverCate(cate) {
            localStorage.setItem('listProduct', JSON.stringify(cate));
        }

        $('#categorySearch').keyup(function(event) {
            event.preventDefault();
            localStorage.setItem('listProduct', JSON.stringify(document.getElementById('categorySearch').value));
            loadproduct();
        });

        function loadproduct() {
            var text = localStorage.getItem('listProduct').replaceAll('"', '');

            $.ajax({
                type: "GET",
                dataType: "json",
                data: {
                    name: text
                },
                url: "/api/product/searchAllProduct",
                success: function(data) {
                    var listdata = data.data.listProduct;
                    var totalProduct = data.data.total;

                    document.getElementById('categorySearch').value = text;

                    if (totalProduct != 0) {
                        if (text) {
                            document.getElementById('findCate').innerHTML =
                                '<h4 class="font-weight-bold mt-0 mb-3"> Find for ' + '"' + text + '"' + '<small class="h6 mb-0 ml-2"> About ' + totalProduct + ' product </small> </h4> ';
                        } else {
                            document.getElementById('findCate').innerHTML =
                                '<h4 class="font-weight-bold mt-0 mb-3"> Find all <small class="h6 mb-0 ml-2"> About ' + totalProduct + ' product </small> </h4>';
                        }

                    }


                    if (listdata != '') {
                        document.getElementById('notFindProduct').innerHTML = '';
                        document.getElementById('findProduct').innerHTML = '';
                        for (var i = 0; i < listdata.length; i++) {
                            document.getElementById('findProduct').innerHTML +=
                                '<div class="col-md-4 col-sm-6 mb-4 pb-2"> <div class="list-card bg-white overflow-hidden h-100 position-relative item-content" style="border: 1px solid #d7d7d7; border-radius: 6px;" data-toggle="modal" data-target="#productDetail" onclick="productDetail(' + "'" + listdata[i].id + "'" + ')"> <div class="list-card-image"> <div class="favourite-heart text-danger position-absolute"><a href="#"><i class="icofont-heart"></i></a></div> <a href="#"> <img src="image/list/1.png" class="img-fluid item-img"> </a> </div> <div class="p-3 position-relative"> <div class="list-card-body"> <h6 class="mb-1"><a href="#" class="text-black">' + listdata[i].name + '</a></h6> <p class="text-gray mb-3">' + listdata[i].description + '</p> <p class="text-gray mb-3 time"> <span class="float-right text-black-50"> Quantity: ' + listdata[i].quantity + '</span></p> </div> <div class="list-card-badge"> <small>Price:' + listdata[i].unit_price + '</small> </div> </div> </div> </div>';
                        }
                    } else {
                        document.getElementById('findProduct').innerHTML = '';
                        document.getElementById('notFindProduct').innerHTML =
                            '<section class="section pt-3 pb-5 osahan-not-found-page"> <div class="container"> <div class="row"> <div class="col-md-12 text-center pb-5"> <img class="img-fluid" src="image/notFind.png" alt="find"> <h1 class="mt-2 mb-2">Food not found</h1> <p>Uh-oh! Looks like the page you are trying to access<br>exist. Please start afresh.</p> </div> </div> </div> </section>';
                    }
                }
            });
        }

        function productDetail(id) {

            $.ajax({
                type: "GET",
                dataType: "json",
                data: {
                    id: id
                },
                url: "/api/product/getById",
                success: function(data) {
                    var listdata = data.data.product;

                    document.getElementById('nameProduct').innerHTML = listdata.name;
                    document.getElementById('timeOpen').innerHTML = listdata.time_from + '.00' + ' - ' + listdata.time_to + '.00';
                    document.getElementById('priceProduct').innerHTML = listdata.unit_price + ' VND';
                    document.getElementById('descriptionProduct').innerHTML = listdata.description;

                }
            });


        }
    </script>
</body>

</html>