<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <title>FUMK - Online Food Ordering</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="image/favicon.png">
    <!-- Bootstrap core CSS-->
    <link href="skin/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/all.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/icofont.min.css" rel="stylesheet">
    <!-- Select2 CSS-->
    <link href="skin/font/select2.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="skin/font/osahan.css" rel="stylesheet">
    <!-- Dropzone-->
    <link href="skin/font/dropzone.css" rel="stylesheet">
    <!-- HungCSS -->
    <link href="skin/font/HungCSS.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="skin/owl/owl.carousel.css">
    <link rel="stylesheet" href="skin/owl/owl.theme.css">

    <link href="skin/font/DoanCSS.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm ">
        <div class="container">
            <a class="navbar-brand" href="/home"><img alt="logo" style="max-width: 120px;" src="image/logoShop.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <span class="sizeIcon" data-toggle="modal" data-target="#modalSearch">
                            <i class="icofont-search-map nav-link" style="padding-top: 20px !important;"></i>
                        </span>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li id="checkLogin"></li>
                    <!-- <li class="nav-link" style="padding-top: 20px !important;">
                        <button class="btn btn-primary"> Login </button>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img alt="Generic placeholder image" src="image/user/4.png" class="nav-osahan-pic rounded-pill"> My Account
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow-sm border-0">
                            <a class="dropdown-item" href="orders.html#orders"><i class="icofont-ui-user"></i> My Profile </a>
                            <a class="dropdown-item" href="orders.html#offers"><i class="icofont-logout"></i> Logout </a>
                        </div>
                    </li> -->
                    <li class="nav-item dropdown dropdown-cart">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icofont-basket"></i> Cart
                            <span class="badge badge-success">5</span>
                        </a>
                        <div class="dropdown-menu dropdown-cart-top p-0 dropdown-menu-right shadow-sm border-0">

                            <div class="dropdown-cart-top-body border-top p-4">
                                <p class="mb-2"><i class="icofont-ui-press text-danger food-item"></i> Chicken Tikka Sub 12" (30 cm) x 1 <span class="float-right text-secondary">$314</span></p>
                                <p class="mb-2"><i class="icofont-ui-press text-success food-item"></i> Corn & Peas Salad x 1
                                    <span class="float-right text-secondary">$209</span>
                                </p>
                                <p class="mb-2"><i class="icofont-ui-press text-success food-item"></i> Veg Seekh Sub 6" (15 cm) x 1 <span class="float-right text-secondary">$133</span></p>
                                <p class="mb-2"><i class="icofont-ui-press text-danger food-item"></i> Chicken Tikka Sub 12" (30 cm) x 1 <span class="float-right text-secondary">$314</span></p>
                                <p class="mb-2"><i class="icofont-ui-press text-danger food-item"></i> Corn & Peas Salad x 1
                                    <span class="float-right text-secondary">$209</span>
                                </p>
                            </div>
                            <div class="dropdown-cart-top-footer border-top p-4">
                                <p class="mb-0 font-weight-bold text-secondary">Sub Total <span class="float-right text-dark">$499</span></p>
                                <small class="text-info">Extra charges may apply</small>
                            </div>
                            <div class="dropdown-cart-top-footer border-top p-2">
                                <a class="btn btn-success btn-block btn-lg" href="/CheckOut"> Checkout</a>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <section class="section pb-5 products-listing">
        <div class="container" style="padding-top: 90px;">
            <div class="row d-none-m" style="margin-top: 30px;">
                <div class="col-md-12" style="flex-direction: row; display: flex;">
                    <div id="findCate" style="width: 70% !important;"></div>
                    <form class="filters-search mb-3" style="width: 30% !important;">
                        <div class="form-group"> <i class="icofont-search"></i> <input type="text" class="form-control" placeholder="Start typing to search..." id="categorySearch"> </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="filters shadow-sm rounded bg-white mb-4">
                        <div class="filters-body">
                            <div id="accordion">

                                <div class="filters-card border-bottom p-4">
                                    <div class="filters-card-header" id="headingTwo">
                                        <h6 class="mb-0">
                                            <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                                    All cuisines
                                    <i class="icofont-arrow-down float-right"></i>
                                 </a>
                                        </h6>
                                    </div>
                                    <div id="collapsetwo" class="collapse show">
                                        <div class="filters-card-body card-shop-filters">
                                            <form class="filters-search mb-3">
                                                <div class="form-group">
                                                    <i class="icofont-search"></i>
                                                    <input type="text" class="form-control" placeholder="Start typing to search...">
                                                </div>
                                                <div id="searchCategory"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="notFindProduct"></div>
                    <div class="row" id="findProduct"></div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="section pt-5 pb-5 text-center bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="m-0">Operate food store or restaurants? <a href="login.html">Work With Us</a></h5>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="containers">
            <!--Bắt Đầu Nội Dung Giới Thiệu-->
            <div class="noi-dung about">
                <h2>Về Chúng Tôi</h2>
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium dolores alias ipsa vel hic tempore exercitationem ipsam explicabo repudiandae ut consectetur qui, earum at nostrum perspiciatis asperiores necessitatibus facilis esse.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia id possimus quibusdam nihil earum in provident enim animi commodi quisquam! Molestiae cupiditate mollitia pariatur error ea, debitis eaque quo dolorum.</p>
            </div>
            <!--Kết Thúc Nội Dung Giới Thiệu-->
            <!--Bắt Đầu Nội Dung Đường Dẫn-->
            <div class="noi-dung links">
                <h2>Đường Dẫn</h2>
                <ul style="padding-left: 0px;">
                    <li><a href="#">Trang Chủ</a></li>
                    <li><a href="#">Về Chúng Tôi</a></li>
                    <li><a href="#">Thông Tin Liên Lạc</a></li>
                    <li><a href="#">Dịch Vụ</a></li>
                    <li><a href="#">Điều Kiện Chính Sách</a></li>
                </ul>
            </div>
            <!--Kết Thúc Nội Dung Đường Dẫn-->
            <!--Bắt Đâu Nội Dung Liên Hệ-->
            <div class="noi-dung contact">
                <h2>Thông Tin Liên Hệ</h2>
                <ul class="info" style="padding-left: 0px;">
                    <li>
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>Đường Số 1<br />
                         Đường 1, Thủ Đô Hà Nội<br />
                         Việt Nam</span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone"></i></span>
                        <p><a href="#">+84 123 456 789</a>
                            <br />
                            <a href="#">+84 987 654 321</a></p>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope"></i></span>
                        <p><a href="#">FUMK@gmail.com</a>
                            <br/>
                            <a href="#">FUMK@fpt.edu.vn</a>
                        </p>
                    </li>
                </ul>
            </div>
            <!--Kết Thúc Nội Dung Liên Hệ-->
        </div>
    </footer>


    <!-- jQuery -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Select2 JavaScript-->
    <script src="js/select2.min.js"></script>
    <!-- Owl Carousel -->
    <script src="js/owl.carousel.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        var token = getCookie("token");

        function logOutClick() {
            setCookie("token", "", 0);
            window.location = "/home"
        }

        var checkLogin = document.getElementById('checkLogin');

        if (token == "") {
            checkLogin.innerHTML += `<li class="nav-link" style="padding-top: 20px !important;">
                        <a href="/LoginUser" class="btn btn-outline-danger" style="border-radius: 6px;"> Login </a>
                    </li>`
        } else {
            checkLogin.innerHTML += `<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img alt="Generic placeholder image" src="image/user/4.png" class="nav-osahan-pic rounded-pill"> My Account
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow-sm border-0">
                            <a class="dropdown-item" href="/MyProfileUser"><i class="icofont-ui-user"></i> My Profile </a>
                            <a class="dropdown-item" href="/home" onclick="logOutClick()"><i class="icofont-logout"></i> Logout </a>
                        </div>
                    </li>`
        }

        $(document).ready(function() {
            loadcategory();
            loadproduct();
        });

        function loadcategory() {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/api/category/searchcategory",
                success: function(data) {
                    var listdata = data.data.listCategory;
                    for (var i = 0; i < listdata.length; i++) {
                        document.getElementById('searchCategory').innerHTML +=
                            '<div class="custom-control"  style="padding-left: 0%;"> <a href="/AllProduct" class="icofont-hand-right"  style="font-size: large;" for="cb6" id="hoverCate" onclick="hoverCate(' + "'" + listdata[i].name + "'" + ')">' + listdata[i].name + '</a> </div>'
                    }
                }
            });
        }

        function hoverCate(cate) {
            localStorage.setItem('listProduct', JSON.stringify(cate));
        }

        $('#categorySearch').keyup(function(event) {
            event.preventDefault();
            localStorage.setItem('listProduct', JSON.stringify(document.getElementById('categorySearch').value));
            loadproduct();
        });

        function loadproduct() {
            var text = localStorage.getItem('listProduct').replaceAll('"', '');

            $.ajax({
                type: "GET",
                dataType: "json",
                data: {
                    name: text
                },
                url: "/api/product/searchAllProduct",
                success: function(data) {
                    console.log(data);
                    var listdata = data.data.listProduct;
                    var totalProduct = data.data.total;

                    if (totalProduct != 0) {
                        console.log(text);
                        if (text) {
                            document.getElementById('findCate').innerHTML =
                                '<h4 class="font-weight-bold mt-0 mb-3"> Find for ' + '"' + text + '"' + '<small class="h6 mb-0 ml-2"> About ' + totalProduct + ' product </small> </h4> ';
                        } else {
                            document.getElementById('findCate').innerHTML =
                                '<h4 class="font-weight-bold mt-0 mb-3"> Find all <small class="h6 mb-0 ml-2"> About ' + totalProduct + ' product </small> </h4>';
                        }

                    }


                    if (listdata != '') {
                        document.getElementById('findProduct').innerHTML = '';
                        for (var i = 0; i < listdata.length; i++) {
                            document.getElementById('findProduct').innerHTML +=
                                '<div class="col-md-4 col-sm-6 mb-4 pb-2"> <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm"> <div class="list-card-image"> <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i class="icofont-heart"></i></a></div> <a href="detail.html"> <img src="image/list/1.png" class="img-fluid item-img"> </a> </div> <div class="p-3 position-relative"> <div class="list-card-body"> <h6 class="mb-1"><a href="detail.html" class="text-black">' + listdata[i].name + '</a></h6> <p class="text-gray mb-3">' + listdata[i].description + '</p> <p class="text-gray mb-3 time"> <span class="float-right text-black-50"> Quantity: ' + listdata[i].quantity + '</span></p> </div> <div class="list-card-badge"> <small>Price:' + listdata[i].unit_price + '</small> </div> </div> </div> </div>';
                        }
                    } else {
                        document.getElementById('findProduct').innerHTML = '';
                        document.getElementById('notFindProduct').innerHTML +=
                            '<section class="section pt-3 pb-5 osahan-not-found-page"> <div class="container"> <div class="row"> <div class="col-md-12 text-center pb-5"> <img class="img-fluid" src="image/notFind.png" alt="find"> <h1 class="mt-2 mb-2">Shop not found</h1> <p>Uh-oh! Looks like the page you are trying to access<br>exist. Please start afresh.</p> </div> </div> </div> </section>';
                    }



                }
            });
        }

        // function loadproOfCate() {

        //     var params = (new URL(document.location)).searchParams;
        //     var cateURL = params.get('category').replaceAll('"', '');

        //     console.log(cateURL);

        //     $.ajax({
        //         type: "GET",
        //         dataType: "json",
        //         data: {
        //             name: cateURL
        //         },
        //         url: "/api/product/searchAllProduct",
        //         success: function(data) {

        //             var listdata = data.data.listProduct;
        //             var totalProduct = data.data.total;

        //             // document.getElementById('findCate').innerHTML +=
        //             //     '<h4 class="font-weight-bold mt-0 mb-3"> Find for ' + cateURL + '<small class="h6 mb-0 ml-2"> ' + totalProduct + ' </small> </h4> <form class="filters-search mb-3"> <div class="form-group"> <i class="icofont-search"></i> <input type="text" class="form-control" placeholder="Start typing to search..." id="categorySearch"> </div> </form>';

        //             for (var i = 0; i < listdata.length; i++) {
        //                 document.getElementById('findProduct').innerHTML +=
        //                     '<div class="col-md-4 col-sm-6 mb-4 pb-2"> <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm"> <div class="list-card-image"> <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i class="icofont-heart"></i></a></div> <a href="detail.html"> <img src="image/list/1.png" class="img-fluid item-img"> </a> </div> <div class="p-3 position-relative"> <div class="list-card-body"> <h6 class="mb-1"><a href="detail.html" class="text-black">' + listdata[i].name + '</a></h6> <p class="text-gray mb-3">' + listdata[i].description + '</p> <p class="text-gray mb-3 time"> <span class="float-right text-black-50"> Quantity: ' + listdata[i].quantity + '</span></p> </div> <div class="list-card-badge"> <small>Price:' + listdata[i].unit_price + '</small> </div> </div> </div> </div>';
        //             }
        //         }
        //     });
        // }
    </script>
</body>

</html>