<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <title>FUMK - Online Food Ordering</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="skin/css/styles.css" rel="stylesheet">
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="image/favicon.png">
    <!-- Bootstrap core CSS-->
    <link href="skin/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/all.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/icofont.min.css" rel="stylesheet">
    <!-- Select2 CSS-->
    <link href="skin/font/select2.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="skin/font/osahan.css" rel="stylesheet">
    <!-- Dropzone-->
    <link href="skin/font/dropzone.css" rel="stylesheet">
    <!-- HungCSS -->
    <link href="skin/font/HungCSS.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="skin/owl/owl.carousel.css">
    <link rel="stylesheet" href="skin/owl/owl.theme.css">

    <link href="skin/font/DoanCSS.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        label:hover {
            cursor: pointer;
        }
        
        .rounded-pill:hover {
            background-color: #f0f2f5;
        }
        
        .heartCheck {
            position: absolute;
            left: -100vw;
        }
        
        .icofont-heart:hover {
            color: red;
        }
        
        #check {
            color: red;
        }
        
        #uncheck {
            color: gray;
        }
        
        #notifies::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        
        #notifies::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }
        
        #notifies::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
        }
    </style>

</head>

<body>
    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm ">
            <div class="container">
                <a class="navbar-brand" href="/"><img alt="logo" style="max-width: 120px;" src="image/logoShop.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span
                        class="navbar-toggler-icon"></span>
                </button>
                <div class="modal fade modalsearch" id="productDetail" role="dialog" style="opacity: unset;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="padding-bottom: 15px; margin-left: 170px; width: 70% !important;">
                            <div>
                                <div class="container" style="display: block;">
                                    <div class="detail-image">
                                        <img src="/image/1.jpg" id="imageProduct" style="width: 90%;">
                                    </div>
                                    <div class="detail-info">
                                        <div class="kind-restaurants">
                                            <span>Shop
                                                <span style="padding-left: 10px;"> -
                                                    <a href="#" class="link-brand" id="locationShop"></a>
                                                </span>
                                            </span>
                                        </div>
                                        <h1 class="name-restaurant" id="nameProduct"></h1>
                                        <div class="address-restaurant" id="addressShop"></div>
                                        <div class="status-restaurant">
                                            <div class="time-status" id="shop_status">
                                            </div>
                                            <div class="time" id="timeOpen">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                        <div class="priceProduct" id="priceProduct">
                                            <i class="fa fa-money"></i>
                                        </div>
                                        <div class="descriptionProduct" id="descriptionProduct"></div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="modal-content bg-white rounded shadow-sm p-4 mt-3 restaurant-detailed-ratings-and-reviews" style="padding-bottom: 15px; margin-left: 170px; width: 70% !important;">
                            <h5 class="mb-1">Tất cả bình luận</h5>
                            <div id="listComment">
                                <div id="replyFeedback">
                                </div>
                            </div>
                        </div>
                        <!-- <a class="text-center w-100 d-block font-weight-bold" href="#">See All Reviews</a> -->

                        <div class="modal-content bg-white rounded shadow-sm p-4 mb-5 mt-3 rating-review-select-page" style="padding-bottom: 15px; margin-left: 170px; width: 70% !important;">
                            <h5 class="mb-4">Để lại bình luận</h5>
                            <form>
                                <div class="form-group">
                                    <label>Bình luận của bạn</label>
                                    <textarea class="form-control" id="textComment"></textarea>
                                    <span class="form-message text-danger" id="messageComment"></span>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-sm" type="button" id="submitComment"> Gửi bình
                                        luận</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade modal" id="deleteComment" tabindex="-1" role="dialog" aria-labelledby="edit_bookingLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="margin-top: 300px; margin-left: 260px; width: 50%;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit_bookingLabel">Xóa bình luận</h5>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card-body">
                                            <h5 style="text-align: center;">Bạn có chắc chắn muốn xóa bình luận này không?</h5>
                                            <div class="card-body">
                                                <div class="ml-5" style="margin-left: 338px !important; display: flex;">
                                                    <div>
                                                        <div>
                                                            <input type="button" class="btn btn-outline-danger" id="deletePro" value="Xóa" data-dismiss="modal" onclick="deletepro()"></input>
                                                        </div>
                                                    </div>
                                                    <div class="ml-2">
                                                        <div>
                                                            <input type="button" class="btn btn-outline-secondary" id="cancelDelete" value="Hủy" data-dismiss="modal"></input>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <div class="modal fade modal-search show modalsearch" id="modal-search" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <span class="close" data-dismiss="modal">
                                        <div class="close-icon">X</div>
                                    </span>
                                    <div class="modal-search-form" id="search_form">
                                        <span class="sub-title">Tìm kiếm các quán ăn.......</span>
                                        <form>
                                            <input type="text" class="search-input" id="search-input">
                                        </form>
                                    </div>
                                    <div id="suggest"></div>
                                </div>
                            </div>
                        </div>
                        <li class="nav-item active">
                            <span class="sizeIcon" data-toggle="modal" data-target="#modal-search">
                                <i class="icofont-search-property nav-link" style="padding-top: 20px !important; cursor: pointer;"></i>
                            </span>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Trang Chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Offers"><i class="icofont-sale-discount"></i> Ưu Đãi <span
                                    class="badge badge-danger">Mới</span></a>
                        </li>
                        <li id="checkLogin"></li>
                        <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell-o" aria-hidden="true" style="font-size: 20px;"></i>
                                <!-- Counter - Alerts -->
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm">
                                <h6 class="dropdown-header">
                                    Thông Báo
                                </h6>
                                <div id="notifies" style="height: 240px; overflow: scroll; overflow-x: hidden;">
                                </div>

                            </div>
                        </li>
                        <li class="nav-item dropdown dropdown-cart">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icofont-basket"></i> Giỏ Hàng
                                <span class="total-count badge badge-success"></span>
                            </a>
                            <div class="dropdown-menu dropdown-cart-top p-0 dropdown-menu-right shadow-sm border-0">

                                <div class="dropdown-cart-top-body border-top p-4">
                                    <div class="name-Store"> </div>
                                    <table class="table" id="show-cart">

                                    </table>
                                </div>
                                <div class="dropdown-cart-top-footer border-top p-4">
                                    <p class="mb-0 font-weight-bold text-secondary">Tổng Tiền <span class="total-cart float-right text-dark"></span> </p>

                                </div>
                                <div class="dropdown-cart-top-footer border-top p-2">
                                    <a class="btn btn-success btn-block btn-lg" onclick="checkCart()"> Thanh Toán</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <section class="section pb-5 products-listing">
        <div class="container" style="padding-top: 90px;">
            <div class="row d-none-m" style="margin-top: 30px;">
                <div class="col-md-12" style="flex-direction: row; display: flex;">
                    <div id="findCate" style="width: 70% !important;"></div>
                    <form class="filters-search mb-3" style="width: 30% !important;">
                        <div class="form-group"> <i class="icofont-search"></i> <input type="text" class="form-control" placeholder="Bắt đầu nhập để tìm kiếm ..." id="categorySearch"> </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="filters shadow-sm rounded bg-white mb-4">
                        <div class="filters-body">
                            <div id="accordion">
                                <div class="filters-card border-bottom p-4">
                                    <div class="filters-card-header" id="headingOne">
                                        <h6 class="mb-0">
                                            <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #ff3008 !important;"> Thể Loại
                                                <i class="icofont-arrow-down float-right"></i> </a>
                                        </h6>
                                    </div>
                                    <div id="collapseOne" class="collapse show">
                                        <div class="filters-card-body card-shop-filters" id="searchCategory">
                                            <form class="filters-search mb-3">
                                                <div class="form-group">
                                                </div>
                                            </form>
                                            <!-- <div class="custom-control">
                                                <i class="fa fa-phone mr-2"></i>
                                                <a href="#">Ludhiana Junction </a>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="notFindProduct"></div>
                    <div class="row" id="findProduct">
                    </div>
                    <div class="col-md-12 text-center load-more" id="pagingWeb">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" style="justify-content: center;">
                                <li class="page-item" id="btn_privious">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <div class="number_page" id="number_page" style="display: flex;">
                                </div>

                                <li class="page-item" id="btn_next">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>

    <section class="section pt-5 pb-5 text-center bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="m-0">Điều hành các cửa hàng hoặc nhà hàng? <a href="login.html">Làm việc với chúng
                            tôi</a></h5>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="containers">
            <!--Bắt Đầu Nội Dung Giới Thiệu-->
            <div class="noi-dung about">
                <h2>Về Chúng Tôi</h2>
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium dolores alias ipsa vel hic tempore exercitationem ipsam explicabo repudiandae ut consectetur qui, earum at nostrum perspiciatis asperiores necessitatibus facilis esse.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia id possimus quibusdam nihil earum in provident enim animi commodi quisquam! Molestiae cupiditate mollitia pariatur error ea, debitis eaque quo dolorum.</p>
            </div>
            <!--Kết Thúc Nội Dung Giới Thiệu-->
            <!--Bắt Đầu Nội Dung Đường Dẫn-->
            <div class="noi-dung links">
                <h2>Đường Dẫn</h2>
                <ul style="padding-left: 0px;">
                    <li><a href="#">Trang Chủ</a></li>
                    <li><a href="#">Về Chúng Tôi</a></li>
                    <li><a href="#">Thông Tin Liên Lạc</a></li>
                    <li><a href="#">Dịch Vụ</a></li>
                    <li><a href="#">Điều Kiện Chính Sách</a></li>
                </ul>
            </div>
            <!--Kết Thúc Nội Dung Đường Dẫn-->
            <!--Bắt Đâu Nội Dung Liên Hệ-->
            <div class="noi-dung contact">
                <h2>Thông Tin Liên Hệ</h2>
                <ul class="info" style="padding-left: 0px;">
                    <li>
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>Đường Số 1<br />
                            Đường 1, Thủ Đô Hà Nội<br />
                            Việt Nam</span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone"></i></span>
                        <p><a href="#">+84 123 456 789</a>
                            <br />
                            <a href="#">+84 987 654 321</a>
                        </p>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope"></i></span>
                        <p><a href="#">FUMK@gmail.com</a>
                            <br />
                            <a href="#">FUMK@fpt.edu.vn</a>
                        </p>
                    </li>
                </ul>
            </div>
            <!--Kết Thúc Nội Dung Liên Hệ-->
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- jQuery -->
    <!-- <script src="js/jquery-3.3.1.slim.min.js"></script> -->
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Select2 JavaScript-->
    <script src="js/select2.min.js"></script>
    <!-- Owl Carousel -->
    <script src="js/owl.carousel.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/custom.js"></script>
    <script src="js/header.js"></script>
    <script src="../../customJS/shopDetail.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function() {
            loadcategory();
            loadproduct();
            getLength();
            renderPage();
        });

        function checkCart() {
            var text = localStorage.getItem('userId').replaceAll('"', '');
            if (text == '') {
                Swal.fire({
                    type: 'warning',
                    title: 'Bạn hãy đăng nhập để thanh toán',
                    // text: 'Your offer is safe 🙂',
                    showConfirmButton: false,
                    timer: 2500
                })
                window.setTimeout(function() {
                    window.location.href = '/LoginUser';
                }, 2500);
            } else {
                window.location.href = '/CheckOut';
            }
        }


        function loadcategory() {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/api/category/searchcategory",
                success: function(data) {
                    var listdata = data.data.listCategory;
                    for (var i = 0; i < listdata.length; i++) {
                        document.getElementById('searchCategory').innerHTML +=
                            '<div class="custom-control" style="font-size: 15px;">  <a href="/AllProduct" id="hoverCate" onclick="hoverCate(' + "'" + listdata[i].name + "'" + ')"> <i class="fa fa-cutlery mr-2"></i>' + listdata[i].name + '</a> </div>'
                    }
                }
            });
        }

        function hoverCate(cate) {
            localStorage.setItem('listProduct', JSON.stringify(cate));
        }

        $('#categorySearch').keyup(function(event) {
            event.preventDefault();
            localStorage.setItem('listProduct', JSON.stringify(document.getElementById('categorySearch').value));
            loadproduct();
        });


        function loadproduct() {
            var text = localStorage.getItem('listProduct').replaceAll('"', '');
            var userId = localStorage.getItem('userId').replaceAll('"', '');
            totalPage;
            $.ajax({
                type: "GET",
                dataType: "json",
                data: {
                    name: text,
                    user_id: userId
                },
                url: "/api/product/searchAllProduct",
                success: function(data) {

                    var listdata = data.data.listProduct;
                    var totalProduct = data.data.total;
                    let length = Math.ceil(listdata.length / perPage);
                    getLength(length);
                    renderPage(length);

                    document.getElementById('categorySearch').value = text;

                    if (totalProduct != 0) {
                        if (text) {
                            document.getElementById('findCate').innerHTML =
                                '<h4 class="font-weight-bold mt-0 mb-3"> Tìm cho ' + '"' + text + '"' + '<small class="h6 mb-0 ml-2"> có ' + totalProduct + ' sản phẩm </small> </h4> ';
                        } else {
                            document.getElementById('findCate').innerHTML =
                                '<h4 class="font-weight-bold mt-0 mb-3"> Tìm được tất cả<small class="h6 mb-0 ml-2">có ' + totalProduct + ' sản phẩm </small> </h4>';
                        }

                    } else {
                        document.getElementById('findCate').innerHTML = '<h4 class="font-weight-bold mt-0 mb-3"> Không tìm thấy ' + '"' + text + '"' + ' </h4> ';
                    }
                    (listdata.length > 6) ? document.getElementById("pagingWeb").hidden = false: document.getElementById("pagingWeb").hidden = true;
                    if (listdata != '') {

                        document.getElementById('notFindProduct').innerHTML = '';
                        document.getElementById('findProduct').innerHTML = '';

                        for (var i = 0; i < listdata.length; i++) {
                            if (i >= start && i < end) {
                                let image = (listdata[i].image ? listdata[i].image : 'image/list/1.png');
                                let favorite = (listdata[i].favorite ? 'check' : 'uncheck')
                                if (listdata[i].sale != null) {

                                    let price_sale = (listdata[i].sale / listdata[i].unit_price) * 100;
                                    let newPrice = listdata[i].unit_price - listdata[i].sale;

                                    document.getElementById('findProduct').innerHTML +=
                                        '<div class="col-md-4 col-sm-6 mb-4 pb-2"> <div class="list-card bg-white overflow-hidden h-100 position-relative item-content" style="border: 1px solid #d7d7d7; border-radius: 6px;"> <div class="list-card-image"> <div class="favourite-heart text-danger position-absolute"> <input class="heartCheck" id="heart' + i + '" type="checkbox" onclick="checkLike(' + "'" + listdata[i].id + "','" + favorite + "'" + ')"/> <label  for="heart' + i + '"><i class="icofont-heart" id=' + favorite + '></i></label> </div> <a href="#"> <img src=' + image + ' class="img-fluid item-img"> </a> </div> <div class="p-3 position-relative"> <div class="list-card-body"> <h6 class="mb-1"><a href="#" data-toggle="modal" data-target="#productDetail" onclick="productDetail(' + "'" + listdata[i].id + "'" + ')">' + listdata[i].name + '</a></h6> <p class="text-gray mb-3">Quán: ' + listdata[i].shop_name + '</p> <p class="text-gray mb-3 time"><span class="float-right text-black-50 ml-4"> Giảm giá: ' + price_sale + '%</span> <span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><iclass="icofont-wall-clock"></iclass=> ' + listdata[i].time_from + '–' + listdata[i].time_to + ' min</span> </p> </div> <div class="list-card-badge"> <small>Giá: <del>' + listdata[i].unit_price + '</del> <i class="fa fa-angle-double-right" aria-hidden="true"></i> ' + newPrice + ' VNĐ</small> <span class="badge badge-success">Mới</span> <span class="float-right"> <span class="count-number" style="margin-top: 0px !important;"> <button value="ADD" data-name=' + listdata[i].name + ' data-price=' + newPrice + ' data-id=' + listdata[i].id + ' data-seller=' + listdata[i].user_id + ' class="add-to-cart btn btn-outline-secondary btn-sm" onclick="addToCartFunc.call(this)" > Thêm </button> </span> </span> </div> </div> </div> </div>';
                                } else {
                                    document.getElementById('findProduct').innerHTML +=
                                        '<div class="col-md-4 col-sm-6 mb-4 pb-2"> <div class="list-card bg-white overflow-hidden h-100 position-relative item-content" style="border: 1px solid #d7d7d7; border-radius: 6px;"> <div class="list-card-image"> <div class="favourite-heart text-danger position-absolute"><input class="heartCheck" id="heart' + i + '" type="checkbox" onclick="checkLike(' + "'" + listdata[i].id + "','" + favorite + "'" + ')" /> <label  for="heart' + i + '"><i class="icofont-heart" id=' + favorite + '></i></label></div> <a href="#"> <img src=' + image + ' class="img-fluid item-img"> </a> </div> <div class="p-3 position-relative"> <div class="list-card-body"> <h6 class="mb-1"><a href="#" data-toggle="modal" data-target="#productDetail" onclick="productDetail(' + "'" + listdata[i].id + "'" + ')">' + listdata[i].name + '</a></h6> <p class="text-gray mb-3">Quán: ' + listdata[i].shop_name + '</p> <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><iclass="icofont-wall-clock"></iclass=> ' + listdata[i].time_from + '–' + listdata[i].time_to + ' phút</span> </p> </div> <div class="list-card-badge"> <small>Giá: ' + listdata[i].unit_price + ' VNĐ</small> <span class="float-right"> <span class="count-number" style="margin-top: 0px !important;"> <button value="ADD" data-name=' + listdata[i].name + ' data-price=' + listdata[i].unit_price + ' data-id=' + listdata[i].id + ' data-seller=' + listdata[i].user_id + '  class="add-to-cart btn btn-outline-secondary btn-sm" onclick="addToCartFunc.call(this)" > Thêm </button> </span> </span> </div> </div> </div> </div>';
                                }
                            }

                        }
                    } else {
                        document.getElementById('findProduct').innerHTML = '';
                        document.getElementById('notFindProduct').innerHTML =
                            '<section class="section pt-3 pb-5 osahan-not-found-page"> <div class="container"> <div class="row"> <div class="col-md-12 text-center pb-5"> <img class="img-fluid" src="image/notFind.png" alt="find"> <h1 class="mt-2 mb-2">Không tìm thấy thức ăn</h1> <p>Ồ! Có vẻ như sản phẩm bạn đang cố gắng tìm kiếm không tồn tại. Vui lòng bắt đầu lại.</p> </div> </div> </div> </section>';
                    }
                }
            });
        }
        let product_id;

        function productDetail(id) {
            product_id = id;
            $.ajax({
                type: "GET",
                dataType: "json",
                data: {
                    id: id
                },
                url: "/api/product/getById",
                success: function(data) {

                    var listdata = data.data.product;
                    var listdataUser = data.data.user;

                    document.getElementById('locationShop').innerHTML = listdataUser.name;
                    document.getElementById('locationShop').href = '/ShopDetail?id=' + listdataUser.id;
                    document.getElementById('addressShop').innerHTML = listdataUser.address;

                    if (listdataUser.shop_status == true) {
                        document.getElementById('shop_status').innerHTML = '<span class="stt-online" title="Mở cửa" > <i class="fa fa-circle mr-1" aria-hidden="true"></i>Mở cửa</span>';
                        document.getElementById('shop_status').style.color = '#329900';

                    } else {
                        document.getElementById('shop_status').innerHTML = '<span class="stt-online" title="mở cửa" > <i class="fa fa-circle mr-1" aria-hidden="true"></i>Đóng cửa</span>';
                        document.getElementById('shop_status').style.color = 'red';
                    }


                    document.getElementById('imageProduct').src = listdata.image;
                    document.getElementById('nameProduct').innerHTML = listdata.name;
                    document.getElementById('timeOpen').innerHTML = listdata.time_from + ' - ' + listdata.time_to + ' phút ship';
                    document.getElementById('priceProduct').innerHTML = 'Giá: ' + listdata.unit_price + ' VND';
                    document.getElementById('descriptionProduct').innerHTML = listdata.description;
                    showComment();

                }
            });
        }

        function checkLike(id, favorite) { //checkFavourites
            var token = getCookie("token");
            var userIdLike = localStorage.getItem('userId').replaceAll('"', '');
            if (token == '') {
                window.location.href = '/LoginUser';
            } else {
                if (favorite == "check") {
                    $.ajax({
                        url: '/api/favorite/delete',
                        method: 'GET',
                        data: {
                            product_id: id,
                            user_id: userIdLike
                        },
                    }).then(function(data) {
                        if (data.message == 'SUCCESS') {
                            loadproduct()
                        }
                    })
                } else {

                    $.ajax({
                        url: '/api/favorite/create',
                        method: 'POST',
                        data: {
                            product_id: id,
                            user_id: userIdLike
                        },
                    }).then(function(data) {
                        if (data.message == 'SUCCESS') {
                            loadproduct()
                        }
                    })
                }
            }


        }

        function showComment() {
            $.ajax({
                type: "GET",
                data: {
                    id: product_id
                },
                url: "/api/comment/searchcomment",
                success: function(data) {


                    let list = data.data.listComment;
                    console.log('start comment:    ');
                    console.log(data.data);
                    for (var i = 0; i < list.length; i++) {

                        let id = list[i].id;
                        let cmt_id = list[i].cmt_id;
                        let content = list[i].content;
                        let user_id = list[i].user_id;
                        let d = new Date(list[i].createdAt);
                        let n;
                        if (d.getUTCDate() < 10) {
                            n = '0' + d.getUTCDate();
                        } else {
                            n = d.getUTCDate();
                        }
                        let m;
                        m = d.getUTCMonth().toLocaleString('en-us', {
                            month: 'short'
                        });
                        let y = d.getUTCFullYear();
                        let dob = n + ', ' + m + ' ' + y;
                        document.getElementById('listComment').innerHTML = ''
                        inforUserComment(user_id, list, id, cmt_id, content, dob, i);
                    }
                }
            })
        }

        function inforUserComment(user_id, list, id, cmt_id, content, dob, i) {
            var text = localStorage.getItem('userId').replaceAll('"', '');
            $.ajax({
                type: "GET",
                dataType: "json",
                data: {
                    id: user_id
                },
                url: "/api/user/getbyId",
                success: function(data) {
                    if (cmt_id == '') {
                        let image = (data.data.avatar ? data.data.avatar : 'image/list/1.png');
                        if (user_id == text) {

                            document.getElementById('listComment').innerHTML += `<div class="reviews-members pt-2" style="display: flex;"><div class="media" style="width: 100%"> <a href="#"><img alt="Generic placeholder image" src="` + image + `" class="mr-3 rounded-pill" style="width: 40px; height: 40px;"></a> <div class="media-body" style="border: 1px solid #f0f2f5; border-radius: 10px; background-color: #f0f2f5; padding: 10px"> <div class="reviews-members-header" style="display: flex; justify-content: space-between;"> <h6 class="mb-1"><a class="text-black" href="#">` + data.data.name + `</a></h6> <p class="text-gray" style="margin-bottom: 5px;">` + dob + `</p> </div> <div class="reviews-members-body"> <p id="text-content` + i + `">` + content + `</p> </div> </div> </div> <div class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown"> <a class="nav-link dropdown-toggle rounded-pill" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0 !important; width: 40px;height: 40px;margin-top: 18px; margin-left: 0px;"> <i class="fa fa-ellipsis-h" style="font-size: large;margin-left: 13px; margin-top: 12px; color: #606770 !important;"></i> </a> <div class="dropdown-menu dropdown-menu-right shadow-sm border-0"> <button class="dropdown-item" onclick="editReply(` + "'" + i + "','" + id + "','" + content + "'" + `)"> Sửa </button> <button class="dropdown-item" data-toggle="modal" data-target="#deleteComment" onclick="deleteComments(` + "'" + id + "'" + `)"> Xóa </button> </div> </div> </div> </div> <div style="margin-left: 67px"> <label class="reply" style="border-radius: 6px" onclick="Reply(` + "'" + i + "','" + data.data.name + "','" + id + "'" + `)"> Phản hồi </label> . <label style="border-radius: 6px;" onclick="showReply(` + "'" + i + "'" + `)"> Hiển thị phản hồi </label> <div id="showReply` + i + `"> </div> <div class="reply-section" id="replytoreply` + i + `"> </div></div> </div> </div> `;

                            ReplyToReply(i, list, id);
                        } else {
                            document.getElementById('listComment').innerHTML += '<div class="reviews-members pt-2" style="display: flex;"><div class="media" style="width: 100%"> <a href="#"><img alt="Generic placeholder image" src="' + image + '" class="mr-3 rounded-pill" style="width: 40px; height: 40px;"></a> <div class="media-body" style="border: 1px solid #f0f2f5; border-radius: 10px; background-color: #f0f2f5; padding: 10px"> <div class="reviews-members-header" style="display: flex; justify-content: space-between;"> <h6 class="mb-1"><a class="text-black" href="#">' + data.data.name + '</a></h6> <p class="text-gray" style="margin-bottom: 5px;">' + dob + '</p> </div> <div class="reviews-members-body"> <p>' + content + '</p> </div> </div> </div> </div> <div style="margin-left: 67px"> <label class="reply" style="border-radius: 6px" onclick="Reply(' + "'" + i + "','" + data.data.name + "','" + id + "'" + ')"> Phản hồi </label> . <label style="border-radius: 6px;" onclick="showReply(' + "'" + i + "'" + ')"> Hiển thị phản hồi </label> <div id="showReply' + i + '"> </div> <div class="reply-section" id="replytoreply' + i + '"> </div></div> </div> </div>';

                            ReplyToReply(i, list, id);
                        }




                    }
                }

            })
        }

        function ReplyToReply(i, listReply, id) {
            console.log(listReply.length)
            for (var j = 0; j < listReply.length; j++) {
                if (listReply[j].cmt_id == id) {
                    let id_reply = listReply[j].id;
                    let content_reply = listReply[j].content;
                    let user_id_reply = listReply[j].user_id;

                    let d = new Date(listReply[j].createdAt);
                    var n;
                    if (d.getUTCDate() < 10) {
                        n = '0' + d.getUTCDate();
                    } else {
                        n = d.getUTCDate();
                    }
                    var m;
                    m = d.getUTCMonth().toLocaleString('en-us', {
                        month: 'short'
                    });
                    var y = d.getUTCFullYear();
                    var dob_reply = n + ', ' + m + ' ' + y;

                    // showInforReply(user_id_reply, content_reply, dob_reply);

                    // document.getElementById("showReply" + i).innerHTML += '<div class="reviews-members pt-2 ml-5"><div class="media"> <a href="#"><img alt="Generic placeholder image" src="image/user/1.png" class="mr-1 rounded-pill" style="width: 30px; height: 30px;"></a> <div class="media-body" style="border: 1px solid #f0f2f5; border-radius: 10px; background-color: #f0f2f5; padding: 10px"> <div class="reviews-members-header" style="display: flex; justify-content: space-between;"> <h6 class="mb-1"><a class="text-black" href="#">heloo</a></h6> <p class="text-gray" style="margin-bottom: 5px;">' + dob_reply + '</p> </div> <div class="reviews-members-body"> <p>' + content_reply + '</p> </div> </div> </div> </div> <div style="margin-left: 93px"> <label class="reply" style="border-radius: 6px"> Phản hồi </label> . <label style="border-radius: 6px;"> Hiển thị phản hồi </label> <div class="reply-section" id="replytoreply"></div> </div> </div>';
                    var text = localStorage.getItem('userId').replaceAll('"', '');
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        data: {
                            id: user_id_reply
                        },
                        url: "/api/user/getbyId",
                        success: function(data) {
                            let image = (data.data.avatar ? data.data.avatar : 'image/list/1.png');
                            // document.getElementById("showReply" + i).innerHTML += '<div class="reviews-members pt-2"><div class="media"> <a href="#"><img alt="Generic placeholder image" src="' + data.data.avatar + '" class="mr-1 rounded-pill" style="width: 30px; height: 30px;"></a> <div class="media-body"> <div class="reviews-members-header" style="display: flex; justify-content: space-between;"> <h6 class="mb-1"><a class="text-black" href="#">' + data.data.name + '</a></h6> <p class="text-gray" style="margin-bottom: 5px;">' + dob_reply + '</p> </div> <div class="reviews-members-body"> <p>' + content_reply + '</p> </div> </div> </div> </div> <div> <button class="btn-danger" style="border-radius: 6px"> Reply </button> <button class=" btn-danger" style="border-radius: 6px;" onclick="viewReply()"> View Reply </button> </div> </div>';
                            if (user_id_reply == text) {
                                document.getElementById("showReply" + i).innerHTML += `<div class="reviews-members pt-2" style="display: flex;"><div class="media" style="width: 100%"> <a href="#"><img alt="Generic placeholder image" src="` + image + `" class="mr-3 rounded-pill" style="width: 40px; height: 40px;"></a> <div class="media-body" style="border: 1px solid #f0f2f5; border-radius: 10px; background-color: #f0f2f5; padding: 10px"> <div class="reviews-members-header" style="display: flex; justify-content: space-between;"> <h6 class="mb-1"><a class="text-black" href="#">` + data.data.name + `</a></h6> <p class="text-gray" style="margin-bottom: 5px;">` + dob_reply + `</p> </div> <div class="reviews-members-body"> <p id="textEditReplyToReply` + j + `">` + content_reply + `</p>  </div> </div> </div> <div class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown"> <a class="nav-link dropdown-toggle rounded-pill" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0 !important; width: 40px;height: 40px;margin-top: 18px; margin-left: 0px;"> <i class="fa fa-ellipsis-h" style="font-size: large;margin-left: 13px; margin-top: 12px; color: #606770 !important;"></i> </a> <div class="dropdown-menu dropdown-menu-right shadow-sm border-0"> <button class="dropdown-item" onclick="editReplyToReply(` + "'" + j + "','" + id_reply + "'" + `)"> Sửa </button> <button class="dropdown-item" data-toggle="modal" data-target="#deleteComment" onclick="deleteComments(` + "'" + id_reply + "'" + `)"> Xóa </button> </div> </div> </div> </div> <div style="margin-left: 67px"> <label class="reply" style="border-radius: 6px" onclick="Reply(` + "'" + i + "','" + data.data.name + "','" + id + "'" + `)"> Phản hồi </label> <div id="showReply` + j + `"> </div> <div class="reply-section" id="replytoreply` + j + `"> </div></div> </div> </div> `;
                            } else {
                                document.getElementById("showReply" + i).innerHTML += `<div class="reviews-members pt-2" style="display: flex;"><div class="media" style="width: 100%"> <a href="#"><img alt="Generic placeholder image" src="` + image + `" class="mr-3 rounded-pill" style="width: 40px; height: 40px;"></a> <div class="media-body" style="border: 1px solid #f0f2f5; border-radius: 10px; background-color: #f0f2f5; padding: 10px"> <div class="reviews-members-header" style="display: flex; justify-content: space-between;"> <h6 class="mb-1"><a class="text-black" href="#">` + data.data.name + `</a></h6> <p class="text-gray" style="margin-bottom: 5px;">` + dob_reply + `</p> </div> <div class="reviews-members-body"> <p>` + content_reply + `</p>  </div> </div> </div> </div> <div style="margin-left: 67px"> <label class="reply" style="border-radius: 6px" onclick="Reply(` + "'" + i + "','" + data.data.name + "','" + id + "'" + `)"> Phản hồi </label>  <div id="showReply` + i + `"> </div> <div class="reply-section" id="replytoreply` + j + `"> </div></div> </div> </div>`;
                            }

                        }
                    })
                }

            }
        }

        // Close modal on button click
        // function closeModal() {
        //     $("#deleteComment").style.display = 'none';
        // }

        function deleteComments(id) {
            localStorage.setItem('deleteComments', JSON.stringify(id));
        }

        function deletepro() { //Xoa reply
            var idUser = localStorage.getItem('deleteComments').replaceAll('"', '');
            $.ajax({
                type: "GET",
                data: {
                    id: idUser
                },
                url: "/api/comment/delete",
                success: function(data) {
                    showComment();
                }
            });
        }

        function editReply(i, idReply, content) { //Sua comment

            var text = $('#text-content' + i).text();
            var input = $('<input id="attribute" type="text" class="form-control" value="' + text + '" /> <p id="confirm">Nhấn enter để thay đổi</p>')
            $('#text-content' + i).text('').append(input);
            input.select();

            input.blur(function() {
                $('#attribute').replaceWith("<p>" + content + "</p>");
                document.getElementById('confirm').innerHTML = '';
            });

            $('#attribute').keypress(function(event) {

                if (event.keyCode === 13) {
                    event.preventDefault();
                    if ($('#attribute').val() == '') {
                        document.getElementById('confirm').innerHTML = 'Hãy viết gì đó...';
                        document.getElementById('confirm').style.color = 'red';
                    } else {
                        $.ajax({
                            url: '/api/comment/update',
                            method: 'POST',
                            data: {
                                id: idReply,
                                content: $('#attribute').val(),
                            },
                        }).then(function(data) {
                            showComment();
                        })
                    }
                }
            });
        }


        function editReplyToReply(i, idReply, content) { //Sua reply
            var text = $('#textEditReplyToReply' + i).text();
            var input = $('<input id="attributed" type="text" class="form-control" value="' + text + '" /> <p id="confirmReply">Nhấn enter để thay đổi</p>')
            $('#textEditReplyToReply' + i).text('').append(input);
            input.select();

            input.blur(function() {
                $('#attributed').replaceWith("<p>" + content + "</p>");
                document.getElementById('confirmReply').innerHTML = '';
            });

            $('#attribute').keypress(function(event) {

                if (event.keyCode === 13) {
                    event.preventDefault();
                    if ($('#attribute').val() == '') {
                        document.getElementById('confirmReply').innerHTML = 'Hãy viết gì đó...';
                        document.getElementById('confirmReply').style.color = 'red';
                    } else {
                        $.ajax({
                            url: '/api/comment/update',
                            method: 'POST',
                            data: {
                                id: idReply,
                                content: $('#attribute').val(),
                            },
                        }).then(function(data) {
                            showComment();
                        })
                    }
                }
            });
        }




        function Reply(jId, name, id) { //An hoac hien phan hoi comment va reply
            // var thisClicked = $(this);
            // var cmt_id = thisClicked;


            // $('.reply-section').html('');
            // thisClicked.closest('.reviews-members').find('.reply-section').html(
            //     '<input type="text" class="form-control mt-2" placeholder="Reply"> <div class="text-end mt-2"> <button class="btn-danger" style="border-radius: 6px"> Reply </button> <button class=" btn-danger" style="border-radius: 6px;"> Cancel </button> </div>'
            // );

            // document.getElementsByClassName('reply-section').innerHTML += 'hello'
            var x = document.getElementById("replytoreply" + jId);
            if (x.style.display === "none") {
                x.style.display = "block";
                x.innerHTML = '<input type="text" class="form-control mt-2" id="textReplyComment"> <div class="text-end mt-2"> <button class="btn-danger" style="border-radius: 6px" id="sendReplyToReply" onclick="sendReplyToReply(' + "'" + id + "'" + ')"> Gửi </button> ';
                document.getElementById('textReplyComment').value = '@' + name + ': ';
            } else {
                x.style.display = "none";

            }
        }

        function showReply(iIds) { //An hoac hien cac reply trong comment
            var x = document.getElementById("showReply" + iIds);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";

            }
        }

        function sendReplyToReply(id) { //reply cua reply
            var userId = localStorage.getItem('userId').replaceAll('"', '');

            $.ajax({
                url: '/api/comment/create',
                method: 'POST',
                data: {
                    user_id: userId,
                    product_id: product_id,
                    content: $('#textReplyComment').val(),
                    cmt_id: id,
                },
            }).then(function(data) {
                if (data.message == 'SUCCESS') {
                    showComment();
                }
                document.getElementById("textReplyComment").value = "";
            })
        }

        $('#submitComment').click(function() { //Gui comment
            var userId = localStorage.getItem('userId').replaceAll('"', '');
            var text = document.getElementById("textComment").value;
            if (userId == '') {
                window.location.href = '/LoginUser';
            } else {
                if (text == "") {
                    document.getElementById('textComment').setAttribute('class', 'form-control border-danger');
                    document.getElementById('messageComment').innerHTML = 'Hãy viết gì đó.....';
                } else {
                    $.ajax({
                        url: '/api/comment/create',
                        method: 'POST',
                        data: {
                            user_id: userId,
                            product_id: product_id,
                            content: $('#textComment').val(),
                            cmt_id: '',
                        },
                    }).then(function(data) {
                        if (data.message == 'SUCCESS') {
                            showComment();
                            loadnotify();
                        }
                        document.getElementById("textComment").value = "";
                        document.getElementById('textComment').setAttribute('class', 'form-control');
                        document.getElementById('messageComment').innerHTML = '';
                    })
                }
            }

        })

        let perPage = 6;
        let currentPage = 1;
        let start = 0;
        let end = perPage;
        const btnnext = document.querySelector('#btn_next');
        const btnprivious = document.querySelector('#btn_privious');
        let totalPage;

        function renderPage(lengths) {
            let html = '';
            for (let i = 1; i <= lengths; i++) {
                html += `<li class="page-item pagess"><a class="page-link" href="#">${i}</a></li>`;
            }
            document.getElementById('number_page').innerHTML = html;

            const currentPages = document.querySelectorAll('.number_page li');
            for (let i = 0; i < currentPages.length; i++) {
                currentPages[i].addEventListener('click', () => {
                    let value = i + 1;
                    currentPage = value;
                    currentPagess(currentPage);
                    loadproduct();
                })
            }
        }

        function currentPagess(currentPage) {
            start = (currentPage - 1) * perPage;
            end = currentPage * perPage;
        }

        function getLength(length) {
            totalPage = length;

            btnnext.addEventListener('click', () => {
                currentPage++;
                if (currentPage > totalPage) {
                    currentPage = totalPage;
                }
                currentPagess(currentPage);
                loadproduct();
            })

            btnprivious.addEventListener('click', () => {
                currentPage--;
                if (currentPage <= 1) {
                    currentPage = 1;
                }
                currentPagess(currentPage);
                loadproduct();
            })
        }
    </script>
</body>

</html>