<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <title>FUMK - Online Food Ordering</title>
    <!-- Custom Css -->
    <link href="skin/css/styles.css" rel="stylesheet" />
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="image/favicon.png">
    <!-- Bootstrap core CSS-->
    <link href="skin/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/all.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/icofont.min.css" rel="stylesheet">
    <!-- Select2 CSS-->
    <link href="skin/font/select2.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="skin/font/osahan.css" rel="stylesheet">
    <!-- Dropzone-->
    <link href="skin/font/dropzone.css" rel="stylesheet">
    <!-- HungCSS -->
    <link href="skin/font/HungCSS.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="skin/owl/owl.carousel.css">
    <link rel="stylesheet" href="skin/owl/owl.theme.css">

    <link href="skin/font/DoanCSS.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #notifies::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        
        #notifies::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }
        
        #notifies::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
        }
    </style>
</head>

<body>
    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm ">
            <div class="container">
                <a class="navbar-brand" href="/"><img alt="logo" style="max-width: 120px;" src="image/logoShop.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <div class="modal fade modal-search show modalsearch" id="modal-search" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <span class="close" data-dismiss="modal">
                                        <div class="close-icon">X</div>
                                    </span>
                                    <div class="modal-search-form" id="search_form">
                                        <span class="sub-title">Tìm kiếm các quán ăn.......</span>
                                        <form>
                                            <input type="text" class="search-input" id="search-input">
                                        </form>
                                    </div>
                                    <div id="suggest"></div>
                                </div>
                            </div>
                        </div>
                        <li class="nav-item active">
                            <span class="sizeIcon" data-toggle="modal" data-target="#modal-search">
                            <i class="icofont-search-property nav-link" style="padding-top: 20px !important; cursor: pointer;"></i>
                        </span>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Trang Chủ<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Offers"><i class="icofont-sale-discount"></i> Ưu Đãi <span class="badge badge-danger">Mới</span></a>
                        </li>
                        <li id="checkLogin"></li>
                        <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell-o" aria-hidden="true" style="font-size: 20px;"></i>
                                <!-- Counter - Alerts -->
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm">
                                <h6 class="dropdown-header">
                                    Thông Báo
                                </h6>
                                <div id="notifies" style="height: 240px; overflow: scroll; overflow-x: hidden;">
                                </div>

                            </div>
                        </li>
                        <li class="nav-item dropdown dropdown-cart">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icofont-basket"></i> Giỏ Hàng
                                <span class="total-count badge badge-success"></span>
                            </a>
                            <div class="dropdown-menu dropdown-cart-top p-0 dropdown-menu-right shadow-sm border-0">

                                <div class="dropdown-cart-top-body border-top p-4">
                                    <div class="name-Store"> </div>

                                    <table class=" table" id="show-cart">

                                    </table>
                                </div>
                                <div class="dropdown-cart-top-footer border-top p-4">
                                    <p class="mb-0 font-weight-bold text-secondary">Tổng Tiền <span class="total-cart float-right text-dark"></span></p>

                                </div>
                                <div class="dropdown-cart-top-footer border-top p-2">
                                    <a class="btn btn-success btn-block btn-lg" onclick="checkCart()"> Thanh Toán</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <section class="section pb-5 products-listing">
        <div class="container" style="padding-top: 90px;">
            <div class="row d-none-m">
                <!-- <div class="col-md-12">

                    <h4 class="font-weight-bold mt-0 mb-3">OFFERS <small class="h6 mb-0 ml-2">299 restaurants
                  </small>
                    </h4>
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <form class="filters-search mb-3">
                            <div class="form-group"> <i class="icofont-search"></i> <input type="text" class="form-control" placeholder="Bắt đầu nhập để tìm kiếm ..." id="productSearch"> </div>
                        </form>
                    </div>
                    <div class="row" id="allseller">
                        <!-- <div class="col-md-12 text-center load-more">
                            <button class="btn btn-primary" type="button" disabled>
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Loading...
                     </button>
                        </div> -->
                    </div>
                    <div class="col-md-12 text-center load-more" id="pagingWeb">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" style="justify-content: center;">
                                <li class="page-item" id="btn_privious">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <div class="number_page" id="number_page" style="display: flex;">
                                </div>

                                <li class="page-item" id="btn_next">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div id="findShop"></div>
                </div>
            </div>
        </div>
        </div>
    </section>


    <!-- jQuery -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Select2 JavaScript-->
    <script src="js/select2.min.js"></script>
    <!-- Owl Carousel -->
    <script src="js/owl.carousel.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/custom.js"></script>
    <script src="js/header.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../customJS/shopDetail.js"></script>


    <script>
        $(document).ready(function() {
            console.log("object,", sessionStorage.getItem('shoppingCart'));
            loaddata()
        });

        function checkCart() {
            var text = localStorage.getItem('userId').replaceAll('"', '');
            if (text == '') {
                Swal.fire({
                    type: 'warning',
                    title: 'Bạn hãy đăng nhập để thanh toán',
                    // text: 'Your offer is safe 🙂',
                    showConfirmButton: false,
                    timer: 2500
                })
                window.setTimeout(function() {
                    window.location.href = '/LoginUser';
                }, 2500);
            } else {
                window.location.href = '/CheckOut';
            }
        }

        $('#productSearch').keyup(function(event) {
            event.preventDefault();
            localStorage.setItem('searchListSeller', JSON.stringify(document.getElementById('productSearch').value));

            loaddata();
        });

        function loaddata() {
            var text = localStorage.getItem('searchListSeller').replaceAll('"', '');
            $.ajax({
                type: "GET",
                dataType: "json",
                data: {
                    name: text
                },
                url: "/api/user/searchSeller",
                success: function(data) {
                    var listdata = data.data.listUsers;

                    let length = Math.ceil(listdata.length / perPage);
                    console.log(length);
                    getLength(length);
                    renderPage(length);
                    document.getElementById('productSearch').value = text;
                    (listdata.length > 2) ? document.getElementById("pagingWeb").hidden = false: document.getElementById("pagingWeb").hidden = true;
                    if (listdata != '') {
                        document.getElementById('findShop').innerHTML = '';
                        document.getElementById('allseller').innerHTML = '';
                        for (var i = 0; i < listdata.length; i++) {
                            if (i >= start && i < end) {
                                document.getElementById('allseller').innerHTML += '<div class="col-md-3 col-sm-6 mb-4 pb-2" onclick="goTo(' + "'" + listdata[i].id + "'" + ')">' +
                                    '<div class="list-card bg-white overflow-hidden h-100 position-relative item-content" style="border: 1px solid #d7d7d7; border-radius: 6px;">' +
                                    '<div class="list-card-image">' +
                                    '<div class="member-plan position-absolute"></div>' +
                                    '<a> <img src="image/list/1.png" class="img-fluid item-img"> </a>' +
                                    '</div>' +
                                    '<div class="p-3 position-relative">' +
                                    '<div class="list-card-body">' +
                                    '<h6 class="mb-1"><a class="text-black">' + listdata[i].name + '</a></h6>' +
                                    '<p class="text-gray mb-3">' + listdata[i].address + '</p>' +
                                    '</div></div> </div> </div>';
                            }
                        }
                    } else {
                        document.getElementById('allseller').innerHTML = '';
                        document.getElementById('findShop').innerHTML = '<section class="section pt-5 pb-5 osahan-not-found-page"> <div class="container"> <div class="row"> <div class="col-md-12 text-center pt-5 pb-5"> <img class="img-fluid" src="image/notFind.png" alt="find"> <h1 class="mt-2 mb-2">Không tìm thấy quán</h1> <p>Ồ! Có vẻ như trang bạn đang cố gắng tìm quán. <br>  Vui lòng bắt đầu lại</p> <a class="btn btn-primary btn-lg" href="/">Về trang chủ</a> </div> </div> </div> </section>'
                    }

                }
            });
        }

        function goTo(shopIdClick) {
            let id = "?id=" + shopIdClick;
            window.location.href = '/ShopDetail' + id;
        }

        let perPage = 2;
        let currentPage = 1;
        let start = 0;
        let end = perPage;
        const btnnext = document.querySelector('#btn_next');
        const btnprivious = document.querySelector('#btn_privious');
        let totalPage;

        function renderPage(lengths) {
            let html = '';
            for (let i = 1; i <= lengths; i++) {
                html += `<li class="page-item pagess"><a class="page-link" href="#">${i}</a></li>`;
            }
            document.getElementById('number_page').innerHTML = html;

            const currentPages = document.querySelectorAll('.number_page li');
            for (let i = 0; i < currentPages.length; i++) {
                currentPages[i].addEventListener('click', () => {
                    let value = i + 1;
                    currentPage = value;
                    currentPagess(currentPage);
                    loaddata();
                })
            }
        }

        function currentPagess(currentPage) {
            start = (currentPage - 1) * perPage;
            end = currentPage * perPage;
        }

        function getLength(length) {
            totalPage = length;

            btnnext.addEventListener('click', () => {
                currentPage++;
                if (currentPage > totalPage) {
                    currentPage = totalPage;
                }
                currentPagess(currentPage);
                loaddata();
            })

            btnprivious.addEventListener('click', () => {
                currentPage--;
                if (currentPage <= 1) {
                    currentPage = 1;
                }
                currentPagess(currentPage);
                loaddata();
            })
        }
    </script>

</body>

</html>