<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <title>FUMK - Online Food Ordering</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="image/favicon.png">
    <link href="skin/css/styles.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="skin/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/all.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/icofont.min.css" rel="stylesheet">
    <!-- Select2 CSS-->
    <link href="skin/font/select2.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="skin/font/osahan.css" rel="stylesheet">
    <!-- Dropzone-->
    <link href="skin/font/dropzone.css" rel="stylesheet">
    <!-- HungCSS -->
    <link href="skin/font/HungCSS.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="skin/owl/owl.carousel.css">
    <link rel="stylesheet" href="skin/owl/owl.theme.css">

    <link href="skin/font/DoanCSS.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #notifies::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        
        #notifies::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }
        
        #notifies::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm ">
        <div class="container">
            <a class="navbar-brand" href="/"><img alt="logo" style="max-width: 120px;" src="image/logoShop.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <div class="modal fade modal-search show modalsearch" id="modal-search" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <span class="close" data-dismiss="modal">
                                    <div class="close-icon">X</div>
                                </span>
                                <div class="modal-search-form" id="search_form">
                                    <span class="sub-title">Tìm kiếm các quán ăn.......</span>
                                    <form>
                                        <input type="text" class="search-input" id="search-input">
                                    </form>
                                </div>
                                <div id="suggest"></div>
                            </div>
                        </div>
                    </div>
                    <li class="nav-item active">
                        <span class="sizeIcon" data-toggle="modal" data-target="#modal-search">
                            <i class="icofont-search-property nav-link" style="padding-top: 20px !important;"></i>
                        </span>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Trang Chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Offers"><i class="icofont-sale-discount"></i>Ưu Đãi<span
                                class="badge badge-danger">Mới</span></a>
                    </li>
                    <li id="checkLogin"></li>
                    <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell-o" aria-hidden="true" style="font-size: 20px;"></i>

                        </a>

                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm">
                            <h6 class="dropdown-header">
                                Thông Báo
                            </h6>
                            <div id="notifies" style="height: 240px; overflow: scroll; overflow-x: hidden;">
                            </div>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutUs"><i class="fa fa-info-circle" style="font-size: large;"></i> Giới thiệu </a>
                    </li>
                    <!-- <li class="nav-link" style="padding-top: 20px !important;">
                        <button class="btn btn-primary"> Login </button>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img alt="Generic placeholder image" src="image/user/4.png" class="nav-osahan-pic rounded-pill"> My Account
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow-sm border-0">
                            <a class="dropdown-item" href="orders.html#orders"><i class="icofont-ui-user"></i> My Profile </a>
                            <a class="dropdown-item" href="orders.html#offers"><i class="icofont-logout"></i> Logout </a>
                        </div>
                    </li> -->
                    <!-- <li class="nav-item dropdown dropdown-cart">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="icofont-basket"></i> Cart
                            <span class="badge badge-success">5</span>
                        </a>
                        <div class="dropdown-menu dropdown-cart-top p-0 dropdown-menu-right shadow-sm border-0">




                        </div>
                    </li> -->
                </ul>

            </div>
        </div>
    </nav>
    <section class="offer-dedicated-body mt-4 mb-4 pt-2 pb-2">
        <div class="container">
            <div class="row" style="padding-top: 70px;">
                <div class="col-md-6">
                    <div class="offer-dedicated-body-left">
                        <div class="pt-2"></div>
                        <div class="bg-white rounded shadow-sm p-4 mb-4">
                            <h4 class="mb-1">Lựa Chọn Địa Chỉ Giao Hàng</h4>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bg-white card addresses-item mb-4 border border-success mt-3">
                                        <div class="gold-members p-4">
                                            <div class="media">
                                                <div class="mr-3"><i class="icofont-ui-home icofont-3x"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="mb-1 text-black">Địa Chỉ</h6>
                                                    <textarea style="height:70px;" class="form-control" id="address" placeholder="Địa chỉ của bạn "></textarea>
                                                    <span class="form-message text-danger" id="messageAddress"></span>
                                                    <!-- <p class="mt-3 text-black font-weight-bold" style="float: right;"><a class="btn btn-sm btn-success mr-2" href="#"> Save</a>
                                                        </p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-md-12">
                                        <div class="bg-white card addresses-item">
                                            <div class="gold-members p-4">
                                                <div class="media">
                                                    <div class="mr-3"><i class="icofont-location-pin icofont-3x"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1 text-secondary">Other</h6>
                                                        <textarea style="height:70px;" class="form-control"
                                                            id="address2" placeholder="Address "></textarea>
                                                        <p class="mt-3 text-black font-weight-bold"
                                                            style="float: right;"><a
                                                                class="btn btn-sm btn-secondary mr-2" href="#"> Save</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                        </div>
                    </div>
                    <div class="pt-2"></div>

                </div>
                <div class="col-md-6 ">
                    <div class="generator-bg rounded shadow-sm mb-4 p-4 mt-2 osahan-cart-item">

                        <div class="bg-white rounded shadow-sm mb-2">

                            <div class="gold-members p-2 border-bottom">
                                <div class="table " id="show-cart">

                                    <div class="gold-members p-2 border-bottom">
                                        <div class="table " id="show-cart">

                                        </div>

                                        </span>

                                    </div>
                                </div>
                                <div class="mb-2 bg-white rounded p-2 clearfix">
                                    <div class="input-group input-group-sm mb-2">
                                        <input type="text" class="voucher-price form-control" id="saleCode" placeholder="Nhập Mã Giảm Giá ">

                                        <div class="input-group-append">
                                            <button class="btn-voucher btn btn-primary" type="button" id="button-addon2"><i class="icofont-sale-discount"></i>
                                                        Áp Dụng</button>
                                        </div>

                                    </div>
                                    <span class="form-message text-danger" id="messageSale"></span>
                                    </span>

                                </div>
                                <div class="mb-2 bg-white rounded p-2 clearfix">
                                    <p class="mb-1">Tổng Tiền <span class="total-cart float-right text-dark"></span></p>
                                    </p>
                                    <p class="mb-1 text-success"> Giảm Giá
                                        <span class="float-right text-success" id="sub-total-cart"></span>
                                    </p>
                                    <hr />
                                    <h6 class=" font-weight-bold mb-0">Tổng <span class="after-Voucher float-right"></span>
                                    </h6>
                                </div>
                                <a class="checkout-btn btn btn-success btn-block btn-lg">ĐẶT HÀNG
                                            <i class="icofont-long-arrow-right"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="section pt-5 pb-5 text-center bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="m-0">Điều hành cửa hàng hoặc nhà hàng? <a href="/LoginUser" style="color: red !important;">Làm việc với chúng tôi</a></h5>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="containers">
            <!--Bắt Đầu Nội Dung Giới Thiệu-->
            <div class="noi-dung about">
                <h2>Về Chúng Tôi</h2>
                <p style="margin-right: 80px;"> FU Market được thành lập bởi nhóm đồ án SWP490 - G31 với mục đích giúp sinh viên và cán bộ tại ĐH FPT có một trang website mua bán các mặt hàng thực phẩm và đồ uống một cách tiện lợi nhất . Được phát triển
                    năm 2021, sản phẩm đang dần được hoàn thiện và sẽ sớm có mặt dưới dạng ứng dụng ,tích hợp các cổng thanh toán điện tử . Chúng tôi rất mong nhận được nhiều sự góp ý đến từ người sử dụng để hệ thống
                    ngày càng phát triển.</p>
            </div>
            <!--Kết Thúc Nội Dung Giới Thiệu-->
            <!--Bắt Đầu Nội Dung Đường Dẫn-->
            <div class="noi-dung links">
                <h2>Đường Dẫn</h2>
                <ul style="padding-left: 0px;">
                    <li><a href="/">Trang Chủ</a></li>
                    <li><a href="/aboutUs">Về Chúng Tôi</a></li>
                    <li><a href="/aboutUs">Thông Tin Liên Lạc</a></li>
                    <li><a href="/aboutUs">Dịch Vụ</a></li>
                    <li><a href="/aboutUs">Điều Kiện Chính Sách</a></li>
                </ul>
            </div>
            <!--Kết Thúc Nội Dung Đường Dẫn-->
            <!--Bắt Đâu Nội Dung Liên Hệ-->
            <div class="noi-dung contact">
                <h2>Thông Tin Liên Hệ</h2>
                <ul class="info" style="padding-left: 0px;">
                    <li>
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>Đường Số 1<br />
                            Đường 1, Thủ Đô Hà Nội<br />
                            Việt Nam</span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone"></i></span>
                        <p><a href="#">0916.788.111 (Mr. Đoàn)</a>
                            <br/>
                        </p>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope"></i></span>
                        <p><a href="#">fu.market.2021@gmail.com</a>
                            <br />
                        </p>
                    </li>
                </ul>
            </div>
            <!--Kết Thúc Nội Dung Liên Hệ-->
        </div>
    </footer>



    <!-- jQuery -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Select2 JavaScript-->
    <script src="js/select2.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/custom.js"></script>
    <!-- Ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/header.js"></script>
    <script src="../../customJS/shopDetail.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <script>
        var cart = JSON.parse(sessionStorage.getItem('shoppingCart'));
        console.log("day ne 1", cart);
        var idUser = localStorage.getItem('userId').replaceAll('"', '');
        //function thay doi dia chi
        $("#address").keyup(function() {
                console.log($("#address").val());
                cart.address = $("#address").val()
                sessionStorage.setItem('shoppingCart', JSON.stringify(cart));
                console.log(cart);
            })
            //function ap ma voucher


        function checkErrorCode() {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/api/voucher/search",
                success: function(data) {
                    var listdata = data.data.listVoucher;
                    for (var i = 0; i < listdata.length; i++) {
                        if ($(".voucher-price").val() != listdata[i].code) {
                            document.getElementById('messageSale').innerHTML = 'Mã chưa chính xác';
                            document.getElementById('saleCode').setAttribute('class', 'form-control border-danger');
                        }
                    }
                }
            });
        }


        $(".btn-voucher").click(function() {


                if ($(".voucher-price").val() == '') {
                    document.getElementById('messageSale').innerHTML = 'Mã chưa chính xác';
                    document.getElementById('saleCode').setAttribute('class', 'form-control border-danger');
                } else if (!checkErrorCode()) {
                    $.ajax({
                        url: "/api/voucher/getCode",
                        type: "GET",
                        data: {
                            "code": document.getElementById('saleCode').value,
                        }
                    }).then(function(data) {
                        console.log(data);
                        if (data.message == "SUCCESS") {

                            $("#sub-total-cart").html(data.data.discount_number)
                            cart.voucherCode = data.data.code;
                            sessionStorage.setItem('shoppingCart', JSON.stringify(cart));
                            let total_Price = $(".total-cart").html();
                            let voucher_Price = data.data.discount_number;
                            let afterVoucher = total_Price - voucher_Price;
                            $(".after-Voucher").html(afterVoucher);

                            document.getElementById('messageSale').innerHTML = '';
                            document.getElementById('saleCode').setAttribute('class', 'form-control');
                        }
                    })
                }
            })
            //function lay dia chi nguoi dung

        $.ajax({
            url: "/api/user/getbyId",
            type: "GET",
            data: {
                id: idUser,
            }
        }).then(function(data) {
            $("#address").html(data.data.address);
            cart.address = data.data.address;

            sessionStorage.setItem('shoppingCart', JSON.stringify(cart));
        })

        //function check-out ra bill

        $(".checkout-btn").click(function() {
            var cart_tmp = cart;
            cart_tmp.status = 1;
            console.log(cart_tmp);
            if ($('#address').val() == '') {
                document.getElementById('messageAddress').innerHTML = 'Vui lòng nhập địa chỉ...';
                document.getElementById('address').setAttribute('class', 'form-control border-danger');
            } else {
                $.ajax({
                    url: "/api/bill/create",
                    type: "POST",
                    data: {
                        "cart": cart_tmp
                    }
                }).then(function(data) {
                    console.log(data);
                    console.log(cart_tmp);


                    if (data.message == "SUCCESS") {
                        Swal.fire({
                            type: 'success',
                            title: 'Đặt Hàng Thành Công. Xin vui lòng theo dõi ở lịch sử đơn hàng 🛒',
                            // text: 'Your offer is safe 🙂',
                            showConfirmButton: false,
                            timer: 2500
                        })
                        window.setTimeout(function() {
                            window.location.href = '/';
                        }, 2500);
                        document.getElementById('messageAddress').innerHTML = '';
                        document.getElementById('address').setAttribute('class', 'form-control');
                    } else {
                        Swal.fire({
                            type: 'error',
                            title: 'Bạn chưa thêm sản phẩm vào giỏ hàng. Vui lòng thực hiện lại',
                            // text: 'Your offer is safe 🙂',
                            showConfirmButton: false,
                            timer: 2500
                        })
                        window.setTimeout(2500);
                        document.getElementById('messageAddress').innerHTML = '';
                        document.getElementById('address').setAttribute('class', 'form-control');
                    }
                })
            }


        })
    </script>

</body>

</html>