<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Askbootstrap" />
    <meta name="author" content="Askbootstrap" />
    <title>FUMK - Online Food Ordering</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="image/favicon.png" />
    <!-- Bootstrap core CSS-->
    <link href="skin/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome-->
    <!-- <link href="skin/font/all.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Font Awesome-->
    <link href="skin/font/icofont.min.css" rel="stylesheet" />
    <!-- Select2 CSS-->
    <link href="skin/font/select2.min.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="skin/font/osahan.css" rel="stylesheet" />
</head>

<body class="bg-white">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
                                <h3 class="login-heading mb-4">Quên mật khẩu!!!</h3>
                                <form id="contact-form" name="myForm" action="/sendmail" method="POST" onsubmit="check(event)" required>
                                    <div class="form-label-group mb-4">
                                        <input type="text" name="email" id="ptext" class="form-control" placeholder="Promocode" />
                                        <label for="ptext">
                        <i class="fa fa-envelope" aria-hidden="true"></i> Địa chỉ Email</label>
                                        <span class="form-message text-danger" id="messageEmail"></span>
                                    </div>
                                    <!-- <div class="btn_submit">
                                        <input type="submit" class="btn btn_submit" id="myWish" value="Thay đổi mật khẩu"/>
                                    </div> -->
                                    <input type="submit" class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2" id="myWish" value="Thay đổi mật khẩu" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Select2 JavaScript-->
    <script src="js/select2.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function() {
            setCookie("token", "", 0);
            localStorage.clear();
        })

        var form = document.getElementById("contact-form");

        form.addEventListener("submit", async(event) => {
            event.preventDefault();
            //2.
            let mail = new FormData(form);
            if ($('#ptext').val() == '') {
                document.getElementById('messageEmail').innerHTML = 'Vui lòng nhập Email...';
                document.getElementById('ptext').setAttribute('class', 'form-control border-danger');
            } else {
                $.ajax({
                    url: "/api/user/getEmail",
                    type: "GET",
                    data: {
                        email: $('#ptext').val()
                    },
                }).then(function(data) {
                    if (data.data != null) {
                        document.getElementById('messageEmail').innerHTML = '';
                        document.getElementById('ptext').setAttribute('class', 'form-control');
                        Swal.fire({
                            type: 'success',
                            title: 'Xin vui lòng kiểm tra Email của bạn để lấy lại mật khẩu 🔓',
                            // text: 'Your offer is safe 🙂',
                            showConfirmButton: false,
                            timer: 2000
                        })
                        sendMail(mail);
                        window.setTimeout(function() {
                            window.location.href = '/LoginUser';
                        }, 2000);
                    } else {
                        document.getElementById('messageEmail').innerHTML = 'Tài khoản của bạn không tồn tại';
                        document.getElementById('ptext').setAttribute('class', 'form-control border-danger');
                    }

                })
            }


        });

        function sendMail(mail) {
            //1.
            fetch("http://localhost:3999/send", {
                method: "post", //2.
                body: mail, //3.
            }).then((response) => {
                return response.json();
            });
        }

        function check(event) {
            event.preventDefault();

            var name = document.forms["myForm"]["name"].value;

            if (name == "" || name == null) {
                event.preventDefault();
                $("#fail")
                    .fadeTo(5000, 500)
                    .slideUp(500, function() {
                        $("#fail").slideUp(500);
                    });
            } else {
                $("#success")
                    .fadeTo(5000, 500)
                    .slideUp(500, function() {
                        $("#success").slideUp(500);
                    });
                formData = {
                    name: name,
                    company_name: company_name,
                    email: email,
                    phone: phone,
                    description: description,
                    type: "1",
                };
            }
        }
    </script>
</body>

</html>