<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <title>FUMK - Online Food Ordering</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="image/favicon.png">
    <!-- Bootstrap core CSS-->
    <link href="skin/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="skin/css/styles.css" rel="stylesheet" />
    <!-- Font Awesome-->
    <link href="skin/font/all.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/icofont.min.css" rel="stylesheet">
    <!-- Select2 CSS-->
    <link href="skin/font/select2.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="skin/font/osahan.css" rel="stylesheet">

    <link href="skin/font/DoanCSS.css" rel="stylesheet">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="skin/owl/owl.carousel.css">
    <link rel="stylesheet" href="skin/owl/owl.theme.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .mySlides {
            display: flex;
        }
        
        .mySlidess {
            display: flex;
        }
        
        .mySlidesss {
            display: flex;
        }
        
        .slider {
            width: 922px;
            height: 330px;
            border-radius: 10px;
            overflow: hidden;
        }
        
        .slides {
            width: 500%;
            height: 309px;
            display: flex;
        }
        
        .slides input {
            display: none;
        }
        
        .slide {
            margin-left: 15px;
            width: 20%;
            transition: 2s;
        }
        
        .slide img {
            width: 800px;
            height: 500px;
        }
        /*css for manual slide navigation*/
        
        .navigation-manual {
            position: absolute;
            width: 800px;
            margin-top: -40px;
            display: flex;
            justify-content: center;
        }
        
        .manual-btn {
            border: 2px solid #40D3DC;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 1s;
        }
        
        .manual-btn:not(:last-child) {
            margin-right: 40px;
        }
        
        .manual-btn:hover {
            background: #40D3DC;
        }
        
        #radio1:checked~.one {
            margin-left: 0;
        }
        
        #radio2:checked~.one {
            margin-left: -20%;
        }
        
        #radioo1:checked~.two {
            margin-left: 0;
        }
        
        #radioo2:checked~.two {
            margin-left: -20%;
        }
        
        #radiooo1:checked~.three {
            margin-left: 0;
        }
        
        #radiooo2:checked~.three {
            margin-left: -20%;
        }
        /*css for automatic navigation*/
        
        .navigation-auto {
            position: absolute;
            display: flex;
            width: 800px;
            justify-content: center;
            margin-top: 460px;
        }
        
        .navigation-auto div {
            border: 2px solid #40D3DC;
            padding: 5px;
            border-radius: 10px;
            transition: 1s;
        }
        
        .navigation-auto div:not(:last-child) {
            margin-right: 40px;
        }
        /* #radio1:checked {
            background: #40D3DC;
        }

        #radio2:checked {
            background: #40D3DC;
        }

        #radioo1:checked {
            background: #40D3DC;
        }

        #radioo2:checked {
            background: #40D3DC;
        }
        #radiooo1:checked {
            background: #40D3DC;
        }

        #radiooo2:checked {
            background: #40D3DC;
        } */
        
        #notifies::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        
        #notifies::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }
        
        #notifies::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
        }
    </style>
</head>

<body class="portal">
    <div class="fallingLeaves">
        <span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span>
    </div>
    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm ">
            <div class="container">
                <a class="navbar-brand" href="/"><img alt="logo" style="max-width: 120px;" src="image/logoShop.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <div class="modal fade modal-search show modalsearch" id="modal-search" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <span class="close" data-dismiss="modal">
                                        <div class="close-icon">X</div>
                                    </span>
                                    <div class="modal-search-form" id="search_form">
                                        <span class="sub-title">Tìm kiếm các quán ăn.......</span>
                                        <form>
                                            <input type="text" class="search-input" id="search-input">
                                        </form>
                                    </div>
                                    <div id="suggest"></div>
                                </div>
                            </div>
                        </div>
                        <li class="nav-item active">
                            <span class="sizeIcon" data-toggle="modal" data-target="#modal-search">
                            <i class="icofont-search-property nav-link" style="padding-top: 20px !important; cursor: pointer;"></i>
                        </span>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Trang Chủ <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Offers"><i class="icofont-sale-discount"></i> Ưu Đãi <span class="badge badge-danger">Mới</span></a>
                        </li>
                        <li id="checkLogin"></li>
                        <!-- <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell-o" aria-hidden="true" style="font-size: 20px;"></i>
                             
                            </a>
                            
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm">
                                <h6 class="dropdown-header">
                                    Thông Báo
                                </h6>
                                <div id="notifies" style="height: 240px; overflow: scroll; overflow-x: hidden;">
                                </div>

                            </div>
                        </li> -->
                        <li class="nav-item dropdown dropdown-cart">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icofont-basket"></i> Giỏ Hàng
                                <span class="total-count badge badge-success"></span>
                            </a>
                            <div class="dropdown-menu dropdown-cart-top p-0 dropdown-menu-right shadow-sm border-0">

                                <div class="dropdown-cart-top-body border-top p-4">
                                    <div class="name-Store"> </div>
                                    <table class="table" id="show-cart">

                                    </table>
                                </div>
                                <div class="dropdown-cart-top-footer border-top p-4">
                                    <p class="mb-0 font-weight-bold text-secondary">Tổng Tiền <span class=" total-cart float-right text-dark"></span></p>

                                </div>
                                <div class="dropdown-cart-top-footer border-top p-2">
                                    <a class="btn btn-success btn-block btn-lg" href="#" onclick="checkCart()"> Thanh Toán</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="max-width: 1430px;">
        <section class="col-md-3 category-list">
            <!-- <div class="banner-overlay"></div> -->
            <div class="col-md-15">

                <div class="search-item">
                    <h1 class="title"> FU Market !!!</h1>
                    <div class="local">Yêu là phải nói, đói là phải ăn.</div>
                    <div class="homepage-search-form">
                        <form class="form-noborder">
                            <div class="form-row">
                                <div class="col-lg-8 col-md-5 col-sm-12 form-group">
                                    <input type="text" placeholder="Tìm món ăn,..." class="form-control form-control-lg text-search" id="findfood">
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 form-group">
                                    <a href="/AllProduct" class="btn btn-primary btn-block btn-lg btn-gradient form-search" style="width: 90px;" onclick="searchPro()">Tìm kiếm</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="searchCategory"> </div>
                </div>
            </div>
        </section>
        <section class="col-md-8 main-right">
            <div class="col-md-12 pt-5 pb-3">
                <div class="container">
                    <div class="list-restaurant">
                        <div class="title-wrapper">
                            <h2 class="tittle"> BÁN CHẠY </h2>
                            <span class="line"></span>
                        </div>
                        <div class="row">
                            <div class="slider">
                                <div class="slides">
                                    <input type="radio" name="radio-btn" id="radio1">
                                    <input type="radio" name="radio-btn" id="radio2">

                                    <div class="mySlides slide one" id="buyMost1">
                                    </div>

                                    <div class="mySlides slide" id="buyMost2">
                                    </div>

                                    <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                    <a class="next" onclick="plusSlides(1)">&#10095;</a> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="list-restaurant">
                        <div class="title-wrapper">
                            <h2 class="tittle"> SHIP NHANH </h2>
                            <span class="line"></span>
                        </div>
                        <div class="row">
                            <div class="slider">
                                <div class="slides">
                                    <input type="radio" name="radio-btn" id="radioo1">
                                    <input type="radio" name="radio-btn" id="radioo2">

                                    <div class="mySlidess slide two" id="shipFast1">
                                    </div>

                                    <div class="mySlidess slide" id="shipFast2">
                                    </div>

                                    <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                    <a class="next" onclick="plusSlides(1)">&#10095;</a> -->

                                </div>
                            </div>
                            <!-- <div class="col-md-12">

                                <div class="slideshow-container">

                                    <div class="mySlidess fade" id="shipFast1">
                                    </div>

                                    <div class="mySlidess fade" id="shipFast2">
                                    </div>

                                    <a class="prev" onclick="plusSlidess(-1)">&#10094;</a>
                                    <a class="next" onclick="plusSlidess(1)">&#10095;</a>

                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="list-restaurant">
                        <div class="title-wrapper">
                            <h2 class="tittle"> GIẢM GIÁ </h2>
                            <span class="line"></span>
                        </div>
                        <div class="row">
                            <div class="slider">
                                <div class="slides">
                                    <input type="radio" name="radio-btn" id="radiooo1">
                                    <input type="radio" name="radio-btn" id="radiooo2">

                                    <div class="mySlidesss slide three" id="listSale1">
                                    </div>

                                    <div class="mySlidesss slide" id="listSale2">
                                    </div>

                                    <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                    <a class="next" onclick="plusSlides(1)">&#10095;</a> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- jQuery -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Select2 JavaScript-->
    <script src="js/select2.min.js"></script>
    <!-- Owl Carousel -->
    <script src="js/owl.carousel.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/custom.js"></script>
    <script src="js/header.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../../customJS/shopDetail.js"></script>

    <script>
        function checkCart() {
            var text = localStorage.getItem('userId').replaceAll('"', '');
            if (text == '') {
                Swal.fire({
                    type: 'warning',
                    title: 'Bạn hãy đăng nhập để thanh toán',
                    // text: 'Your offer is safe 🙂',
                    showConfirmButton: false,
                    timer: 2500
                })
                window.setTimeout(function() {
                    window.location.href = '/LoginUser';
                }, 2500);
            } else {
                window.location.href = '/CheckOut';
            }
        }

        var userId = localStorage.getItem('userId').replaceAll('"', '');
        // shoppingCart.displayCartInDB(userId)
        var counter = 1;
        setInterval(function() {
            document.getElementById('radio' + counter).checked = true;
            counter++;
            if (counter > 2) {
                counter = 1;
            }
        }, 3500);

        var counters = 1;
        setInterval(function() {
            document.getElementById('radioo' + counters).checked = true;
            counters++;
            if (counters > 2) {
                counters = 1;
            }
        }, 3000);

        var counterss = 1;
        setInterval(function() {
            document.getElementById('radiooo' + counterss).checked = true;
            counterss++;
            if (counterss > 2) {
                counterss = 1;
            }
        }, 2500);

        $(document).ready(function() {
            loaddata();
            loadCategory();
            loadShipFast();
            loadSaleList();
            loadBuyMost();

        });

        // var slideIndex = 1;
        // showSlides(slideIndex);

        // function plusSlides(n) {
        //     showSlides(slideIndex += n);
        // }

        // function showSlides(n) {
        //     var i;
        //     var slides = document.getElementsByClassName("mySlides");
        //     if (n > slides.length) {
        //         slideIndex = 1
        //     }
        //     if (n < 1) {
        //         slideIndex = slides.length
        //     }
        //     for (i = 0; i < slides.length; i++) {
        //         slides[i].style.display = "flex";
        //     }
        //     slides[slideIndex - 1].style.display = "flex";
        // }

        // var slideIndexs = 1;
        // showSlidess(slideIndexs);

        // function plusSlidess(n) {
        //     showSlidess(slideIndexs += n);
        // }

        // function showSlidess(n) {
        //     var i;
        //     var slides = document.getElementsByClassName("mySlidess");
        //     if (n > slides.length) {
        //         slideIndexs = 1
        //     }
        //     if (n < 1) {
        //         slideIndexs = slides.length
        //     }
        //     for (i = 0; i < slides.length; i++) {
        //         slides[i].style.display = "none";
        //     }
        //     slides[slideIndexs - 1].style.display = "flex";
        // }

        // var slideIndexss = 1;
        // showSlidesss(slideIndexss);

        // function plusSlidesss(n) {
        //     showSlidesss(slideIndexss += n);
        // }

        // function showSlidesss(n) {
        //     var i;
        //     var slides = document.getElementsByClassName("mySlidesss");
        //     if (n > slides.length) {
        //         slideIndexss = 1
        //     }
        //     if (n < 1) {
        //         slideIndexss = slides.length
        //     }
        //     for (i = 0; i < slides.length; i++) {
        //         slides[i].style.display = "none";
        //     }
        //     slides[slideIndexss - 1].style.display = "flex";
        // }

        function loadBuyMost() {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/api/product/list6MostBuy",
                success: function(data) {
                    var listdata = data.data;
                    console.log(listdata);
                    for (var i = 0; i < listdata.length; i++) {
                        let image = (listdata[i].image ? listdata[i].image : 'image/list/1.png');
                        let price_sale = (listdata[i].sale / listdata[i].unit_price) * 100;
                        let newPrice = listdata[i].unit_price - listdata[i].sale;
                        var sale = (listdata[i].sale ? '<div class="list-card-badge"> <small>Giá: <del>' + listdata[i].unit_price + '</del> <i class="fa fa-angle-double-right" aria-hidden="true"></i> ' + newPrice + ' VNĐ</small> <span class="badge badge-success">Mới</span> <span class="float-right"> <span class="count-number" style="margin-top: 0px !important;"></span> </span> </div>' : '<div class="list-card-badge"> <small>Giá: ' + listdata[i].unit_price + ' VNĐ</small> <span class="float-right"> <span class="count-number" style="margin-top: 0px !important;">  </span> </span> </div>');
                        if (i < 3) {
                            document.getElementById('buyMost1').innerHTML += '<div class="item ml-1 mr-1" style="width: 80%; height: 330px"> <div class="list-card bg-white overflow-hidden h-100 position-relative item-content" style="border: 1px solid #d7d7d7; border-radius: 6px;" onclick="goToMostBuy(' + "'" + listdata[i].user_id + "'" + ')"> <div class="list-card-image"> <a href="#"> <img src=' + image + ' class="img-fluid item-img img-restaurant" style="width: 100%;"> </a> </div> <div class="p-3 position-relative item-restaurant"> <div class="list-card-body"> <h6 class="mb-1"><a class="text-black">' + listdata[i].name + '</a></h6> <p class="text-gray mb-3">' + listdata[i].description + '</p> <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i class="icofont-wall-clock"></i> ' + listdata[i].time_from + '–' + listdata[i].time_to + ' phút</span></p> </div>' + sale + '</div> </div> </div>';
                        } else {
                            document.getElementById('buyMost2').innerHTML += '<div class="item ml-1 mr-1" style="width: 80%; height: 330px"> <div class="list-card bg-white overflow-hidden h-100 position-relative item-content" style="border: 1px solid #d7d7d7; border-radius: 6px;" onclick="goToMostBuy(' + "'" + listdata[i].user_id + "'" + ')"> <div class="list-card-image"> <a href="/#"> <img src=' + image + ' class="img-fluid item-img img-restaurant" style="width: 100%;"> </a> </div> <div class="p-3 position-relative item-restaurant"> <div class="list-card-body"> <h6 class="mb-1"><a class="text-black">' + listdata[i].name + '</a></h6> <p class="text-gray mb-3">' + listdata[i].description + '</p> <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i class="icofont-wall-clock"></i> ' + listdata[i].time_from + '–' + listdata[i].time_to + ' phút</span></p> </div> ' + sale + ' </div> </div> </div>';
                        }

                    }

                }
            });
        }

        function loadSaleList() {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/api/product/listFastDeli",
                success: function(data) {
                    var listdata = data.data;
                    for (var i = 0; i < listdata.length; i++) {
                        let image = (listdata[i].image ? listdata[i].image : 'image/list/1.png');
                        let price_sale = (listdata[i].sale / listdata[i].unit_price) * 100;
                        let newPrice = listdata[i].unit_price - listdata[i].sale;
                        var sale = (listdata[i].sale ? '<div class="list-card-badge"> <small>Giá: <del>' + listdata[i].unit_price + '</del> <i class="fa fa-angle-double-right" aria-hidden="true"></i> ' + newPrice + ' VNĐ</small> <span class="badge badge-success">Mới</span> <span class="float-right"> <span class="count-number" style="margin-top: 0px !important;"></span> </span> </div>' : '<div class="list-card-badge"> <small>Giá: ' + listdata[i].unit_price + ' VNĐ</small> <span class="float-right"> <span class="count-number" style="margin-top: 0px !important;">  </span> </span> </div>');
                        if (i < 3) {
                            document.getElementById('listSale1').innerHTML += '<div class="item ml-1 mr-1" style="width: 80%; height: 330px"> <div class="list-card bg-white overflow-hidden h-100 position-relative item-content" style="border: 1px solid #d7d7d7; border-radius: 6px;" onclick="goToSaleList(' + "'" + listdata[i].user_id + "'" + ')"> <div class="list-card-image"> <a href="/AllProduct"> <img src=' + image + ' class="img-fluid item-img img-restaurant" style="width: 100%;"> </a> </div> <div class="p-3 position-relative item-restaurant"> <div class="list-card-body"> <h6 class="mb-1"><a class="text-black">' + listdata[i].name + '</a></h6> <p class="text-gray mb-3">' + listdata[i].description + '</p> <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i class="icofont-wall-clock"></i> ' + listdata[i].time_from + '–' + listdata[i].time_to + ' phút</span></p> </div> ' + sale + ' </div> </div> </div>';
                        } else {
                            document.getElementById('listSale2').innerHTML += '<div class="item ml-1 mr-1" style="width: 80%; height: 330px"> <div class="list-card bg-white overflow-hidden h-100 position-relative item-content" style="border: 1px solid #d7d7d7; border-radius: 6px;" onclick="goToSaleList(' + "'" + listdata[i].user_id + "'" + ')"> <div class="list-card-image"> <a href="/AllProduct"> <img src=' + image + ' class="img-fluid item-img img-restaurant" style="width: 100%;"> </a> </div> <div class="p-3 position-relative item-restaurant"> <div class="list-card-body"> <h6 class="mb-1"><a class="text-black">' + listdata[i].name + '</a></h6> <p class="text-gray mb-3">' + listdata[i].description + '</p> <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i class="icofont-wall-clock"></i> ' + listdata[i].time_from + '–' + listdata[i].time_to + ' phút</span></p> </div> ' + sale + ' </div> </div> </div>';
                        }

                    }

                }
            });
        }

        function loadShipFast() {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/api/product/listDefault",
                success: function(data) {
                    var listdata = data.data;
                    for (var i = 0; i < listdata.length; i++) {
                        let image = (listdata[i].image ? listdata[i].image : 'image/list/1.png');
                        let price_sale = (listdata[i].sale / listdata[i].unit_price) * 100;
                        let newPrice = listdata[i].unit_price - listdata[i].sale;
                        var sale = (listdata[i].sale ? '<div class="list-card-badge"> <small>Giá: <del>' + listdata[i].unit_price + '</del> <i class="fa fa-angle-double-right" aria-hidden="true"></i> ' + newPrice + ' VNĐ</small> <span class="badge badge-success">Mới</span> <span class="float-right"> <span class="count-number" style="margin-top: 0px !important;"></span> </span> </div>' : '<div class="list-card-badge"> <small>Giá: ' + listdata[i].unit_price + ' VNĐ</small> <span class="float-right"> <span class="count-number" style="margin-top: 0px !important;">  </span> </span> </div>');
                        if (i < 3) {
                            document.getElementById('shipFast1').innerHTML += '<div class="item ml-1 mr-1" style="width: 80%; height: 330px"> <div class="list-card bg-white overflow-hidden h-100 position-relative item-content" style="border: 1px solid #d7d7d7; border-radius: 6px;" onclick="goToShipFast(' + "'" + listdata[i].user_id + "'" + ')"> <div class="list-card-image"> <a href="/AllProduct"> <img src=' + image + ' class="img-fluid item-img img-restaurant" style="width: 100%;"> </a> </div> <div class="p-3 position-relative item-restaurant"> <div class="list-card-body"> <h6 class="mb-1"><a class="text-black">' + listdata[i].name + '</a></h6> <p class="text-gray mb-3">' + listdata[i].description + '</p> <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i class="icofont-wall-clock"></i> ' + listdata[i].time_from + '–' + listdata[i].time_to + ' phút</span></p> </div> ' + sale + ' </div> </div> </div>';
                        } else {
                            document.getElementById('shipFast2').innerHTML += '<div class="item ml-1 mr-1" style="width: 80%; height: 330px"> <div class="list-card bg-white overflow-hidden h-100 position-relative item-content" style="border: 1px solid #d7d7d7; border-radius: 6px;" onclick="goToShipFast(' + "'" + listdata[i].user_id + "'" + ')"> <div class="list-card-image"> <a href="/AllProduct"> <img src=' + image + ' class="img-fluid item-img img-restaurant" style="width: 100%;"> </a> </div> <div class="p-3 position-relative item-restaurant"> <div class="list-card-body"> <h6 class="mb-1"><a class="text-black">' + listdata[i].name + '</a></h6> <p class="text-gray mb-3">' + listdata[i].description + '</p> <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i class="icofont-wall-clock"></i> ' + listdata[i].time_from + '–' + listdata[i].time_to + ' phút</span></p> </div> ' + sale + ' </div> </div> </div>';
                        }

                    }

                }
            });
        }

        function goToMostBuy(mostBuyId) {
            let id = "?id=" + mostBuyId;
            window.location.href = '/ShopDetail' + id;
        }

        function goToSaleList(saleListId) {
            let id = "?id=" + saleListId;
            window.location.href = '/ShopDetail' + id;
        }

        function goToShipFast(shipFastId) {
            let id = "?id=" + shipFastId;
            window.location.href = '/ShopDetail' + id;
        }

        function searchPro() {
            var food = document.getElementById('findfood').value;
            localStorage.setItem('listProduct', JSON.stringify(food));
        }

        function loaddata() {
            var text = document.getElementById('search-input').value;
            $.ajax({
                type: "GET",
                dataType: "json",
                data: {
                    name: text
                },
                url: "/api/user/searchSeller",
                success: function(data) {
                    var listdata = data.data.listUsers;
                    list = listdata;
                }
            });
        }

        function loadCategory() {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/api/category/searchcategory",
                success: function(data) {
                    var listdata = data.data.listCategory;
                    for (var i = 0; i < listdata.length; i++) {
                        document.getElementById('searchCategory').innerHTML +=
                            '<button class="btn btn-link link item-category" onclick="searchCate(' + "'" + listdata[i].name + "'" + ')"><B> ' + listdata[i].name + ' </B></button>';
                    }
                }
            });
        }

        function searchCate(cateName) {
            localStorage.setItem('listProduct', JSON.stringify(cateName));
            window.location = '/AllProduct';
        }
    </script>

</body>

</html>