<!DOCTYPE html> 
<html lang="en">
    <li id="checkLogin"></li>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Askbootstrap" />
    <meta name="author" content="Askbootstrap" />
    <title>FU Market - Online Food Ordering </title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="image/favicon.png">
    <!-- Feather Icon-->
    <link href="skin/css/feather.css" rel="stylesheet" type="text/css">
    <!-- Fontawesome Icon-->
    <link href="skin/font/fontawesome.min.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap Css -->
    <link href="skin/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="skin/css/styles.css" rel="stylesheet" />
    <!-- Datatables css -->
    <link href="skin/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet"> 
   <style>
      .switch {
         position: relative;
         display: inline-block;
         width: 60px;
         height: 34px;
      }

      .switch input {
         opacity: 0;
         width: 0;
         height: 0;
      }

      .slider {
         position: absolute;
         cursor: pointer;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background-color: #ccc;
         -webkit-transition: .4s;
         transition: .4s;
      }

      .slider:before {
         position: absolute;
         content: "";
         height: 26px;
         width: 26px;
         left: 4px;
         bottom: 4px;
         background-color: white;
         -webkit-transition: .4s;
         transition: .4s;
      }

      input:checked+.slider {
         background-color: #2196F3;
      }

      input:focus+.slider {
         box-shadow: 0 0 1px #2196F3;
      }

      input:checked+.slider:before {
         -webkit-transform: translateX(26px);
         -ms-transform: translateX(26px);
         transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
         border-radius: 34px;
      }

      .slider.round:before {
         border-radius: 50%;
      }
      #notiForSeller::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        
        #notiForSeller::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }
        
        #notiForSeller::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
        }
   </style>
</head>

<body class="sb-nav-fixed">
   <nav class="sb-topnav navbar navbar-expand navbar-light bg-white shadow-sm">
      <a class="navbar-brand" href="DashboardSeller"><img alt="logo" src="image/image0.jpg" width="100px"></a>
      <!-- Navbar Search-->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
         <div class="input-group">
            <div class="input-group-append">
               <label id="statusShop" class="mr-2"></label>
               <label class="switch">
                  <input type="checkbox" id="switchShop" name="swiShop">
                  <span class="slider round"></span>
               </label>
            </div>
         </div>
      </form> 
      <!-- Navbar-->
      <ul class="navbar-nav ml-auto ml-md-0">
         

         <!-- //dropdowAlert     -->
         <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="far fa-bell"></i>

            </a>

            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm">
               <h6 class="dropdown-header">
                  Thông Báo
               </h6>
               <div id="notiForSeller" style="height: 240px; overflow: scroll; overflow-x: hidden;">
                </div>
               
            </div>
         </li>
         <li class="nav-item dropdown" id="nameSeller"></li>
      </ul>
   </nav>
   <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
         <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
               <div class="nav">
                  <div class="sb-sidenav-menu-heading">Danh Mục </div>
               
                  
                  <a class="nav-link" href="listOrderSeller">
                     <div class="sb-nav-link-icon"><i class="fas fa-cart-arrow-down"></i></div>
                     Danh Sách Đặt hàng <span class="badge badge-pill ml-2 badge-primary"></span>
                  </a>
                  <a class="nav-link" href="listShipForSeller">
                    <div class="sb-nav-link-icon"><i class="fas fa-shipping-fast"></i></div>
                    Danh Sách Giao Hàng <span class="badge badge-pill ml-2 badge-primary"></span>
                 </a>
                  <a class="nav-link" href="ListAcceptBill">
                     <div class="sb-nav-link-icon"><i class="fas fa-check-circle"></i></div>
                     Danh Sách Đơn Hoàn Thành
                  </a>
                 
                  <a class="nav-link" href="ListDeleteBill">
                     <div class="sb-nav-link-icon"><i class="fas fa-trash-alt"></i></div>
                     Danh Sách Đơn Hủy
                  </a>
                  <a class="nav-link" href="listProductSeller">
                     <div class="sb-nav-link-icon"><i class="fas fa-boxes"></i></div>
                     Quản Lý Sản Phẩm
                  </a>
                  <a class="nav-link" href="ListReportBySeller">
                     <div class="sb-nav-link-icon"><i class="fas fa-file-signature"></i></div>
                     Dánh sách Báo Cáo
                  </a>
               </div>
            </div>
         </nav>
      </div>
      <div id="layoutSidenav_content">
         <main>
            <div class="container-fluid">
               <h1 class="mt-4">Report List</h1>
     
     
            </div>
            
     
     
            <div class="card-body">
               <div class="table-responsive">
                  
     
                  <table class="table" id="dataTable" width="100%" cellspacing="0">
                     <thead>
                        <tr class="text-uppercase">
                           <th>ID</th>
                           <th>Người Dùng</th>
                           <th>Cửa Hàng</th>
                           <th>Thể Loại </th>
                           <th>Nội Dung </th>
                           <th>Hàng Động</th>
                           
                        </tr>
                     </thead>
                     <tbody>
                        <!----><!---->
                        <!-- ajax xu ly ben duoi -->
                      
                     </tbody>
                  </table>
                  
     
               </div>
            </div>
         </main>   
      </div>
   </div>
  
   
     <!-- info Report -->
     <div class="modal fade" id="infoReport" tabindex="-1" role="dialog" aria-labelledby="edit_bookingLabel"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="edit_bookingLabel">Thông Tin Báo Cáo</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">×</span>
              </button>
           </div>
           <div class="modal-body">
              <div class="row">
                 <div class="col-md-12 col-sm-6">
                    <div class="card mb-4">
                       <div class="card-header">
                          Thông Tin Cơ Bản
                       </div>
                       <div class="card-body">
                          <div class="row">
                             <div class="col-md-12">
                                <div class="form-group">
                                   <label>Người Dùng</label>
                                   <input type="text" class="form-control" placeholder="" id="userName" readonly>
                                </div>
                             </div>
                          </div>
 
                          <div class="row">
                            <div class="col-md-12">
                               <div class="form-group">
                                  <label>Cửa Hàng</label>
                                  <input type="text" class="form-control" placeholder="" id="sellerName" readonly>
                               </div>
                            </div>
                         </div>
                        
                          
                          <!-- /row-->
                          <div class="row">
                             <div class="col-md-12">
                                <div class="form-group">
                                   <label>Thể Loại Báo Cáo</label>
                                   <input type="text" class="form-control" placeholder="" id="typeReport" readonly>
                                </div>
                             </div>
                          </div>
                          <!-- /row-->
                          <div class="row">
                             <div class="col-md-12">
                                <div class="form-group">
                                   <label>Nội Dung</label>
                                   <input type="text" class="form-control" placeholder="" id="contentReport" readonly>
                                </div>
                             </div>
                             
                          </div>
                         
                         
                         
                       </div>
                    </div>
                 </div>
                
              </div>
           </div>
        </div>
     </div>
  </div>

  


 
  <!-- Jquery -->
  <script src="/js/jquery.min.js"></script>
  <!-- Fontawesome -->
  <script src="/js/all.min.js"></script>
  <!-- Bootstrap -->
  <script src="/js/bootstrap.bundle.min.js"></script>
  <!-- Custom Js -->
  <script src="/js/scriptsListSeller.js"></script>
  <!-- Ajax Chart Js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <!-- Chart Js -->
  <!-- <script src="/js/chart-area-demo.js"></script>
  <script src="/js/chart-bar-demo.js"></script>
  <script src="/js/chart-pie-demo.js"></script> -->
  <script src="/js/jquery.dataTables.min.js"></script>
  <script src="/js/dataTables.bootstrap.min.js"></script>
  <script src="js/headerSeller.js"></script>
  <!-- <script src="/js/datatables-demo.js"></script> -->

   


   <script>
      function getInfo(user,name,type,content){
            
            document.getElementById("userName").value = user
            document.getElementById("sellerName").value = name
            document.getElementById("typeReport").value = type
            document.getElementById("contentReport").value = content
         
        }
        //datatable function
        $(document).ready(function() {
        var text = localStorage.getItem('sellerId').replaceAll('"', '');
        $('#dataTable').DataTable( {
        'ajax': function (data, callback, settings) {
        $.ajax({
        url: "http://localhost:3999/api/report/searchByShop?id="+text,
        })
        .then ( function( response, textStatus, jqXHR ) {
        
         let data = response.data.listReport
         console.log(data);
           data.forEach((val, idx) => {
             val.no = idx + 1
         });
         callback({"data": data});
         
        });
        },
        
        'columns':[
        {data : 'no'},
        {data : 'user_id'},
        {data : 'shop_id'},
        {data : 'type_report'},
        {data : 'content'},
        
        {data : ""}
        
        ],
        'columnDefs': [
                {
                    targets: -1,
                    render: function (data, type, row, meta) {
                        return '<input type="button" class="show-report-detail btn-primary mr-3" data-toggle="modal" data-target="#infoReport" onclick="getInfo('+"'"+row.user+"'"+','+"'"+row.shop+"'"+','+"'"+row.type_report+"'"+','+"'"+row.content+"'"+')" idReport="' + row.id + '" value="Chi Tiết"/>' 
                            ;
                    }
        
                }
            ]
        
        } );
        
        
        
        
        
        
        
        
        } );
   </script>
</body>

</html>