<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
   <meta name="description" content="Askbootstrap" />
   <meta name="author" content="Askbootstrap" />
   <title>Osahan Eat - Online Food Ordering Website HTML Template</title>
   <!-- Favicon Icon -->
   <link rel="icon" type="image/png" href="img/favicon.png">
   <!-- Feather Icon-->
   <link href="/skin/css/feather.css" rel="stylesheet" type="text/css">
   <!-- Fontawesome Icon-->
   <link href="/skin/bootstrap/fontawesome.min.css" rel="stylesheet" type="text/css">
   <!-- Bootstrap Css -->
   <link href="/skin/bootstrap/bootstrap.min.css" rel="stylesheet">
   <!-- Custom Css -->
   <link href="/skin/css/listUser.css" rel="stylesheet" />
   <link href="/skin/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet"/>

</head>

<body class="sb-nav-fixed">
   <nav class="sb-topnav navbar navbar-expand navbar-light bg-white shadow-sm">
      <a class="navbar-brand" href="index.html"><img alt="logo" src="img/logo.png"></a>
      <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i
            class="fas fa-bars"></i></button>
      <!-- Navbar Search-->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
         <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search"
               aria-describedby="basic-addon2" />
            <div class="input-group-append">
               <button class="btn btn-primary btn-sm" type="button"><i class="feather-search"></i></button>
            </div>
         </div>
      </form>
      <!-- Navbar-->
      <ul class="navbar-nav ml-auto ml-md-0">
         <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               <i class="feather-search mr-2"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow-sm animated--grow-in"
               aria-labelledby="searchDropdown">
               <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                     <input type="text" class="form-control border-0 shadow-none"
                        placeholder="Search people, jobs and more..." aria-label="Search"
                        aria-describedby="basic-addon2">
                     <div class="input-group-append">
                        <button class="btn" type="button">
                           <i class="feather-search"></i>
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </li>
         <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
               <i class="feather-message-square"></i>
               <!-- Counter - Alerts -->
               <span class="badge badge-danger badge-counter">8</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm">
               <h6 class="dropdown-header">
                  Message Center
               </h6>
               <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                     <img class="rounded-circle" src="/image/user/2.png" alt="">
                     <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold overflow-hidden">
                     <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been
                        having.</div>
                     <div class="small text-gray-500">Emily Fowler 路 58m</div>
                  </div>
               </a>
               <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                     <img class="rounded-circle" src="/image/user/3.png" alt="">
                     <div class="status-indicator"></div>
                  </div>
                  <div class="overflow-hidden">
                     <div class="text-truncate">I have the photos that you ordered last month, how would you like them
                        sent to you?</div>
                     <div class="small text-gray-500">Jae Chun 路 1d</div>
                  </div>
               </a>
               <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                     <img class="rounded-circle" src="/image/user/4.png" alt="">
                     <div class="status-indicator bg-warning"></div>
                  </div>
                  <div class="overflow-hidden">
                     <div class="text-truncate">Last month's report looks great, I am very happy with the progress so
                        far, keep up the good work!</div>
                     <div class="small text-gray-500">Morgan Alvarez 路 2d</div>
                  </div>
               </a>
               <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                     <img class="rounded-circle" src="/image/user/5.png" alt="">
                     <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="overflow-hidden">
                     <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people
                        say this to all dogs, even if they aren't good...</div>
                     <div class="small text-gray-500">Chicken the Dog 路 2w</div>
                  </div>
               </a>
               <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
            </div>
         </li>
         <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
               <i class="feather-bell"></i>
               <!-- Counter - Alerts -->
               <span class="badge badge-info badge-counter">6</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm">
               <h6 class="dropdown-header">
                  Alerts Center
               </h6>
               <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                     <div class="icon-circle bg-primary">
                        <i class="fas fa-download text-white"></i>
                     </div>
                  </div>
                  <div>
                     <div class="small text-gray-500">December 12, 2020</div>
                     <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
               </a>
               <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                     <div class="icon-circle bg-success">
                        <i class="fas fa-edit text-white"></i>
                     </div>
                  </div>
                  <div>
                     <div class="small text-gray-500">December 7, 2020</div>
                     $290.29 has been deposited into your account!
                  </div>
               </a>
               <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                     <div class="icon-circle bg-warning">
                        <i class="fas fa-folder text-white"></i>
                     </div>
                  </div>
                  <div>
                     <div class="small text-gray-500">December 2, 2020</div>
                     Spending Alert: We've noticed unusually high spending for your account.
                  </div>
               </a>
               <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
            </div>
         </li>
         <!-- Nav Item - User Information -->
         <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">
            <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
               <img class="img-profile rounded-circle" src="/image/user/1.png">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow-sm">
               <div class="p-3 d-flex align-items-center">
                  <div class="dropdown-list-image mr-3">
                     <img class="rounded-circle" src="/image/user/1.png" alt="">
                     <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                     <div class="text-truncate">Gurdeep Osahan</div>
                     <div class="small text-gray-500">Restaurants Owner</div>
                  </div>
               </div>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="my-profile.html"><i class="feather-edit"></i> My Account</a>
               <a class="dropdown-item" href="my-profile.html"><i class="feather-settings"></i> Account Settings</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" ><i class="feather-log-out"></i> <button id="btn-logout">Log out</button> </a>
                  
            </div>
         </li>
      </ul>
   </nav>
   <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
         <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
               <div class="nav">
                  <div class="sb-sidenav-menu-heading">Core</div>
                  <a class="nav-link" href="ListUsers.ejs">
                     <div class="sb-nav-link-icon"><i class="feather-list"></i></div>
                     List Of User

                  </a>
                  <a class="nav-link" href="ListSeller.html">
                     <div class="sb-nav-link-icon"><i class="feather-list"></i></div>
                     List Of Seller

                  </a>
                  <a class="nav-link" href="ListVoucher.html">
                     <div class="sb-nav-link-icon"><i class="feather-list"></i></div>
                     List Of Voucher

                  </a>

                  <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                     data-parent="#sidenavAccordion">
                     <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="layout-static.html">Static Navigation</a>
                        <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                     </nav>
                  </div>

                  <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                     <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth"
                           aria-expanded="false" aria-controls="pagesCollapseAuth">
                           Authentication
                           <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                           data-parent="#sidenavAccordionPages">
                           <nav class="sb-sidenav-menu-nested nav">
                              <a class="nav-link" href="login.html">Login</a>
                              <a class="nav-link" href="register.html">Register</a>
                              <a class="nav-link" href="password.html">Forgot Password</a>
                           </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError"
                           aria-expanded="false" aria-controls="pagesCollapseError">
                           Error
                           <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                           data-parent="#sidenavAccordionPages">
                           <nav class="sb-sidenav-menu-nested nav">
                              <a class="nav-link" href="401.html">401 Page</a>
                              <a class="nav-link" href="404.html">404 Page</a>
                              <a class="nav-link" href="500.html">500 Page</a>
                           </nav>
                        </div>
                     </nav>
                  </div>


               </div>
            </div>
            <div class="sb-sidenav-footer">
               <div class="small">Logged in as:</div>
               Ask Bootstrap
            </div>
         </nav>
      </div>
      <div id="layoutSidenav_content">
         <main>
            <div class="container-fluid">
               <h1 class="mt-4">Seller Managerment</h1>


            </div>
            


            <div class="card-body">
               <div class="table-responsive">
                  

                  <table class="table" id="dataTable" width="100%" cellspacing="0">
                     <thead>
                        <tr class="text-uppercase">
                           <th>ID</th>
                           <th>Name</th>
                           <th>ShopName</th>
                           <th>Address</th>
                           <th>Phone</th>
                           <th>Email</th>
                           <th>DOB</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <!----><!---->
                        <!-- ajax xu ly ben duoi -->
                      
                     </tbody>
                  </table>
                  

               </div>
            </div>
      </div>
   </div>
   </main>
   <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
         <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2020</div>
            <div>
               <a href="#">Privacy Policy</a>
               &middot;
               <a href="#">Terms &amp; Conditions</a>
            </div>

         </div>
      </div>
   </footer>
 
   <!-- Jquery -->
   <script src="/js/jquery.min.js"></script>
   <!-- Fontawesome -->
   <script src="/js/all.min.js"></script>
   <!-- Bootstrap -->
   <script src="/js/bootstrap.bundle.min.js"></script>
   <!-- Custom Js -->
   <script src="/js/scriptsListSeller.js"></script>
   <!-- Ajax Chart Js -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
   <!-- Chart Js -->
   <!-- <script src="/js/chart-area-demo.js"></script>
   <script src="/js/chart-bar-demo.js"></script>
   <script src="/js/chart-pie-demo.js"></script> -->
   <script src="/js/jquery.dataTables.min.js"></script>
   <script src="/js/dataTables.bootstrap.min.js"></script>
   <!-- <script src="/js/datatables-demo.js"></script> -->

</body>



<script>

function getCookie(cname) {
   let name = cname + "=";
   let decodedCookie = decodeURIComponent(document.cookie);
   let ca = decodedCookie.split(';');
   for(let i = 0; i <ca.length; i++) {
     let c = ca[i];
     while (c.charAt(0) == ' ') {
       c = c.substring(1);
     }
     if (c.indexOf(name) == 0) {
       return c.substring(name.length, c.length);
     }
   }
   return "";
}
function setCookie(cname, cvalue, exdays) {
    const d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    let expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

 var token = getCookie("token");
 $("#btn-logout").click(function(res){

setCookie("token","",0);
console.log(token);
window.location = "/LoginAdmin"
})

 $(document).ready(function() {
    
   $('#dataTable').DataTable( {
      'ajax': function (data, callback, settings) {
      $.ajax({
        url: "http://localhost:3999/api/user/searchSeller?token="+token,
      })
      .then ( function( response, textStatus, jqXHR ) {
         
         let data = response.data.listUsers
		   data.forEach((val, idx) => {
             val.no = idx + 1
         });
         callback({"data": data});
      });
    },
    
    'columns':[
       {data : 'no'},
       {data : 'name'},
       {data : 'role_id'},
       {data : 'address'},
       {data : 'phone'},
       {data : 'email'},
       {data : 'dob'},
       {data : ""}

    ],
    'columnDefs': [
				{
					targets: -1,
					render: function (data, type, row, meta) {
						return '<input type="button" class="show-user-id btn-primary mr-3" id=user-id-"' + meta.row + '" value="Show User Info"/>' +
							'<input type="button" class="show-post-id btn-success mr-3 " id=post-"' + meta.row + '" value="Up Row"/>' +
							'<input type="button" class="show-post-title btn-danger mr-3" id=post-"' + meta.row + '" value="Delete"/>';
					}

				}
			]
   
   } );



   $('#dataTable tbody').on('click', '.show-user-id', function () {
			let id = $(this).attr('id').match(/\d+/)[0];
			console.log('id: ', id);
			let data = $('#dataTable').DataTable().row(id).data();
			alert('User ID: ' + data.userId);
		});


		$('#dataTable tbody').on('click', '.show-post-id', function () {
			let id = $(this).attr('id').match(/\d+/)[0];
			let data = $('#dataTable').DataTable().row(id).data();
         let id_User = data.id;
         console.log("id = "+id_User);
			alert('Post ID: ' + data.id);
         console.log(data);
         $.ajax({
            url:'/api/user/downRole?token='+token+'&id='+id_User,
            method:'GET',
            
         }).then(function(){
            
            window.location.reload();
         })
		});

		$('#dataTable tbody').on('click', '.show-post-title', function () {
			let id = $(this).attr('id').match(/\d+/)[0];
			let data = $('#dataTable').DataTable().row(id).data();
			alert('Post Title: ' + data.title);
		});

     

} );

     
   

 

   // $.ajax ({
   //    url:'/api/user/searchUser?token='+token,
   //    method : 'GET'
   // }).then(function(data){
   //    console.log(token);
   //    console.log(data);
   //    console.log("111111");
   //    if(data.message == 'SUCCESS'){
   //       console.log(data.data);
   //       for(var i = 0 ; i < data.data.listUsers.length;i++){
   //          var user = data.data.listUsers[i];
   //          console.log(user);
   //          var template = `
   //          <tr>
   //                         <td>${i}</td>
   //                         <td> ${user.name}	</td>
   //                         <td>${user.role_id}</td>
   //                         <td>${user.address}</td>
   //                         <td>${user.phone}</td>
   //                         <td>${user.email}</td>
   //                         <td>${new Date(user.dob).toLocaleDateString() }</td>
                           
   //                         <td style="display: flex;">
   //                            <div class="modal fade" id="exampleModal1" tabindex="-1"
   //                               aria-labelledby="exampleModalLabel" aria-hidden="true">
   //                               <div class="modal-dialog">
   //                                  <div class="modal-content">
   //                                     <div class="modal-header">
   //                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
   //                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
   //                                           <span aria-hidden="true">&times;</span>
   //                                        </button>
   //                                     </div>
   //                                     <div class="modal-body">
   //                                        Manh An Cut
   //                                     </div>
   //                                     <div class="modal-footer">

   //                                        <button type="button" class="btn btn-primary">Ok</button>
   //                                     </div>
   //                                  </div>
   //                               </div>
   //                            </div>
   //                            <button type="button" class="btn btn-primary btn-sm mr-3" data-toggle="modal"
   //                               data-target="#exampleModal1">
   //                               View
   //                            </button>
   //                            <div class="modal fade" id="exampleModal2" tabindex="-1"
   //                               aria-labelledby="exampleModalLabel" aria-hidden="true">
   //                               <div class="modal-dialog">
   //                                  <div class="modal-content">
   //                                     <div class="modal-header">
   //                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
   //                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
   //                                           <span aria-hidden="true">&times;</span>
   //                                        </button>
   //                                     </div>
   //                                     <div class="modal-body">
   //                                        May Chac Chua ?
   //                                     </div>
   //                                     <div class="modal-footer">
   //                                        <button type="button" class="btn btn-secondary"
   //                                           data-dismiss="modal">No</button>
   //                                        <button type="button" class="btn btn-primary">Yes</button>
   //                                     </div>
   //                                  </div>
   //                               </div>
   //                            </div>
   //                            <button type="button" class="btn btn-danger btn-sm mr-3" data-toggle="modal"
   //                               data-target="#exampleModal2">
   //                               Delete
   //                            </button>
   //                            <div class="modal fade" id="exampleModal3" tabindex="-1"
   //                               aria-labelledby="exampleModalLabel" aria-hidden="true">
   //                               <div class="modal-dialog">
   //                                  <div class="modal-content">
   //                                     <div class="modal-header">
   //                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
   //                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
   //                                           <span aria-hidden="true">&times;</span>
   //                                        </button>
   //                                     </div>
   //                                     <div class="modal-body">
   //                                        May Chac Chua
   //                                     </div>
   //                                     <div class="modal-footer">
   //                                        <button type="button" class="btn btn-secondary"
   //                                           data-dismiss="modal">No</button>
   //                                        <button type="button" class="btn btn-primary">Yes</button>
   //                                     </div>
   //                                  </div>
   //                               </div>
   //                            </div>
   //                            <button type="button" class="btn btn-success btn-sm mr-3" data-toggle="modal"
   //                               data-target="#exampleModal3">
   //                               ChangeToUser
   //                            </button>

   //                         </td>
   //                      </tr>
   //          `
   //         $("tbody").append(template) 
   //       }
   //    }
   // })
      

</script>

</html>