<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Askbootstrap" />
    <meta name="author" content="Askbootstrap" />
    <title>FU Market - Online Food Ordering </title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="img/favicon.png">
    <!-- Feather Icon-->
    <link href="/skin/css/feather.css" rel="stylesheet" type="text/css">
    <!-- Fontawesome Icon-->
    <link href="/skin/bootstrap/fontawesome.min.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap Css -->
    <link href="/skin/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="/skin/css/listUser.css" rel="stylesheet" />
    <link href="/skin/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet" />

</head>


<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-light bg-white shadow-sm">
        <a class="navbar-brand" href="ListUsers"><img alt="logo" src="image/image0.jpg" width="100px"></a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i
            class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="feather-search mr-2"></i>
                </a>
                <!-- Dropdown - Messages -->

            </li>


            <!-- Nav Item - User Information -->
            <li id="checkLoginAdmin"></li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" onclick="listUserPage()">
                            <div class="sb-nav-link-icon"><i class="feather-list"></i></div>
                            Danh Sách Người Dùng
                        </a>
                        <a class="nav-link" onclick="listSellerPage()">
                            <div class="sb-nav-link-icon"><i class="feather-list"></i></div>
                            Danh Sách Người Bán
                        </a>

                        <a class="nav-link" onclick="listVoucherPage()">
                            <div class="sb-nav-link-icon"><i class="feather-list"></i></div>
                            Danh Sách Giảm Giá
                        </a>

                        <a class="nav-link" onclick="ListCategoryPage()">
                            <div class="sb-nav-link-icon"><i class="feather-list"></i></div>
                            Danh Sách Thực Đơn
                        </a>
                        <a class="nav-link" onclick="listReportPage()">
                            <div class="sb-nav-link-icon"><i class="feather-list"></i></div>
                            Danh Sách Báo Cáo
                        </a>

                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                            </nav>
                        </div>

                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                           Authentication
                           <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="login.html">Login</a>
                                        <a class="nav-link" href="register.html">Register</a>
                                        <a class="nav-link" href="password.html">Forgot Password</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                           Error
                           <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="401.html">401 Page</a>
                                        <a class="nav-link" href="404.html">404 Page</a>
                                        <a class="nav-link" href="500.html">500 Page</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>


                    </div>
                </div>
                <!-- <div class="sb-sidenav-footer">
               <div class="small">Logged in as:</div>
               Ask Bootstrap
            </div> -->
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Quản Lý Người Dùng</h1>


                </div>



                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr class="text-uppercase">
                                    <th>ID</th>
                                    <th>Họ Và Tên</th>

                                    <th>Địa CHỉ</th>
                                    <th>Điện Thoại</th>
                                    <th>Email</th>
                                    <th>Trạng Thái</th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!---->
                                <!---->
                                <!-- ajax xu ly ben duoi -->

                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
    </main>
    <!-- info User -->
    <div class="modal fade" id="inforUser" tabindex="-1" role="dialog" aria-labelledby="edit_bookingLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_bookingLabel">Thông Tin Người Dùng</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
               </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    Thông Tin Cơ Bản
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Họ Và Tên</label>
                                                <input type="text" class="form-control" placeholder="" id="userName" readonly>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- /row-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Địa Chỉ</label>
                                                <input type="text" class="form-control" placeholder="" id="userAdd" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Số Điện Thoại</label>
                                                <input type="text" class="form-control" placeholder="" id="userPhone" readonly>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /row-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="text" class="form-control" placeholder="" id="userEmail" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row-->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Ngày Sinh</label>
                                                <input type="text" class="form-control" placeholder="" id="userDOB" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Pop up upRole-->

    <div class="modal fade" id="upRole" tabindex="-1" role="dialog" aria-labelledby="edit_bookingLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_bookingLabel">Thông Báo</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
               </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 style="text-align: center;">Bạn có muốn nâng quyền người dùng này không?</h5>
                                    <div class="card-body">
                                        <div class="row ml-5">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="button" class="btn btn-primary" id="deletePro" value="Đồng Ý" onclick="upRole()"></input>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="button" class="btn btn-primary" id="cancelDelete" value="Hủy Bỏ" data-dismiss="modal"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Pop up Enable-->

    <div class="modal fade" id="enableUser" tabindex="-1" role="dialog" aria-labelledby="edit_bookingLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_bookingLabel">Thông Báo</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">×</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 style="text-align: center;">Bạn có muốn kích hoạt lại người dùng này không?</h5>
                                    <div class="card-body">
                                        <div class="row ml-5">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="button" class="btn btn-primary" id="deletePro" value="Đồng Ý" onclick="enableUser()"></input>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="button" class="btn btn-primary" id="cancelDelete" value="Hủy Bỏ" data-dismiss="modal"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Pop up delete-->

    <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="edit_bookingLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_bookingLabel">Thông Báo</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
             </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 style="text-align: center;">Bạn có muốn xóa người dùng này không?</h5>
                                    <div class="card-body">
                                        <div class="row ml-5">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="button" class="btn btn-primary" id="deletePro" value="Đồng Ý" onclick="deleteUser()"></input>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="button" class="btn btn-primary" id="cancelDelete" value="Hủy Bỏ" data-dismiss="modal"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery -->
    <script src="/js/jquery.min.js"></script>
    <!-- Fontawesome -->
    <script src="/js/all.min.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!-- Custom Js -->
    <script src="/js/scriptsListSeller.js"></script>
    <!-- Ajax Chart Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <!-- Chart Js -->
    <!-- <script src="/js/chart-area-demo.js"></script>
   <script src="/js/chart-bar-demo.js"></script>
   <script src="/js/chart-pie-demo.js"></script> -->
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap.min.js"></script>
    <!-- <script src="/js/datatables-demo.js"></script> -->
    <script src="/js/headerAdmin.js"></script>
</body>



<script>
    



    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    var token = getCookie("token");

    //function chuyen trang
    function listUserPage() {
        window.location.href = '/ListUsers'
    }

    function listSellerPage() {
        window.location.href = '/ListSeller'
    }

    function listVoucherPage() {
        window.location.href = '/ListVoucher'
    }

    function ListCategoryPage() {
        window.location.href = '/ListCategory'
    }

    function listReportPage() {
        window.location.href = '/ListReport'
    }
    //btn-logout function

    //upRole Function done
    function upRole() {
        let idUP = localStorage.getItem("idUpRole").replaceAll('"', '');
        $.ajax({
            url: '/api/user/upRole',
            method: 'GET',
            data: {
                id: idUP
            }

        }).then(function(data) {

            if (data.message == "SUCCESS") {

                window.location.reload()
            } else {
                console.log("111111111111111111 listUser");
            }

        })
    }

    function enableUser() {
        let idEnable = localStorage.getItem("idDel").replaceAll('"', '');
        $.ajax({
            url: '/api/user/enable',
            method: 'GET',
            data: {
                id: idEnable
            }

        }).then(function(data) {

            if (data.message == "SUCCESS") {

                window.location.reload()
            } else {
                console.log("111111111111111111 listUser");
            }

        })
    }

    //deleteUser function done
    function deleteUser() {
        let idDel = localStorage.getItem("idDel").replaceAll('"', '');
        $.ajax({
            url: '/api/user/delete',
            method: 'GET',
            data: {
                id: idDel
            }

        }).then(function(data) {

            if (data.message == "SUCCESS") {

                window.location.reload()
            } else {
                console.log("111111111111111111 listUser");
            }

        })
    }

    //datatable function
    $(document).ready(function() {

        $('#dataTable').DataTable({

            'ajax': function(data, callback, settings) {
                $.ajax({
                        url: "http://localhost:3999/api/user/searchUser",
                    })
                    .then(function(response, textStatus, jqXHR) {

                        let data = response.data.listUsers

                        console.log(data);


                        data.forEach((val, idx) => {



                            val.no = idx + 1
                        });
                        callback({
                            "data": data

                        });
                    });
            },

            'columns': [{
                    data: 'no'
                }, {
                    data: 'name'
                }, {
                    data: 'address'
                }, {
                    data: 'phone'
                }, {
                    data: 'email'
                }, {
                    data: 'del'
                }, {
                    data: ""
                }

            ],
            'columnDefs': [{
                targets: -1,
                render: function(data, type, row, meta) {
                    console.log("123 ra van de ", row);
                    var checkStatus = (row.del ? '<input type="button" class="delete-user-btn btn-danger mr-3" data-toggle="modal" data-target="#enableUser" idUser="' + row.id + '" value="Kích Hoạt"/>' : '<input type="button" class="delete-user-btn btn-danger mr-3" data-toggle="modal" data-target="#deleteUser" idUser="' + row.id + '" value="Vô Hiệu"/>')
                    return '<input type="button" class="show-user-id btn-primary mr-3" data-toggle="modal" data-target="#inforUser" idUser="' + row.id + '" value="Thông Tin"/>' +
                        '<input type="button" class="up-role-btn btn-success mr-3 " data-toggle="modal" data-target="#upRole" idUser="' + row.id + '" value="Nâng quyền"/>' +
                        checkStatus;
                }

            }]

        });





        $('#dataTable tbody').on('click', '.show-user-id', function() {
            let idUserTemp = $(this).attr("idUser");
            $.ajax({
                url: 'http://localhost:3999/api/user/getById',
                method: 'GET',
                data: {
                    id: idUserTemp
                }

            }).then(function(data) {

                if (data.message == "SUCCESS") {
                    document.getElementById("userName").value = data.data.name
                    document.getElementById("userAdd").value = data.data.address
                    document.getElementById("userPhone").value = data.data.phone
                    document.getElementById("userEmail").value = data.data.email
                    document.getElementById("userDOB").value = new Date(data.data.dob).toLocaleDateString();
                }

            })
        });


        $('#dataTable tbody').on('click', '.up-role-btn', function() {
            let idUpRole = $(this).attr("idUser")

            localStorage.setItem('idUpRole', JSON.stringify(idUpRole));
        });

        $('#dataTable tbody').on('click', '.delete-user-btn', function() {

            let idUserDel = $(this).attr("idUser")
            localStorage.setItem('idDel', JSON.stringify(idUserDel));
        });



    });
</script>

</html>