<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <title>FUMK - Online Food Ordering</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="image/favicon.png">
    <!-- Bootstrap core CSS-->
    <link href="skin/bootstrap/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Font Awesome-->
    <!-- <link href="skin/font/all.min.css" rel="stylesheet"> -->
    <!-- Font Awesome-->
    <link href="skin/font/icofont.min.css" rel="stylesheet">
    <!-- Select2 CSS-->
    <link href="skin/font/select2.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="skin/font/osahan.css" rel="stylesheet">
    <style>
        i:hover {
            cursor: pointer;
        }
    </style>
</head>

<body class="bg-white">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"> </div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
                                <a href="/">
                                    <h3 class="login-heading mb-4">Chào mừng đến FUMK!</h3>
                                </a>
                                <form name="myForm">
                                    <div class="form-label-group">
                                        <input type="email" id="inputEmail" class="form-control" placeholder="Email">
                                        <label for="inputEmail">Email</label>
                                        <span class="form-message text-danger" id="messageEmail"></span>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu">
                                        <label for="inputPassword">Mật khẩu  <span onclick="hidePassword()" style="float: right;">
                                            <i class="icofont-eye-blocked" id="hide1" style="font-size: x-large;"></i>
                                            <i class="icofont-eye-alt" id="hide2" style="font-size: x-large;"></i>
                                        </span> </label>
                                        <span class="form-message text-danger" id="messagePass"></span>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input" id="remember">
                                        <label class="custom-control-label" for="remember">Nhớ mật khẩu</label>
                                        <a href="/ForgotPasswordUser" class="forgotpassword"> Quên mật khẩu? </a>
                                    </div>
                                    <a class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2" id="btn">ĐĂNG NHẬP</a>
                                    <div class="text-center pt-3">
                                        Bạn chưa có tài khoản? <a class="font-weight-bold" href="/RegisterUser">Tạo tài khoản mới</a>
                                    </div>
                                </form>
                                <hr class="my-4">
                                <p class="text-center">ĐĂNG NHẬP CÙNG</p>
                                <div class="row">
                                    <div class="col pr-3">
                                        <button class="btn pl-1 pr-1 btn-lg btn-google font-weight-normal text-white btn-block text-uppercase" type="submit"><i class="fa fa-google"></i> Google</button>
                                    </div>
                                    <div class="col pr-3">
                                        <button class="btn pl-1 pr-1 btn-lg btn-facebook font-weight-normal text-white btn-block text-uppercase" type="submit"><i class="fa fa-facebook-f mr-2"></i> Facebook</button>
                                    </div>
                                    <div class="col pr-3">
                                        <button class="btn pl-1 pr-1 btn-lg btn-success font-weight-normal text-white btn-block text-uppercase" type="submit"><i class="fa fa-phone mr-2"></i> Phone</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Select2 JavaScript-->
    <script src="js/select2.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



</body>
<script>
    function hidePassword() {
        var inputPassword = document.getElementById('inputPassword');
        var hide = document.getElementById('hide1');
        var show = document.getElementById('hide2');

        if (inputPassword.type === 'password') {
            inputPassword.type = 'text';
            hide.style.display = 'block';
            show.style.display = 'none';
        } else {
            inputPassword.type = 'password';
            hide.style.display = 'none';
            show.style.display = 'block';
        }

    }




    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    $(document).ready(function() {

        var remember = getCookie('remember');
        if (remember == 'true') {
            var email = getCookie('email');
            var password = getCookie('password');

            // autofill the fields
            $('#inputEmail').val(email);
            $('#inputPassword').val(password);
            $('#remember').prop("checked", true);
        }

    });



    $("#btn").click(function() {

        var inputEmail = $('#inputEmail').val();
        var inputPass = $('#inputPassword').val();

        if (inputEmail == '' || inputPass == '') {
            document.getElementById('inputEmail').setAttribute('class', 'form-control border-danger');
            document.getElementById('messageEmail').innerHTML = 'Email hoặc mật khẩu bạn không được để trống. Hãy đăng nhập lại';
        } else if (inputEmail != '' || inputPass != '') {
            $.ajax({
                url: "/api/auth/login",
                type: "POST",
                data: {
                    email: $("#inputEmail").val().trim(),
                    password: $("#inputPassword").val().trim()
                }
            }).then(function(data) {

                if (data.message == "Tài khoản không tồn tại!") {
                    document.getElementById('inputEmail').setAttribute('class', 'form-control border-danger');
                    document.getElementById('messageEmail').innerHTML = 'Email bạn nhập không tồn tại. Hãy đăng nhập lại';
                } else {
                    document.getElementById('inputEmail').setAttribute('class', 'form-control');
                    document.getElementById('messageEmail').innerHTML = '';
                }

                if (data.message == "Mật khẩu không đúng") {
                    document.getElementById('inputPassword').setAttribute('class', 'form-control border-danger');
                    document.getElementById('messagePass').innerHTML = 'Mật khẩu chưa chính xác. Hãy đăng nhập lại';
                } else {
                    document.getElementById('inputPassword').setAttribute('class', 'form-control');
                    document.getElementById('messagePass').innerHTML = '';
                }

                if (data.message == "Tai Khoan cua ban da bi khoa") {
                    document.getElementById('inputEmail').setAttribute('class', 'form-control border-danger');
                    document.getElementById('messageEmail').innerHTML = 'Email bạn đang bị khóa. Hãy đăng nhập lại sau!!!';
                } else {
                    document.getElementById('inputEmail').setAttribute('class', 'form-control');
                    document.getElementById('messageEmail').innerHTML = '';
                }

                if (data.message == "SUCCESS") {

                    var userId = data.data.userid;

                    setCookie("token", data.data.token, 30)
                    localStorage.setItem('userId', JSON.stringify(userId));

                    if ($('#remember').is(':checked')) {

                        // set cookies to expire in 14 days
                        setCookie('email', inputEmail, {
                            expires: 14
                        });
                        setCookie('password', inputPass, {
                            expires: 14
                        });
                        setCookie('remember', true, {
                            expires: 14
                        });
                    } else {
                        // reset cookies
                        setCookie('email', null);
                        setCookie('password', null);
                        setCookie('remember', null);
                    }


                    Swal.fire({
                        type: 'success',
                        title: 'Đăng nhập thành công 🔓',
                        // text: 'Your offer is safe 🙂',
                        showConfirmButton: false,
                        timer: 2000
                    })
                    window.setTimeout(function() {
                        window.location.href = '/';
                    }, 2000);

                }
            })
        }
    })

    // function goTo(shopIdClick) {
    //     console.log(shopIdClick);
    //     let id = "?id=" + shopIdClick;
    //     window.location.href = '/ShopDetail' + id;
    // }
</script>

</html>
