<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <title>FUMK - Online Food Ordering</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="image/favicon.png">
    <!-- Bootstrap core CSS-->
    <link href="skin/bootstrap/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Font Awesome-->
    <!-- <link href="skin/font/all.min.css" rel="stylesheet"> -->
    <!-- Font Awesome-->
    <link href="skin/font/icofont.min.css" rel="stylesheet">
    <!-- Select2 CSS-->
    <link href="skin/font/select2.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="skin/font/osahan.css" rel="stylesheet">
</head>

<body class="bg-white">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image1"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
                                <h3 class="login-heading mb-4">Chào mừng đến FUMK</h3>
                                <form name="myForm">
                                    <div class="form-label-group">
                                        <input type="email" id="inputEmail" class="form-control" placeholder="Địa chỉ Email">
                                        <label for="inputEmail">Email</label>
                                        <span class="form-message text-danger" id="messageEmail"></span>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu">
                                        <label for="inputPassword">Mật khẩu <span onclick="hidePassword()"
                                                style="float: right;">
                                                <i class="icofont-eye-blocked" id="hide1"
                                                    style="font-size: x-large;"></i>
                                                <i class="icofont-eye-alt" id="hide2" style="font-size: x-large;"></i>
                                            </span> </label>

                                    </div>
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Nhớ mật khẩu</label>
                                        <a href="/ForgotPasswordUser" class="forgotpassword"> Quên mật khẩu? </a>
                                    </div>
                                    <a class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2" id="btn">ĐĂNG NHẬP</a>
                                </form>
                                <hr class="my-4">
                                <p class="text-center">ĐĂNG NHẬP CÙNG</p>
                                <div class="row">
                                    <div class="col pr-3">
                                        <button class="btn pl-1 pr-1 btn-lg btn-google font-weight-normal text-white btn-block text-uppercase" type="submit"><i class="fa fa-google"></i> Google</button>
                                    </div>
                                    <div class="col pr-3">
                                        <button class="btn pl-1 pr-1 btn-lg btn-facebook font-weight-normal text-white btn-block text-uppercase" type="submit"><i class="fa fa-facebook-f mr-2"></i> Facebook</button>
                                    </div>
                                    <div class="col pr-3">
                                        <button class="btn pl-1 pr-1 btn-lg btn-success font-weight-normal text-white btn-block text-uppercase" type="submit"><i class="fa fa-phone mr-2"></i> Phone</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Select2 JavaScript-->
    <script src="js/select2.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
<script>
    function hidePassword() {
        var inputPassword = document.getElementById('inputPassword');
        var hide = document.getElementById('hide1');
        var show = document.getElementById('hide2');

        if (inputPassword.type === 'password') {
            inputPassword.type = 'text';
            hide.style.display = 'block';
            show.style.display = 'none';
        } else {
            inputPassword.type = 'password';
            hide.style.display = 'none';
            show.style.display = 'block';
        }

    }

    // function checkBlankLogin() {
    //     if ($("#inputEmail").val() == "") {
    //         alert("Email is Blank please Input")
    //     } else if ($("#inputPassword").val() == "") {
    //         alert("Password is black please input")
    //     }
    // }

    $("#btn").click(function() {

        var inputEmail = $("#inputEmail").val();
        var inputPass = $("#inputPassword").val();

        if (inputEmail == '' || inputPass == '') {
            document.getElementById('inputEmail').setAttribute('class', 'form-control border-danger');
            document.getElementById('messageEmail').innerHTML = 'Email hoặc mật khẩu bạn không được để trống. Hãy đăng nhập lại';
        } else if (inputEmail != '' || inputPass != '') {
            $.ajax({
                url: "/api/auth/loginSeller",
                type: "POST",
                data: {
                    email: inputEmail,
                    password: inputPass
                }
            }).then(function(data) {

                if (data.message == "SUCCESS") {
                    var sellerID = data.data.sellerid;
                    window.location.href = "/DashboardSeller"
                    localStorage.setItem('sellerId', JSON.stringify(sellerID));
                    setCookie("token", data.data.token, 31)
                } else {
                    document.getElementById('inputEmail').setAttribute('class', 'form-control border-danger');
                    document.getElementById('messageEmail').innerHTML = 'Email bạn nhập không kết nối với tài khoản nào. Hãy đăng nhập lại';
                }
            })

        }
    })

    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
</script>

</html>