<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <title>FUMK - Online Food Ordering</title>
    <!-- Custom Css -->
    <link href="skin/css/styles.css" rel="stylesheet" />
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="image/favicon.png">
    <!-- Bootstrap core CSS-->
    <link href="skin/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/all.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/icofont.min.css" rel="stylesheet">
    <!-- Select2 CSS-->
    <link href="skin/font/select2.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="skin/font/osahan.css" rel="stylesheet">
    <!-- Dropzone-->
    <link href="skin/font/dropzone.css" rel="stylesheet">
    <!-- HungCSS -->
    <link href="skin/font/HungCSS.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="skin/owl/owl.carousel.css">
    <link rel="stylesheet" href="skin/owl/owl.theme.css">

    <link href="skin/font/DoanCSS.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #notifies::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        
        #notifies::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }
        
        #notifies::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
        }
    </style>
</head>

<body>
    <!-- Modal -->
    <!-- Modal -->
    <!-- <div class="modal fade" id="add-address-modal" tabindex="-1" role="dialog" aria-labelledby="add-address" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div> -->
    <!-- Modal -->
    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm ">
            <div class="container">
                <a class="navbar-brand" href="/"><img alt="logo" style="max-width: 120px;" src="image/logoShop.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <div class="modal fade modal-search show modalsearch" id="modal-search" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <span class="close" data-dismiss="modal">
                                        <div class="close-icon">X</div>
                                    </span>
                                    <div class="modal-search-form" id="search_form">
                                        <span class="sub-title">Tìm kiếm các quán ăn.......</span>
                                        <form>
                                            <input type="text" class="search-input" id="search-input">
                                        </form>
                                    </div>
                                    <div id="suggest"></div>
                                </div>
                            </div>
                        </div>
                        <li class="nav-item active">
                            <span class="sizeIcon" data-toggle="modal" data-target="#modal-search">
                                <i class="icofont-search-property nav-link" style="padding-top: 20px !important; cursor: pointer;"></i>
                            </span>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Trang Chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Offers"><i class="icofont-sale-discount"></i> Ưu Đãi <span class="badge badge-danger">Mới</span></a>
                        </li>
                        <li id="checkLogin"></li>
                        <!-- <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell-o" aria-hidden="true" style="font-size: 20px;"></i>
                               
                            </a>
                            
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm">
                                <h6 class="dropdown-header">
                                    Thông Báo
                                </h6>
                                <div id="notifies" style="height: 240px; overflow: scroll; overflow-x: hidden;">
                                </div>

                            </div>
                        </li> -->
                        <li class="nav-item dropdown dropdown-cart">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icofont-basket"></i> Giỏ Hàng
                                <span class="total-count badge badge-success"></span>
                            </a>
                            <div class="dropdown-menu dropdown-cart-top p-0 dropdown-menu-right shadow-sm border-0">

                                <div class="dropdown-cart-top-body border-top p-4">
                                    <div class="name-Store"> </div>
                                    <table class=" table" id="show-cart">

                                    </table>
                                </div>
                                <div class="dropdown-cart-top-footer border-top p-4">
                                    <p class="mb-0 font-weight-bold text-secondary">Tổng Giá <span class=" total-cart float-right text-dark"></span></p>

                                </div>
                                <div class="dropdown-cart-top-footer border-top p-2">
                                    <a class="btn btn-success btn-block btn-lg" onclick="checkCart()"> Thanh Toán</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <section class="section pt-4 pb-4 osahan-account-page" style="padding-left: 150px;">
        <div class="row" style="padding-top: 70px;">
            <div class="col-md-2">
                <div class="osahan-account-page-left shadow-sm bg-white h-100">
                    <!-- <div class="border-bottom p-4">
                        <div class="osahan-user text-center">
                           <label>Your photo</label>
                           <div class="osahan-user-media">
                              <img class="mb-3 rounded-pill shadow-sm mt-1" src="img/user/4.png" alt="gurdeep singh osahan">
                              <div class="osahan-user-media-body">
                                 <h6 class="mb-2">Gurdeep Singh</h6>
                                 <p class="mb-1">+91 85680-79956</p>
                                 <p>iamosahan@gmail.com</p>
                                 <p class="mb-0 text-dark font-weight-bold"><a class="text-primary mr-3" data-toggle="modal" data-target="#edit-profile-modal" href="#"><i class="icofont-ui-edit"></i> Update</a></p>
                              </div>
                           </div>
                        </div>
                     </div> -->
                    <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="offers-tab" data-toggle="tab" href="#myPro" role="tab" aria-controls="offers" aria-selected="false"><i class="icofont-ui-user"></i> Thông tin của tôi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="true"><i class="icofont-food-cart"></i> Lịch sử mua hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="favourites-tab" data-toggle="tab" href="#favourites" role="tab" aria-controls="favourites" aria-selected="false"><i class="icofont-heart"></i>
                                Yêu thích</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="myPro" role="tabpanel" aria-labelledby="profile-tab">
                            <h4 class="font-weight-bold mt-0 mb-4">Thông tin của tôi</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="osahan-user text-center">
                                        <div class="osahan-user-media">
                                            <div class="picture-container">
                                                <div class="picture">
                                                    <img class="picture-src" id="wizardPicturePreview">
                                                    <input type="file" class="form-control" id="wizard-picture" name="uploadfile" accept="image/png, image/jpeg"></input>
                                                </div>
                                                <h6 class="text">Chọn ảnh</h6>
                                            </div>

                                            <input type="button" value="Lưu thay đổi" id="changeImage" class="btn btn-success"></input>
                                            <div class="osahan-user-media-body"> </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8 add_top_30">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Tên</label>
                                                <input type="text" class="form-control" id="name" placeholder="Tên của bạn">
                                                <span class="form-message text-danger" id="messageName"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Ngày-tháng-năm sinh</label>
                                                <input type="date" id="date" class="form-control">
                                                <span class="form-message text-danger" id="messageDate"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Số điện thoại</label>
                                                <input type="text" class="form-control" id="phone" placeholder="Số điện thoại">
                                                <span class="form-message text-danger" id="messagePhone"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" class="form-control" id="email" placeholder="Email" disabled>
                                                <span class="form-message text-danger" id="messageEmail"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label> Địa chỉ </label>
                                                <textarea style="height:70px;" class="form-control" id="address" placeholder="Địa chỉ"></textarea>
                                                <span class="form-message text-danger" id="messageAddress"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="save col-md-12">
                                            <input type="button" value="Lưu" id="SaveUpdate" class="btn btn-success"></input>
                                            <input type="button" value="Đổi mật khẩu" id="SaveUpdatePassWord" data-toggle="modal" data-target="#basicModal" class="btn btn-secondary ml-3">
                                            </input>
                                        </div>
                                        <!-- Save New password -->
                                        <div class="modal fade" id="basicModal" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h6 class="m-0"><i class="fa fa-lock text-muted mr-2"></i>Đổi mật khẩu
                                                                </h6>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <label>Mật khẩu cũ</label>
                                                                    <input class="form-control" id="Old_password" type="password">
                                                                    <span class="form-message text-danger" id="oldpassword"></span>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Mật khẩu mới</label>
                                                                    <input class="form-control" id="New_password" type="password">
                                                                    <span class="form-message text-danger" id="newpassword"></span>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Nhập lại mật khẩu</label>
                                                                    <input class="form-control" id="Confirm_new_password" type="password">
                                                                    <span class="form-message text-danger" id="confirmpassword"></span>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <input type="button" value="Đóng" class="btn btn-light" data-dismiss="modal"> </input>
                                                                <input type="button" value="Lưu thay đổi" id="change" class="btn btn-success"></input>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row-->
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                            <h4 class="font-weight-bold mt-0 mb-4"> Lịch sử mua hàng </h4>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div>

                                        <div class="card-body">

                                            <div class="container show-bill">

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="favourites" role="tabpanel" aria-labelledby="favourites-tab">
                            <h4 class="font-weight-bold mt-0 mb-4">Yêu thích</h4>
                            <div class="row" id="loadFavouries">

                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </section>
    <section class="section pt-5 pb-5 text-center bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="m-0">Điều hành các cửa hàng hoặc nhà hàng? <a href="login.html" style="color: red !important;">Làm việc với chúng tôi</a></h5>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="containers">
            <!--Bắt Đầu Nội Dung Giới Thiệu-->
            <div class="noi-dung about">
                <h2>Về Chúng Tôi</h2>
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium dolores alias ipsa vel hic tempore exercitationem ipsam explicabo repudiandae ut consectetur qui, earum at nostrum perspiciatis asperiores necessitatibus facilis esse.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia id possimus quibusdam nihil earum in provident enim animi commodi quisquam! Molestiae cupiditate mollitia pariatur error ea, debitis eaque quo dolorum.</p>
            </div>
            <!--Kết Thúc Nội Dung Giới Thiệu-->
            <!--Bắt Đầu Nội Dung Đường Dẫn-->
            <div class="noi-dung links">
                <h2>Đường Dẫn</h2>
                <ul style="padding-left: 0px;">
                    <li><a href="#">Trang Chủ</a></li>
                    <li><a href="#">Về Chúng Tôi</a></li>
                    <li><a href="#">Thông Tin Liên Lạc</a></li>
                    <li><a href="#">Dịch Vụ</a></li>
                    <li><a href="#">Điều Kiện Chính Sách</a></li>
                </ul>
            </div>
            <!--Kết Thúc Nội Dung Đường Dẫn-->
            <!--Bắt Đâu Nội Dung Liên Hệ-->
            <div class="noi-dung contact">
                <h2>Thông Tin Liên Hệ</h2>
                <ul class="info" style="padding-left: 0px;">
                    <li>
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>Đường Số 1<br />
                            Đường 1, Thủ Đô Hà Nội<br />
                            Việt Nam</span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone"></i></span>
                        <p><a href="#">+84 123 456 789</a>
                            <br />
                            <a href="#">+84 987 654 321</a>
                        </p>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope"></i></span>
                        <p><a href="#">FUMK@gmail.com</a>
                            <br />
                            <a href="#">FUMK@fpt.edu.vn</a>
                        </p>
                    </li>
                </ul>
            </div>
            <!--Kết Thúc Nội Dung Liên Hệ-->
        </div>
    </footer>

    
    <!--Pop up delete-->

    <!-- <div class="modal fade" id="deleteBill" tabindex="-1" role="dialog" aria-labelledby="edit_bookingLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="edit_bookingLabel">Thông Báo</h5>
             <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
             </button>
          </div>
          <div class="modal-body">
             <div class="row">
                <div class="col-xl-12">
                   <div class="card mb-4">
                      <div class="card-body">
                         <h5 style="text-align: center;">Bạn có chắc chắn hủy đơn hàng này không?</h5>
                         <div class="card-body">
                            <div class="row ml-5">
                               <div class="col-md-6">
                                  <div class="form-group">
                                     <input type="button" class="btn btn-primary" id="deletePro" value="Đồng Ý"
                                         onclick="deleteBill()"></input>
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <div class="form-group">
                                     <input type="button" class="btn btn-primary" id="cancelDelete" value="Hủy Bỏ"
                                        data-dismiss="modal"></input>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div> -->

 <div class="modal fade" id="deleteBill" tabindex="-1" role="dialog" aria-labelledby="edit_bookingLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="edit_bookingLabel">Thông Báo</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">×</span>
          </button>
       </div>
       <div class="modal-body">
          <div class="row">
             <div class="col-xl-12">
                <div class="card mb-4">
                   <div class="card-body">
                      <h5 style="text-align: center;">Bạn có muốn hủy đơn này không?</h5>
                      <div class="card-body">
                         <div class="row ml-5">
                            <div class="col-md-6">
                               <div class="form-group">
                                  <input type="button" class="btn btn-primary" id="deletePro" value="Đồng Ý"
                                     onclick="deleteBill()"></input>
                               </div>
                            </div>
                            <div class="col-md-6">
                               <div class="form-group">
                                  <input type="button" class="btn btn-primary" id="cancelDelete" value="Hủy Bỏ"
                                     data-dismiss="modal"></input>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>
 
    <!--Pop up success-->

    <div class="modal fade" id="successBill" tabindex="-1" role="dialog" aria-labelledby="edit_bookingLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="edit_bookingLabel">Thông Báo</h5>
             <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
             </button>
          </div>
          <div class="modal-body">
             <div class="row">
                <div class="col-xl-12">
                   <div class="card mb-4">
                      <div class="card-body">
                         <h5 style="text-align: center;">Xác Nhận đã nhận hàng và hài lòng với sản nhẩm</h5>
                         <div class="card-body">
                            <div class="row ml-5">
                               <div class="col-md-6">
                                  <div class="form-group">
                                     <input type="button" class="btn btn-primary" id="deletePro" value="Đồng Ý"
                                        onclick="successBill()"></input>
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <div class="form-group">
                                     <input type="button" class="btn btn-primary" id="cancelDelete" value="Hủy Bỏ"
                                        data-dismiss="modal"></input>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="js/jquery-3.3.1.slim.min.js"></script> -->
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Select2 JavaScript-->
    <script src="js/select2.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/custom.js"></script>
    <script src="js/header.js"></script>
    <script src="../../customJS/shopDetail.js"></script>
    <!-- Dropzone-->
    <script src="js/dropzone.min.js"></script>
    <!-- Ajax -->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
        function checkCart() {
            var text = localStorage.getItem('userId').replaceAll('"', '');
            if (text == '') {
                Swal.fire({
                    type: 'warning',
                    title: 'Bạn hãy đăng nhập để thanh toán',
                    // text: 'Your offer is safe 🙂',
                    showConfirmButton: false,
                    timer: 2500
                })
                window.setTimeout(function() {
                    window.location.href = '/LoginUser';
                }, 2500);
            } else {
                window.location.href = '/CheckOut';
            }
        }

        $(document).ready(function() {

            if (token == '') {
                window.location.href = "/404";
            }

            // Prepare the preview for profile picture
            $("#wizard-picture").change(function() {
                readURL(this);
            });
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $('#changeImage').click(function(e) {
            var data = document.getElementById("wizard-picture").files;
            var formdData = new FormData();
            formdData.append("file", data[0])
            var text = localStorage.getItem('userId').replaceAll('"', '');
            formdData.append("id", text)

            // const reader = new FileReader()
            // let files = document.getElementById('wizard-picture').files
            // reader.onload = async (event) => {
            //     document.getElementById('wizardPicturePreview').setAttribute('src', event.target.result)
            // }
            // reader.readAsDataURL(files[0])


            $.ajax({
                url: '/api/user/avatar',
                method: 'POST',
                // dataType : 'json',
                data: formdData,
                processData: false,
                contentType: false
            }).then(function(data) {
                if (data.message == 'SUCCESS') {
                    Swal.fire({
                        type: 'success',
                        title: 'Đã thay đổi ảnh ⚙️',
                        // text: 'Your offer is safe 🙂',
                        showConfirmButton: false,
                        timer: 2000
                    })
                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'thay ảnh lỗi ⚙️',
                        // text: 'Your offer is safe 🙂',
                        showConfirmButton: false,
                        timer: 2000
                    })
                }
            })
        });


        var regPhone = /(84|0[3|5|7|8|9])+([0-9]{8})\b/i;
        // var regPass = /^(?=.*\d)(?=.*[a-z])(?=.*[a-zA-Z]).{8,}$/i;

        function CheckUpdateProfile() {

            var userName = document.getElementById('name').value.trim();
            // var password = document.getElementById('password').value.trim();
            var email = document.getElementById('email').value.trim();
            var address = document.getElementById('address').value.trim();
            var date = document.getElementById('date').value.trim();
            var phone = document.getElementById('phone').value.trim();
            var Old_password = document.getElementById('Old_password').value.trim();
            var New_password = document.getElementById('New_password').value.trim();
            var Confirm_new_password = document.getElementById('Confirm_new_password').value.trim();
            // var old_phone = document.getElementById('old_phoneNumber').value.trim();
            // var new_phone = document.getElementById('new_phoneNumber').value.trim();

            if (userName == "") {
                document.getElementById('name').setAttribute('class', 'form-control border-danger');
                document.getElementById('messageName').innerHTML = 'Tên không được để trống';
            } else {
                document.getElementById('name').setAttribute('class', 'form-control');
                document.getElementById('messageName').innerHTML = '';
            }

            if (date == "") {
                document.getElementById('date').setAttribute('class', 'form-control border-danger');
                document.getElementById('messageDate').innerHTML = 'Bạn chưa chọn ngày-tháng-năm sinh';
            } else {
                document.getElementById('date').setAttribute('class', 'form-control');
                document.getElementById('messageDate').innerHTML = '';
            }

            if (regPhone.test(phone) == false) {
                document.getElementById('phone').setAttribute('class', 'form-control border-danger');
                document.getElementById('messagePhone').innerHTML = 'Số điện thoại phải 10 chữ số và đầu số phải 0 hoặc 84';
            } else {
                document.getElementById('phone').setAttribute('class', 'form-control');
                document.getElementById('messagePhone').innerHTML = '';
            }

            if (address == "") {
                document.getElementById('address').setAttribute('class', 'form-control border-danger');
                document.getElementById('messageAddress').innerHTML = 'Địa chỉ không được để trống';
            } else {
                document.getElementById('address').setAttribute('class', 'form-control');
                document.getElementById('messageAddress').innerHTML = '';
            }


        }

        $(document).ready(function() {
            loadDataProfile();
            loadDataFavourites();
            loadDataBuyed();
        });

        $("#SaveUpdate").click(function() {

            var userId = localStorage.getItem('userId').replaceAll('"', '');

            CheckUpdateProfile();
            $.ajax({
                url: "/api/user/updateUser",
                type: "POST",
                data: {
                    id: userId,
                    name: $('#name').val().trim(),
                    email: $('#email').val().trim(),
                    address: $('#address').val().trim(),
                    phone: $('#phone').val().trim(),
                    dob: $('#date').val().trim()
                }
            }).then(function(data) {
                if (data.message == "SUCCESS") {
                    Swal.fire({
                        type: 'success',
                        title: 'Lưu thay đổi ⚙️',
                        // text: 'Your offer is safe 🙂',
                        showConfirmButton: false,
                        timer: 2000
                    })
                    loadDataProfile();
                    loadName();
                }
            })
        })

        $("#change").click(function() {
            var userId = localStorage.getItem('userId').replaceAll('"', '');
            console.log(userId);
            $.ajax({
                url: "/api/user/changePass",
                type: "POST",
                data: {
                    userId: userId,
                    password: $("#confirmpassword").val().trim()
                }
            }).then(function(data) {

                if (data.message == "SUCCESS") {
                    Swal.fire({
                        type: 'success',
                        title: 'Lưu thay đổi ⚙️',
                        // text: 'Your offer is safe 🙂',
                        showConfirmButton: false,
                        timer: 2000
                    })
                }
            })
        })

        function loadDataProfile() {

            var text = localStorage.getItem('userId').replaceAll('"', '');
           
            $.ajax({
                type: "GET",
                dataType: "json",
                data: {
                    id: text
                },
                url: "/api/user/getbyId",
                success: function(data) {
                    var list = data.data;
                    document.getElementById('name').value = list.name;
                    document.getElementById('phone').value = list.phone;
                    document.getElementById('email').value = list.email;
                    document.getElementById('address').value = list.address;
                    var d = new Date(list.dob);
                    var n;
                    if (d.getUTCDate() < 10) {
                        n = '0' + d.getUTCDate();
                    } else {
                        n = d.getUTCDate();
                    }

                    var m;
                    if (d.getUTCMonth() < 10) {
                        m = '0' + d.getUTCMonth();
                    } else {
                        m = d.getUTCMonth();
                    }

                    var y = d.getUTCFullYear();

                    var dob = y + '-' + m + '-' + n;
                    document.getElementById('date').value = dob;
                    document.getElementById('wizardPicturePreview').src = list.avatar;
                }
            });
        }

        function loadDataFavourites() {

            var text = localStorage.getItem('userId').replaceAll('"', '');

            $.ajax({
                type: "GET",
                data: {
                    user_id: text
                },
                url: "/api/favorite/search",
                success: function(data) {
                    let list = data.data.productList;

                    for (var i = 0; i < list.length; i++) {
                        let image = (list[i].image ? list[i].image : "image/list/1.png");
                        document.getElementById('loadFavouries').innerHTML += `<div class="col-sm-3 mb-4 pb-2">
                                    <div class="list-card bg-white overflow-hidden h-100 position-relative item-content" style="border: 1px solid #d7d7d7; border-radius: 6px;" >
                                        <div class="list-card-image">
                                            <a href="#">
                                                <img src=` + image + ` class="img-fluid item-img" style="width: 100%;">
                                            </a>
                                        </div>
                                        <div class="p-3 position-relative">
                                            <div class="list-card-body">
                                                <h6 class="mb-1"><a href="#" class="text-dark" onclick="goTo(` + "'" + list[i].user_id + "'" + `)">` + list[i].name + `</a>
                                                </h6>
                                                <p class="text-gray mb-3">Giá: ` + list[i].unit_price + ` VNĐ</p>
                                                <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><iclass="icofont-wall-clock"></iclass=> ` + list[i].time_from + `–` + list[i].time_to + ` phút</span></p>
                                                            <span class="float-right"> <span class="count-number" style="margin-top: 0px !important;"> <button value="Hủy yêu thích" class="add-to-cart btn btn-outline-secondary btn-sm" onclick="deleteLike(` + "'" + list[i].id + "'" + `)" > Hủy yêu thích </button> </span> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>`;
                    }
                }
            });
        }

        function goTo(shopIdClick) {
            let id = "?id=" + shopIdClick;
            window.location.href = '/ShopDetail' + id;
        }

        function deleteLike(id) {
            var text = localStorage.getItem('userId').replaceAll('"', '');
            $.ajax({
                url: '/api/favorite/delete',
                method: 'GET',
                data: {
                    product_id: id,
                    user_id: text
                },
            }).then(function(data) {
                if (data.message == 'SUCCESS') {
                    document.getElementById('loadFavouries').innerHTML = '';
                    loadDataFavourites()
                }
            })
        }

        function loadDataBuyed() {
            console.log("vao");
            var userId = localStorage.getItem('userId').replaceAll('"', '');
            $.ajax({
                url: "/api/bill/listOrderForUser",
                type: "GET",
                data: {
                    user_id: userId
                }
            }).then(function(data) {
                var billTEmp = data.data.listBillTotal;
            console.log(billTEmp); 
            $(".show-bill").html("") 
            for(var i = 0 ; i < billTEmp.length ; i++){
                var checkStatus = billTEmp[i].bill.status==1 ? '<input type="button" class="btn btn-danger" style="float:right" data-toggle="modal" data-target="#deleteBill" data-id =" '+ billTEmp[i].bill.id+' " onclick="getIdDel.call(this)"  value="Hủy Đơn">' :
                billTEmp[i].bill.status==2 ? '<input type="button" class="btn btn-success"  style="float:right" data-toggle="modal" data-target="#successBill" data-id =" '+ billTEmp[i].bill.id+' " onclick="getIdSuccess.call(this)" value="Đã Nhận Đơn ">': 
                billTEmp[i].bill.status==3  ? '<label class="btn btn-secondary"  style="float:right"   > Đã Hủy </label>':
                '<label class="btn btn-primary"  style="float:right"  >Hoàn Thành</label>'


                    let productTemp = ``
                    for (var j = 0; j < billTEmp[i].billList.length; j++) {
                        productTemp += `

                  
                     <p class="mb-1">${billTEmp[i].billList[j].name} X ${billTEmp[i].billList[j].quantity} </p>

`
                    }

                    var Template = `
                  <div class="row">
                     <div class="col-xl-12">
                        <div class="card mb-4 order-list">
                           <div class="gold-members p-4">
                              <a href="#">
                              </a>
                              <div class="media">

                                 <div class="media-body  ">
                                    <div class="container  d-flex" >
                                        <div class="row header-body d-flex flex-column" style="width:60%">
                                            <h4 class="mb-3" class="text-dark">
                                            Đơn ${i+1}
                                            </h4>
                                           
                                            <p class="text-dark-50 mb-1"><i class="fa fa-user mr-1" aria-hidden="true"></i> ${billTEmp[i].user.name}  </p>
                                            <p class="text-dark-50 mb-1" ><i class="fa fa-map-marker mr-2" aria-hidden="true"> </i>${billTEmp[i].user.address}</p>

                                            <p class="text-dark-50 mb-1"><i class="fa fa-phone mr-1" aria-hidden="true"></i> ${billTEmp[i].user.phone}
                                            </p>
                                            <p class="text-dark-50 mb-3"><i class="fa fa-calendar-check-o mr-1" aria-hidden="true"></i> ${new Date(billTEmp[i].createAt).toLocaleDateString('en-GB')}</p>
                                        </div>
                                        <div  style="width: 40%; margin-left: 50px; margin-top: 41px; text-align: right;" >
                                               <h6><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Sản Phẩm</h6>
                                                ${ productTemp} 
                                                
                                        </div>
                                    </div>
                                    <hr>
                                    <div >
                                    <p class="checkStatus mb-0 text-dark text-dark pt-2"><span class="text-dark font-weight-bold">
                                          Tổng Tiền: <span class="text-danger"> ${billTEmp[i].bill.total_price}  VND </span> </span>    ${checkStatus}
                                    </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                     </div>
                  </div>
                  `

                  $(".show-bill").append(Template);
                  
               
               
            }
            })
        }
  
        function getIdSuccess(){
            let successID =$(this).data("id")
            localStorage.setItem("successID",JSON.stringify(successID))
           
        }
      

        function successBill(){
            let successID = localStorage.getItem('successID').replaceAll('"', '');
            
            $.ajax({
                url:"/api/bill/complete",
                type:"GET",
                data:{
                    id:successID
                }
            }).then(function(data){
                if(data.message == 'SUCCESS'){
                    loadDataBuyed()
                }
            })
        }

        function getIdDel(){
            var delBill = $(this).data("id").trim()
            console.log(delBill);
            localStorage.setItem("deleteBillId",JSON.stringify(delBill))
           
        }

        function deleteBill (){
            let delID = localStorage.getItem('deleteBillId').replaceAll('"', '');
            console.log(delID);
            $.ajax({
                url:"/api/bill/cancel",
                type:"GET",
                data:{
                    id:delID
                }
            }).then(function(data){
               
                if(data.message == 'SUCCESS'){
                   
                    window.location.reload()
                }
            })
        }           
    </script>
</body>

</html>