<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <title>FUMK - Online Food Ordering</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="image/favicon.png">
    <!-- Bootstrap core CSS-->
    <link href="skin/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <!-- <link href="skin/font/all.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Font Awesome-->
    <link href="skin/font/icofont.min.css" rel="stylesheet">
    <!-- Select2 CSS-->
    <link href="skin/font/select2.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="skin/font/osahan.css" rel="stylesheet">
    <style>
        i:hover {
            cursor: pointer;
        }
    </style>
</head>

<body class="bg-white">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"> </div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
                                <h3 class="login-heading mb-4">Tạo mật khẩu mới!!!</h3>
                                <form>
                                    <div class="form-label-group mb-4">
                                        <input type="password" id="ptext" class="form-control" placeholder="Promocode">
                                        <label for="ptext"> <i class="fa fa-key" aria-hidden="true"></i> Mật khẩu mới <span onclick="hidePassword()" style="float: right;">
                                            <i class="icofont-eye-blocked" id="hide1" style="font-size: x-large;"></i>
                                            <i class="icofont-eye-alt" id="hide2" style="font-size: x-large;"></i>
                                        </span></label>
                                    </div>
                                    <input type="button" value="Thay đổi mật khẩu" class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2" onclick="changeNewPass()" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Select2 JavaScript-->
    <script src="js/select2.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            setCookie("token", "", 0);
            localStorage.clear();
        })

        function hidePassword() {
            var inputPassword = document.getElementById('ptext');
            var hide = document.getElementById('hide1');
            var show = document.getElementById('hide2');

            if (inputPassword.type === 'password') {
                inputPassword.type = 'text';
                hide.style.display = 'block';
                show.style.display = 'none';
            } else {
                inputPassword.type = 'password';
                hide.style.display = 'none';
                show.style.display = 'block';
            }

        }

        let email = window.location.search

        $(document).ready(function() {


            history.replaceState(null, document.querySelector("email"), window.location.pathname)

            // if (document.URL.indexOf("#") == -1) {
            //     // Set the URL to whatever it was plus "#loaded".
            //     url = document.URL + "#loaded";
            //     location = "#loaded";
            //     //Reload the page using reload() method
            //     location.reload(true);
            // }
        });

        function changeNewPass() {
            $.ajax({
                url: '/api/user/forgotPass',
                method: 'POST',
                data: {
                    email: email.slice(7),
                    password: $('#ptext').val(),
                },
            }).then(function(data) {
                if (data.message == 'SUCCESS') {
                    Swal.fire({
                        type: 'success',
                        title: 'Thay đổi thành công 🎊',
                        // text: 'Your offer is safe 🙂',
                        showConfirmButton: false,
                        timer: 2000
                    })
                    window.setTimeout(function() {
                        window.location.href = '/LoginUser';
                    }, 2000);
                } else {
                    alert('hello');
                }
            })
        }
    </script>
</body>

</html>