<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <title>FUMK - Online Food Ordering</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="image/favicon.png">
    <!-- Bootstrap core CSS-->
    <link href="skin/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/all.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/icofont.min.css" rel="stylesheet">
    <!-- Select2 CSS-->
    <link href="skin/font/select2.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="skin/font/osahan.css" rel="stylesheet">
    <style>
        i:hover {
            cursor: pointer;
        }
    </style>
</head>

<body class="bg-white">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
                                <h3 class="login-heading mb-4">Tạo tài khoản mới!!!</h3>
                                <form method="POST" action="#" id="register">
                                    <div class="form-label-group mb-4 ">
                                        <input type="text" id="userName" class="form-control" placeholder="Tên">
                                        <label for="userName">Tên</label>
                                        <span class="form-message text-danger" id="messageName"></span>
                                    </div>
                                    <div class="form-label-group mb-4">
                                        <input type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu">
                                        <label for="inputPassword">Mật khẩu<span onclick="hidePassword()" style="float: right;">
                                            <i class="icofont-eye-blocked" id="hide1" style="font-size: x-large;"></i>
                                            <i class="icofont-eye-alt" id="hide2" style="font-size: x-large;"></i>
                                        </span></label>
                                        <span class="form-message text-danger" id="messagePass"></span>
                                    </div>
                                    <div class="form-label-group mb-4">
                                        <input type="password" id="reInputPassword" class="form-control" placeholder="Nhập lại mật khẩu">
                                        <label for="reInputPassword">Nhập lại mật khẩu <span onclick="hiddenPassword()" style="float: right;">
                                            <i class="icofont-eye-blocked" id="hiden1" style="font-size: x-large;"></i>
                                            <i class="icofont-eye-alt" id="hiden2" style="font-size: x-large;"></i>
                                        </span></label>
                                        <span class="form-message text-danger" id="messageRePass"></span>
                                    </div>
                                    <div class="form-label-group mb-4">
                                        <input type="email" id="inputEmail" class="form-control" placeholder="Địa chỉ Email">
                                        <label for="inputEmail">Email</label>
                                        <span class="form-message text-danger" id="messageEmail"></span>
                                    </div>
                                    <div class="form-label-group mb-4">
                                        <input type="text" id="inputAddress" class="form-control" placeholder="Địa chỉ">
                                        <label for="inputAddress">Địa chỉ</label>
                                        <span class="form-message text-danger" id="messageAddress"></span>
                                    </div>
                                    <div class="form-label-group mb-4">
                                        <input type="date" id="date" class="form-control">
                                        <span class="form-message text-danger" id="messageDate"></span>
                                    </div>
                                    <div class="form-label-group mb-4">
                                        <input type="text" id="inputPhone" class="form-control" placeholder="Số điện thoại">
                                        <label for="inputPhone"> Số điện thoại</label>
                                        <span class="form-message text-danger" id="messagePhone"></span>
                                    </div>
                                    <input type="button" value="ĐĂNG KÝ" id="signUp" class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2">
                                    <div class="text-center pt-3">
                                        Bạn đã có sẵn tài khoản? <a href="/LoginUser" class="font-weight-bold">ĐĂNG NHẬP</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Select2 JavaScript-->
    <script src="js/select2.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/custom.js"></script>
    <!--Script Input-->
    <!-- <script src="js/registerUser.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
        function hiddenPassword() {
            var inputPassword = document.getElementById('reInputPassword');
            var hide = document.getElementById('hiden1');
            var show = document.getElementById('hiden2');

            if (inputPassword.type === 'password') {
                inputPassword.type = 'text';
                hide.style.display = 'block';
                show.style.display = 'none';
            } else {
                inputPassword.type = 'password';
                hide.style.display = 'none';
                show.style.display = 'block';
            }
        }

        function hidePassword() {
            var inputPassword = document.getElementById('inputPassword');
            var hide = document.getElementById('hide1');
            var show = document.getElementById('hide2');

            if (inputPassword.type === 'password') {
                inputPassword.type = 'text';
                hide.style.display = 'block';
                show.style.display = 'none';
            } else {
                inputPassword.type = 'password';
                hide.style.display = 'none';
                show.style.display = 'block';
            }
        }



        function register() {
            var userName = document.getElementById('userName').value.trim();
            var password = document.getElementById('inputPassword').value.trim();
            var rePassword = document.getElementById('reInputPassword').value.trim();
            var email = document.getElementById('inputEmail').value.trim();
            var address = document.getElementById('inputAddress').value.trim();
            var date = document.getElementById('date').value.trim();
            var phone = document.getElementById('inputPhone').value.trim();

            var regPass = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/i;
            var regEmail = /^\w+@[a-zA-Z]{1,}/i;
            var regPhone = /(84|0[3|5|7|8|9])+([0-9]{8})\b/i;


            if (userName == "") {
                document.getElementById('userName').setAttribute('class', 'form-control border-danger');
                document.getElementById('messageName').innerHTML = 'Tên không được để trống';
            } else {
                document.getElementById('userName').setAttribute('class', 'form-control');
                document.getElementById('messageName').innerHTML = '';
            }

            if (regPass.test(password) == false) {
                document.getElementById('inputPassword').setAttribute('class', 'form-control border-danger');
                document.getElementById('messagePass').innerHTML = 'Tối thiểu 8 ký tự, ít nhất một chữ cái và một số';
            } else {
                document.getElementById('inputPassword').setAttribute('class', 'form-control');
                document.getElementById('messagePass').innerHTML = '';
            }

            if (rePassword == "") {
                document.getElementById('reInputPassword').setAttribute('class', 'form-control border-danger');
                document.getElementById('messageRePass').innerHTML = 'Nhập lại mật khẩu không được để trống';
            } else if (rePassword != password) {
                document.getElementById('reInputPassword').setAttribute('class', 'form-control border-danger');
                document.getElementById('messageRePass').innerHTML = 'Mật khẩu không khớp';
            } else {
                document.getElementById('reInputPassword').setAttribute('class', 'form-control');
                document.getElementById('messageRePass').innerHTML = '';
            }

            if (regEmail.test(email) == false) {
                document.getElementById('inputEmail').setAttribute('class', 'form-control border-danger');
                document.getElementById('messageEmail').innerHTML = 'Email chưa đúng dạng';
            } else {
                document.getElementById('inputEmail').setAttribute('class', 'form-control');
                document.getElementById('messageEmail').innerHTML = '';
            }

            if (address == "") {
                document.getElementById('inputAddress').setAttribute('class', 'form-control border-danger');
                document.getElementById('messageAddress').innerHTML = 'Địa chỉ không được để trống';
            } else {
                document.getElementById('inputAddress').setAttribute('class', 'form-control');
                document.getElementById('messageAddress').innerHTML = '';
            }

            if (date == "") {
                document.getElementById('date').setAttribute('class', 'form-control border-danger');
                document.getElementById('messageDate').innerHTML = 'Bạn chưa chọn ngày-tháng-năm sinh';
            } else {
                document.getElementById('date').setAttribute('class', 'form-control');
                document.getElementById('messageDate').innerHTML = '';
            }

            if (regPhone.test(phone) == false) {
                document.getElementById('inputPhone').setAttribute('class', 'form-control border-danger');
                document.getElementById('messagePhone').innerHTML = 'Số điện thoại phải 10 chữ số và đầu số phải 0 hoặc 84';
            } else {
                document.getElementById('inputPhone').setAttribute('class', 'form-control');
                document.getElementById('messagePhone').innerHTML = '';
            }


        }
        // $("#userName").click(function() {
        //     register();
        // });

        // $("#inputPassword").click(function() {
        //     register();
        // });

        // $("#inputEmail").click(function() {
        //     register();
        // });

        // $("#inputAddress").click(function() {
        //     register();
        // });

        // $("#date").click(function() {
        //     register();
        // });

        // $("#inputPhone").click(function() {
        //     register();
        // });

        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        // function getCookie(cname) {
        //     let name = cname + "=";
        //     let decodedCookie = decodeURIComponent(document.cookie);
        //     let ca = decodedCookie.split(';');
        //     for (let i = 0; i < ca.length; i++) {
        //         let c = ca[i];
        //         while (c.charAt(0) == ' ') {
        //             c = c.substring(1);
        //         }
        //         if (c.indexOf(name) == 0) {
        //             return c.substring(name.length, c.length);
        //         }
        //     }
        //     return "";
        // }

        // function setCookie(cname, cvalue, exdays) {
        //     const d = new Date();
        //     d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        //     let expires = "expires=" + d.toUTCString();
        //     document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        // }

        $('#signUp').click(function() {
            if (!register()) {
                $.ajax({
                    url: '/api/user/create',
                    method: 'POST',
                    data: {
                        name: $('#userName').val().trim(),
                        password: $('#inputPassword').val().trim(),
                        email: $('#inputEmail').val().trim(),
                        address: $('#inputAddress').val().trim(),
                        dob: $('#date').val().trim(),
                        phone: $('#inputPhone').val().trim(),
                    },
                }).then(function(data) {
                    if (data.message == 'SUCCESS') {

                        Swal.fire({
                            type: 'success',
                            title: 'Đăng ký thành công 🎊',
                            // text: 'Your offer is safe 🙂',
                            showConfirmButton: false,
                            timer: 2000
                        })
                        window.setTimeout(function() {
                            window.location.href = '/LoginUser';
                        }, 2000);
                    } else {

                    }
                })
            }
        })
    </script>
</body>

</html>