<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <base href="/">
    <title>FUMK - Online Food Ordering</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- Custom Css -->
    <!-- <link href="skin/css/styles.css" rel="stylesheet" /> -->
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="image/favicon.png">
    <!-- Bootstrap core CSS-->
    <link href="skin/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/all.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="skin/font/icofont.min.css" rel="stylesheet">
    <!-- Select2 CSS-->
    <link href="skin/font/select2.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="skin/font/osahan.css" rel="stylesheet">

    <link href="skin/font/HungCSS.css" rel="stylesheet">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="skin/owl/owl.carousel.css">
    <link rel="stylesheet" href="skin/owl/owl.theme.css">

    <link href="skin/font/DoanCSS.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        label:hover {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm ">
            <div class="container">
                <a class="navbar-brand" href="/"><img alt="logo" style="max-width: 120px;" src="image/logoShop.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
                <div class="modal fade modalsearch" id="productDetail" role="dialog" style="opacity: unset;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="padding-bottom: 15px; margin-left: 170px; width: 70% !important;">
                            <div>
                                <div class="container" style="display: block;">
                                    <div class="detail-image">
                                        <img src="/image/1.jpg" id="imageProduct" style="width: 90%;">
                                    </div>
                                    <div class="detail-info">
                                        <div class="kind-restaurants">
                                            <span>Shop
                                                <span> -
                                                    <a href="#" class="link-brand">chi nhánh</a>
                                                </span>
                                            </span>
                                        </div>
                                        <h1 class="name-restaurant" id="nameProduct"></h1>
                                        <div class="address-restaurant">Cầu Giấy, Hà Nội</div>
                                        <div class="status-restaurant">
                                            <div class="time-status">
                                                <span class="stt-online" title="mở cửa"> <i class="fa fa-circle"
                                                        aria-hidden="true"></i> mở cửa</span>
                                            </div>
                                            <div class="time" id="timeOpen">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                        <div class="priceProduct" id="priceProduct">
                                            <i class="fa fa-money"></i>
                                        </div>
                                        <div class="descriptionProduct" id="descriptionProduct"></div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="modal-content bg-white rounded shadow-sm p-4 mt-3 restaurant-detailed-ratings-and-reviews" style="padding-bottom: 15px; margin-left: 170px; width: 70% !important;">
                            <h5 class="mb-1">Tất cả bình luận</h5>
                            <div id="listComment">
                                <div id="replyFeedback">
                                </div>
                            </div>
                        </div>
                        <!-- <a class="text-center w-100 d-block font-weight-bold" href="#">See All Reviews</a> -->

                        <div class="modal-content bg-white rounded shadow-sm p-4 mb-5 mt-3 rating-review-select-page" style="padding-bottom: 15px; margin-left: 170px; width: 70% !important;">
                            <h5 class="mb-4">Để lại bình luận</h5>
                            <form>
                                <div class="form-group">
                                    <label>Bình luận của bạn</label>
                                    <textarea class="form-control" id="textComment"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-sm" type="button" id="submitComment"> Gửi bình
                                        luận</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <div class="modal fade modal-search show modalsearch" id="modal-search" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <span class="close" data-dismiss="modal">
                                        <div class="close-icon">X</div>
                                    </span>
                                    <div class="modal-search-form" id="search_form">
                                        <span class="sub-title">Tìm kiếm các quán ăn.......</span>
                                        <form>
                                            <input type="text" class="search-input" id="search-input">
                                        </form>
                                    </div>
                                    <div id="suggest"></div>
                                </div>
                            </div>
                        </div>
                        <li class="nav-item active">
                            <span class="sizeIcon" data-toggle="modal" data-target="#modal-search">
                            <i class="icofont-search-property nav-link" style="padding-top: 20px !important; cursor: pointer;"></i>
                        </span>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Trang Chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Offers"><i class="icofont-sale-discount"></i> Ưu Đãi <span class="badge badge-danger">Mới</span></a>
                        </li>
                        <li id="checkLogin"></li>

                        <li class="nav-item dropdown dropdown-cart">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icofont-basket"></i> Giỏ Hàng
                                <span class="total-count badge badge-success"></span>
                            </a>
                            <div class="dropdown-menu dropdown-cart-top p-0 dropdown-menu-right shadow-sm border-0">

                                <div class="dropdown-cart-top-body border-top p-4">
                                    <table class=" table" id="show-cart">

                                    </table>
                                </div>
                                <div class="dropdown-cart-top-footer border-top p-4">
                                    <p class="mb-0 font-weight-bold text-secondary">Sub Total <span class="total-cart float-right text-dark"></span></p>
                                    <small class="text-info">Extra charges may apply</small>
                                </div>
                                <div class="dropdown-cart-top-footer border-top p-2">
                                    <a class="btn btn-success btn-block btn-lg" href="/CheckOut"> Checkout</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <section class="restaurant-detailed-banner">
        <div class="text-center">
            <img class="img-fluid cover" src="image/backgroundHome.HEIC" style="width: 100%;">
        </div>
        <div class="restaurant-detailed-header">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-md-12">
                        <div class="restaurant-detailed-header-left">
                            <div id="inforShop">

                            </div>

                            <!-- <p class="text-white mb-0"><i class="icofont-food-cart"></i> North Indian, Chinese, Fast Food, South Indian
                                <button type="button" id="SaveUpdate" data-toggle="modal" data-target="#basicModal" class="btn btn-outline-danger ml-3 fa fa-flag" style="float: right;"> </button>
                            </p> -->





                            <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style="text-shadow: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="m-0"><i class="fa fa-flag text-muted mr-2"></i>Báo Cáo</h6>
                                        </div>
                                        <div class="modal-body">
                                            <div class="dropdown form-group">
                                                <select class="dropdown-menu dropdown-toggle" aria-labelledby="dropdownMenuButton" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <option value="Vận chuyển">Vận chuyển</option>
                                                    <option value="Số lượng sản phẩm">Số lượng sản phẩm</option>
                                                    <option value="Phản hồi">Phản hồi</option>
                                                    <option value="Thái độ">Thái độ</option>
                                                    <option value="Khác">Khác...</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>Ghi chú:</label>
                                                <textarea class="form-control" id="text_report" type="text"> </textarea>
                                                <span class="form-message text-danger" id="confirmpassword"></span>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" value="Close" class="btn btn-light" data-dismiss="modal"> </input>
                                            <input type="button" value="Send" id="change" class="btn btn-danger" onclick="sendReport()"></input>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="offer-dedicated-nav bg-white border-top-0 shadow-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-order-online-tab" data-toggle="pill" href="#pills-order-online" role="tab" aria-controls="pills-order-online" aria-selected="true">Đặt hàng trực tuyến</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-gallery-tab" data-toggle="pill" href="#pills-gallery" role="tab" aria-controls="pills-gallery" aria-selected="false">Phòng trưng bày</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-restaurant-info-tab" data-toggle="pill" href="#pills-restaurant-info" role="tab" aria-controls="pills-restaurant-info" aria-selected="false">Thông tin nhà hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-reviews-tab" data-toggle="pill" href="#pills-reviews" role="tab" aria-controls="pills-reviews" aria-selected="false">Xếp hạng và đánh giá</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="offer-dedicated-body pt-2 pb-2 mt-4 mb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="offer-dedicated-body-left">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-order-online" role="tabpanel" aria-labelledby="pills-order-online-tab">
                                <div id="#menu" class="bg-white rounded shadow-sm p-4 mb-4 explore-outlets">
                                    <h5 class="mb-4">Khuyến khích</h5>
                                    <form class="explore-outlets-search mb-4">
                                        <div class="input-group">
                                            <input type="text" placeholder="Tìm kiếm các món ăn ..." class="form-control">
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-link"> <i class="icofont-search"></i> </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row allProduct">
                                    <h5 class="mb-4 mt-3 col-md-12">Tất cả sản phẩm</h5>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-gallery" role="tabpanel" aria-labelledby="pills-gallery-tab">

                            </div>
                            <div class="tab-pane fade" id="pills-restaurant-info" role="tabpanel" aria-labelledby="pills-restaurant-info-tab">
                                <div id="restaurant-info" class="bg-white rounded shadow-sm p-4 mb-4">
                                    <div class="address-map float-right ml-5">
                                        <div class="mapouter">
                                            <div class="gmap_canvas"><iframe width="300" height="170" id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=9&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                                        </div>
                                    </div>
                                    <h5 class="mb-4">Restaurant Info</h5>
                                    <p class="mb-3">Jagjit Nagar, Near Railway Crossing,
                                        <br> Near Model Town, Ludhiana, PUNJAB
                                    </p>
                                    <p class="mb-2 text-black"><i class="icofont-phone-circle text-primary mr-2"></i> +91 01234-56789, +91 01234-56789</p>
                                    <p class="mb-2 text-black"><i class="icofont-email text-primary mr-2"></i> iamosahan@gmail.com, osahaneat@gmail.com</p>
                                    <p class="mb-2 text-black"><i class="icofont-clock-time text-primary mr-2"></i> Today 11am – 5pm, 6pm – 11pm
                                        <span class="badge badge-success"> OPEN NOW </span>
                                    </p>
                                    <hr class="clearfix">
                                    <p class="text-black mb-0">You can also check the 3D view by using our menue map clicking here &nbsp;&nbsp;&nbsp; <a class="text-info font-weight-bold" href="#">Venue Map</a></p>
                                    <hr class="clearfix">
                                    <h5 class="mt-4 mb-4">More Info</h5>
                                    <p class="mb-3">Dal Makhani, Panneer Butter Masala, Kadhai Paneer, Raita, Veg Thali, Laccha Paratha, Butter Naan</p>
                                    <div class="border-btn-main mb-4">
                                        <a class="border-btn text-success mr-2" href="#"><i class="icofont-check-circled"></i> Breakfast</a>
                                        <a class="border-btn text-danger mr-2" href="#"><i class="icofont-close-circled"></i> No Alcohol Available</a>
                                        <a class="border-btn text-success mr-2" href="#"><i class="icofont-check-circled"></i> Vegetarian Only</a>
                                        <a class="border-btn text-success mr-2" href="#"><i class="icofont-check-circled"></i> Indoor Seating</a>
                                        <a class="border-btn text-success mr-2" href="#"><i class="icofont-check-circled"></i> Breakfast</a>
                                        <a class="border-btn text-danger mr-2" href="#"><i class="icofont-close-circled"></i> No Alcohol Available</a>
                                        <a class="border-btn text-success mr-2" href="#"><i class="icofont-check-circled"></i> Vegetarian Only</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-book" role="tabpanel" aria-labelledby="pills-book-tab">
                                <div id="book-a-table" class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page">
                                    <h5 class="mb-4">Book A Table</h5>
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Full Name</label>
                                                    <input class="form-control" type="text" placeholder="Enter Full Name">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Email Address</label>
                                                    <input class="form-control" type="text" placeholder="Enter Email address">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Mobile number</label>
                                                    <input class="form-control" type="text" placeholder="Enter Mobile number">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Date And Time</label>
                                                    <input class="form-control" type="text" placeholder="Enter Date And Time">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group text-right">
                                            <button class="btn btn-primary" type="button"> Submit </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
                                <div class="bg-white rounded shadow-sm p-4 mb-4 clearfix graph-star-rating">
                                    <h5 class="mb-0 mb-4">Xếp hạng và đánh giá</h5>
                                    <div class="graph-star-rating-header">
                                        <div class="star-rating">
                                            <div id=rateTotal>
                                                <b class="text-black ml-2" id="rateStar"></b>
                                            </div>

                                        </div>
                                        <p class="text-black mb-4 mt-2" id="rateOfStar"></p>
                                    </div>
                                    <div class="graph-star-rating-body">
                                        <div class="rating-list">
                                            <div class="rating-list-left text-black">
                                                5 sao
                                            </div>
                                            <div class="rating-list-center">
                                                <div class="progress">
                                                    <div aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary" id="rateColor5" style="background-image: none;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rating-list-right text-black" id="rateOf5"></div>
                                        </div>
                                        <div class="rating-list">
                                            <div class="rating-list-left text-black">
                                                4 sao
                                            </div>
                                            <div class="rating-list-center">
                                                <div class="progress">
                                                    <div aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary" id="rateColor4" style="background-image: none;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rating-list-right text-black" id="rateOf4"></div>
                                        </div>
                                        <div class="rating-list">
                                            <div class="rating-list-left text-black">
                                                3 sao
                                            </div>
                                            <div class="rating-list-center">
                                                <div class="progress">
                                                    <div aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary" id="rateColor3" style="background-image: none;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rating-list-right text-black" id="rateOf3"></div>
                                        </div>
                                        <div class="rating-list">
                                            <div class="rating-list-left text-black">
                                                2 sao
                                            </div>
                                            <div class="rating-list-center">
                                                <div class="progress">
                                                    <div aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary" id="rateColor2" style="background-image: none;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rating-list-right text-black" id="rateOf2"></div>
                                        </div>
                                        <div class="rating-list">
                                            <div class="rating-list-left text-black">
                                                1 sao
                                            </div>
                                            <div class="rating-list-center">
                                                <div class="progress">
                                                    <div aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary" id="rateColor1" style="background-image: none;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rating-list-right text-black" id="rateOf1"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
                                    <div>
                                        <a href="#" class="btn btn-outline-primary btn-sm float-right">Xếp hạng mới nhất</a>
                                        <h5 class="mb-1">Tất cả xếp hạng và đánh giá</h5>
                                    </div>
                                    <div id="feedbackUser">
                                    </div>
                                    <a class="text-center w-100 d-block mt-4 font-weight-bold" href="#"></a>
                                </div>
                                <div class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page">
                                    <div id="checkFeedback">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-5 pb-5 text-center bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="m-0">Điều hành cửa hàng thực phẩm hoặc nhà hàng? <a href="login.html">Làm việc với chúng tôi</a></h5>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="containers">
            <!--Bắt Đầu Nội Dung Giới Thiệu-->
            <div class="noi-dung about">
                <h2>Về Chúng Tôi</h2>
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium dolores alias ipsa vel hic tempore exercitationem ipsam explicabo repudiandae ut consectetur qui, earum at nostrum perspiciatis asperiores necessitatibus facilis esse.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia id possimus quibusdam nihil earum in provident enim animi commodi quisquam! Molestiae cupiditate mollitia pariatur error ea, debitis eaque quo dolorum.</p>
            </div>
            <!--Kết Thúc Nội Dung Giới Thiệu-->
            <!--Bắt Đầu Nội Dung Đường Dẫn-->
            <div class="noi-dung links">
                <h2>Đường Dẫn</h2>
                <ul style="padding-left: 0px;">
                    <li><a href="#">Trang Chủ</a></li>
                    <li><a href="#">Về Chúng Tôi</a></li>
                    <li><a href="#">Thông Tin Liên Lạc</a></li>
                    <li><a href="#">Dịch Vụ</a></li>
                    <li><a href="#">Điều Kiện Chính Sách</a></li>
                </ul>
            </div>


            <!--Kết Thúc Nội Dung Đường Dẫn-->
            <!--Bắt Đâu Nội Dung Liên Hệ-->
            <div class="noi-dung contact">
                <h2>Thông Tin Liên Hệ</h2>
                <ul class="info" style="padding-left: 0px;">
                    <li>
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>Đường Số 1<br />
                         Đường 1, Thủ Đô Hà Nội<br />
                         Việt Nam</span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone"></i></span>
                        <p><a href="#">+84 123 456 789</a>
                            <br />
                            <a href="#">+84 987 654 321</a></p>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope"></i></span>
                        <p><a href="#">FUMK@gmail.com</a>
                            <br/>
                            <a href="#">FUMK@fpt.edu.vn</a>
                        </p>
                    </li>
                </ul>
            </div>
            <!--Kết Thúc Nội Dung Liên Hệ-->
        </div>
    </footer>
    <!-- jQuery -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Select2 JavaScript-->
    <script src="js/select2.min.js"></script>
    <!-- Owl Carousel -->
    <script src="js/owl.carousel.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/custom.js"></script>
    <script src="js/header.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../../customJS/shopDetail.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/checkToken.js"></script>
    <script>
        $(document).ready(function() {
            loaddata()
            loadFeedback()
            checkfeedback()




        });

        function sendReport() {

            var userId = localStorage.getItem('userId').replaceAll('"', '');
            var params = (new URL(document.location)).searchParams;
            var idURL = params.get('id');
            var type = document.getElementById('dropdownMenuButton').value;
            var text_report = document.getElementById('text_report').value;
            console.log(type + ' ' + text_report + ' ' + idURL);

            $.ajax({
                url: '/api/report/create',
                method: 'POST',
                data: {
                    type_report: type,
                    content: text_report,
                    shop_id: idURL,
                    user_id: userId,
                },
            }).then(function(data) {
                if (data.message == 'SUCCESS') {
                    alert('success');
                    // window.location.href = "/"
                } else {
                    alert("Update fail");
                }
            })
        }

        function loaddata() {

            var params = (new URL(document.location)).searchParams;
            var idURL = params.get('id');
            $.ajax({
                type: "GET",
                dataType: "json",
                data: {
                    id: idURL
                },
                url: "/api/user/getbyId",
                success: function(data) {
                    document.getElementById('inforShop').innerHTML = '<img class="img-fluid mr-3 float-left" alt="osahan" src="' + data.data.avatar + '" style="height: 88px !important"> <h2 class="text-white" style="padding-top: 25px;"> ' + data.data.name + '</h2> <p class="text-white mb-1"><i class="icofont-location-pin"></i>' + data.data.address + '<span class="badge badge-success">OPEN</span><button type="button" id="SaveUpdate" data-toggle="modal" data-target="#basicModal" class="btn btn-outline-danger ml-3 fa fa-flag" style="float: right;"> </button></p>';
                }
            });

            $.ajax({
                url: "http://localhost:3999/api/product/searchSellerproduct?id=" + idURL,
                type: "GET",

            }).then(function(data) {
                if (data.message == "SUCCESS") {
                    for (var i = 0; i < data.data.listProduct.length; i++) {
                        let image = (data.data.listProduct[i].image ? data.data.listProduct[i].image : 'image/list/1.png');
                        var product = data.data.listProduct[i];
                        // <div class="star position-absolute"><span class="badge badge-success"><i class="icofont-star"></i> 3.1 (300+)</span></div>
                        var template = `
                        <div class="col-md-4 col-sm-6 mb-4">
                        <div class="list-card bg-white overflow-hidden h-100 position-relative item-content" style="border: 1px solid #d7d7d7; border-radius: 6px;" data-toggle="modal" data-target="#productDetail" onclick="productSellerDetail(` + "'" + product.id + "'" + `)">
                                            <div class="list-card-image">
                                                    <img src=` + image + ` class="img-fluid item-img" style="height: 245px !important;">
                                            </div>
                                            <div class="p-3 position-relative">
                                                <div class="list-card-body">
                                                    <h6 class="mb-1"><a href="#" class="item-name text-black">${product.name}</a></h6>
                                                    <p class="text-gray mb-2">${product.description}</p>
                                                    <p class="text-gray time mb-0" style="width: 100%;"><a class="item-price btn btn-link btn-sm pl-0 text-black pr-0" >${product.unit_price} VNĐ </a> <span class="badge badge-success">NEW</span> <span class="float-right">
                                                        <span class="count-number">
                                                            <button value="ADD" data-name="${product.name}" data-price="${product.unit_price}" data-id="${product.id}"  class="add-to-cart btn btn-outline-secondary btn-sm" onclick="addToCartFunc.call(this)" > ADD </button>
                                                        </span>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`

                        $(".allProduct").append(template)
                    }
                }
            })
        }

        let product_id;

        function productSellerDetail(id) {
            product_id = id;
            $.ajax({
                type: "GET",
                dataType: "json",
                data: {
                    id: id
                },
                url: "/api/product/getById",
                success: function(data) {
                    var listdata = data.data.product;

                    document.getElementById('imageProduct').src = listdata.image;
                    document.getElementById('nameProduct').innerHTML = listdata.name;
                    document.getElementById('timeOpen').innerHTML = listdata.time_from + '.00' + ' - ' + listdata.time_to + '.00';
                    document.getElementById('priceProduct').innerHTML = listdata.unit_price + ' VND';
                    document.getElementById('descriptionProduct').innerHTML = listdata.description;
                    showComment();

                }
            });
        }

        function showComment() {
            $.ajax({
                type: "GET",
                data: {
                    id: product_id
                },
                url: "/api/comment/searchcomment",
                success: function(data) {

                    let list = data.data.listComment;

                    for (var i = 0; i < list.length; i++) {

                        let id = list[i].id;
                        let cmt_id = list[i].cmt_id;
                        let content = list[i].content;
                        let user_id = list[i].user_id;

                        let d = new Date(list[i].createdAt);
                        let n;
                        if (d.getUTCDate() < 10) {
                            n = '0' + d.getUTCDate();
                        } else {
                            n = d.getUTCDate();
                        }
                        let m;
                        m = d.getUTCMonth().toLocaleString('en-us', {
                            month: 'short'
                        });
                        let y = d.getUTCFullYear();
                        let dob = n + ', ' + m + ' ' + y;
                        document.getElementById('listComment').innerHTML = ''
                        inforUserComment(user_id, list, id, cmt_id, content, dob, i);
                    }
                }
            })
        }

        function inforUserComment(user_id, list, id, cmt_id, content, dob, i) {
            $.ajax({
                type: "GET",
                dataType: "json",
                data: {
                    id: user_id
                },
                url: "/api/user/getbyId",
                success: function(data) {
                    if (cmt_id == '') {

                        document.getElementById('listComment').innerHTML += '<div class="reviews-members pt-2"><div class="media"> <a href="#"><img alt="Generic placeholder image" src="' + data.data.avatar + '" class="mr-3 rounded-pill" style="width: 40px; height: 40px;"></a> <div class="media-body" style="border: 1px solid #f0f2f5; border-radius: 10px; background-color: #f0f2f5; padding: 10px"> <div class="reviews-members-header" style="display: flex; justify-content: space-between;"> <h6 class="mb-1"><a class="text-black" href="#">' + data.data.name + '</a></h6> <p class="text-gray" style="margin-bottom: 5px;">' + dob + '</p> </div> <div class="reviews-members-body"> <p>' + content + '</p> </div> </div> </div> </div> <div style="margin-left: 67px"> <label class="reply" style="border-radius: 6px" onclick="Reply(' + "'" + i + "','" + data.data.name + "','" + id + "'" + ')"> Phản hồi </label> . <label style="border-radius: 6px;" onclick="showReply(' + "'" + i + "'" + ')"> Hiển thị phản hồi </label> <div id="showReply' + i + '"> </div> <div class="reply-section" id="replytoreply' + i + '"> </div></div> </div> </div>';

                        ReplyToReply(i, list, id);
                    }
                }

            })
        }

        function ReplyToReply(i, listReply, id) {
            for (var j = 0; j < listReply.length; j++) {

                if (listReply[j].cmt_id == id) {



                    let id_reply = listReply[j].id;
                    let content_reply = listReply[j].content;
                    let user_id_reply = listReply[j].user_id;

                    let d = new Date(listReply[j].createdAt);
                    var n;
                    if (d.getUTCDate() < 10) {
                        n = '0' + d.getUTCDate();
                    } else {
                        n = d.getUTCDate();
                    }
                    var m;
                    m = d.getUTCMonth().toLocaleString('en-us', {
                        month: 'short'
                    });
                    var y = d.getUTCFullYear();
                    var dob_reply = n + ', ' + m + ' ' + y;

                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        data: {
                            id: user_id_reply
                        },
                        url: "/api/user/getbyId",
                        success: function(data) {

                            document.getElementById("showReply" + i).innerHTML += '<div class="reviews-members pt-2"><div class="media"> <a href="#"><img alt="Generic placeholder image" src="' + data.data.avatar + '" class="mr-3 rounded-pill" style="width: 40px; height: 40px;"></a> <div class="media-body" style="border: 1px solid #f0f2f5; border-radius: 10px; background-color: #f0f2f5; padding: 10px"> <div class="reviews-members-header" style="display: flex; justify-content: space-between;"> <h6 class="mb-1"><a class="text-black" href="#">' + data.data.name + '</a></h6> <p class="text-gray" style="margin-bottom: 5px;">' + dob_reply + '</p> </div> <div class="reviews-members-body"> <p>' + content_reply + '</p> </div> </div> </div> </div> <div style="margin-left: 67px"> <label class="reply" style="border-radius: 6px" onclick="Reply(' + "'" + i + "','" + data.data.name + "','" + id + "'" + ')"> Phản hồi </label> . <label style="border-radius: 6px;"> Hiển thị phản hồi </label> <div id="showReply' + i + '"> </div> <div class="reply-section" id="replytoreply' + i + '"> </div></div> </div> </div>';
                        }
                    })
                }

            }
        }

        function Reply(iId, name, id) {
            // var thisClicked = $(this);
            // var cmt_id = thisClicked;


            // $('.reply-section').html('');
            // thisClicked.closest('.reviews-members').find('.reply-section').html(
            //     '<input type="text" class="form-control mt-2" placeholder="Reply"> <div class="text-end mt-2"> <button class="btn-danger" style="border-radius: 6px"> Reply </button> <button class=" btn-danger" style="border-radius: 6px;"> Cancel </button> </div>'
            // );

            // document.getElementsByClassName('reply-section').innerHTML += 'hello'
            var x = document.getElementById("replytoreply" + iId);
            if (x.style.display === "none") {
                x.style.display = "block";
                x.innerHTML = '<input type="text" class="form-control mt-2" id="textReplyComment"> <div class="text-end mt-2"> <button class="btn-danger" style="border-radius: 6px" id="sendReplyToReply" onclick="sendReplyToReply(' + "'" + id + "'" + ')"> Gửi </button> ';
                document.getElementById('textReplyComment').value = '@' + name + ': ';
            } else {
                x.style.display = "none";

            }
        }

        function showReply(iIds) {
            var x = document.getElementById("showReply" + iIds);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";

            }
        }

        function sendReplyToReply(id) {
            var userId = localStorage.getItem('userId').replaceAll('"', '');

            $.ajax({
                url: '/api/comment/create',
                method: 'POST',
                data: {
                    user_id: userId,
                    product_id: product_id,
                    content: $('#textReplyComment').val(),
                    cmt_id: id,
                },
            }).then(function(data) {
                if (data.message == 'SUCCESS') {
                    alert('susscess');
                    showComment();
                } else {
                    alert("Update fail");
                }
                document.getElementById("textReplyComment").value = "";
            })
        }

        $('#submitComment').click(function() {

            var userId = localStorage.getItem('userId').replaceAll('"', '');

            $.ajax({
                url: '/api/comment/create',
                method: 'POST',
                data: {
                    user_id: userId,
                    product_id: product_id,
                    content: $('#textComment').val(),
                    cmt_id: '',
                },
            }).then(function(data) {
                if (data.message == 'SUCCESS') {
                    showComment();
                } else {
                    alert("Update fail");
                }
                document.getElementById("textComment").value = "";
            })
        })

        function loadFeedback() {
            var params = (new URL(document.location)).searchParams;
            var idURL = params.get('id');

            $.ajax({
                type: "GET",
                dataType: "json",
                data: {
                    id: idURL
                },
                url: "/api/feedback/searchShopFeedback",
                success: function(data) {
                    var list = data.data.listFeedback;


                    for (var j = 1; j <= 5; j++) {

                        if (j <= data.data.count / data.data.total) {
                            document.getElementById('rateTotal').innerHTML += '<label><i class="icofont-ui-rating" style="color: red !important;"></i></label>';
                        } else {
                            document.getElementById('rateTotal').innerHTML += '<label><i class="icofont-ui-rating"></i></label>';
                        }

                    }

                    document.getElementById('rateStar').innerHTML = data.data.count;
                    document.getElementById('rateOfStar').innerHTML = 'Đánh giá ' + (data.data.count / data.data.total).toFixed(2) + ' trên 5';
                    document.getElementById('rateOf5').innerHTML = Math.round((data.data.star_5 / data.data.total) * 100) + '%';
                    var color5 = data.data.star_5 / data.data.total;
                    document.getElementById('rateColor5').style.width = color5 * 100 + '%';

                    document.getElementById('rateOf4').innerHTML = Math.round((data.data.star_4 / data.data.total) * 100) + '%';
                    var color4 = data.data.star_4 / data.data.total;
                    document.getElementById('rateColor4').style.width = color4 * 100 + '%';

                    document.getElementById('rateOf3').innerHTML = Math.round((data.data.star_3 / data.data.total) * 100) + '%';
                    var color3 = data.data.star_3 / data.data.total;
                    document.getElementById('rateColor3').style.width = color3 * 100 + '%';

                    document.getElementById('rateOf2').innerHTML = Math.round((data.data.star_2 / data.data.total) * 100) + '%';
                    var color2 = data.data.star_2 / data.data.total;
                    document.getElementById('rateColor2').style.width = color2 * 100 + '%';

                    document.getElementById('rateOf1').innerHTML = Math.round((data.data.star_1 / data.data.total) * 100) + '%';
                    var color1 = data.data.star_1 / data.data.total;
                    document.getElementById('rateColor1').style.width = color1 * 100 + '%';

                    for (var i = 0; i < list.length; i++) {
                        var text = list[i].user_id;
                        let content = list[i].content;
                        let rate = list[i].rate;


                        var d = new Date(list[i].createdAt);
                        var n;
                        if (d.getUTCDate() < 10) {
                            n = '0' + d.getUTCDate();
                        } else {
                            n = d.getUTCDate();
                        }
                        var m;
                        m = d.getUTCMonth().toLocaleString('default', {
                            month: 'short'
                        });
                        var y = d.getUTCFullYear();
                        var dob = n + ', ' + m + ' ' + y;





                        $.ajax({
                            type: "GET",
                            dataType: "json",
                            data: {
                                id: text
                            },
                            url: "/api/user/getbyId",

                            success: function(data) {

                                let star = '';
                                for (var j = 1; j <= 5; j++) {
                                    if (j <= rate) {
                                        star += '<label><i class="icofont-ui-rating" style="color: red !important;"></i></label>';
                                    } else {
                                        star += '<label><i class="icofont-ui-rating"></i></label>';
                                    }

                                }

                                document.getElementById('feedbackUser').innerHTML += '<div class="reviews-members pt-4 pb-4"> <div class="media"> <a href="#"> <img alt="Generic placeholder image" src="' + data.data.avatar + '" class="mr-3 rounded-pill"></a> <div class="media-body"> <div class="reviews-members-header"> <span class="star-rating float-right">' + star + '</span> <h6 class="mb-1"><a class="text-black" href="#">' + data.data.name + '</a></h6> <p class="text-gray">' + dob + '</p> </div> <div class="reviews-members-body"> <p>' + content + '</p> </div> </div> </div> </div> <hr style="margin: 0">';


                            }

                        })
                    }
                }
            });
        }

        function checkfeedback() {

            var userId = localStorage.getItem('userId').replaceAll('"', '');
            var params = (new URL(document.location)).searchParams;
            var shopId = params.get('id');

            $.ajax({
                type: "GET",
                data: {
                    user_id: userId,
                    shop_id: shopId,
                },
                url: "/api/feedback/check",
                success: function(data) {
                    if (data.data == true) {
                        document.getElementById('checkFeedback').innerHTML = 'Bạn chưa mua hàng!!!';
                    } else {
                        document.getElementById('checkFeedback').innerHTML = '<h5 class="mb-4">Để lại phản hồi</h5> <p class="mb-2">Xếp hạng địa điểm</p> <div class="mb-4"> <span class="star-rating"> <label data-index="1" class="rating" id="rate1"><i class="icofont-ui-rating icofont-2x"></i></label> <label data-index="2" class="rating" id="rate2"><i class="icofont-ui-rating icofont-2x"></i></label> <label data-index="3" class="rating" id="rate3"><i class="icofont-ui-rating icofont-2x"></i></label> <label data-index="4" class="rating" id="rate4"><i class="icofont-ui-rating icofont-2x"></i></label> <label data-index="5" class="rating" id="rate5"><i class="icofont-ui-rating icofont-2x"></i></label> </span> </div> <form> <div class="form-group"> <label>Thông tin phản hồi của bạn</label> <textarea class="form-control" id="textFeedback"></textarea> </div> <div class="form-group"> <button class="btn btn-primary btn-sm" type="button" onclick="feedback()"> Gửi phản hồi </button> </div> </form>';
                    }
                }
            })
        }

        var x = 0;

        $(document).on('click', '.rating', function() {
            var index = $(this).data("index");
            x = index;
        });

        $(document).on('mouseenter', '.rating', function() {
            var index = $(this).data("index");
            for (var j = 0; j <= 5; j++) {
                if (j <= index) {
                    $('#rate' + j).css('color', 'red');
                } else if (j > index) {
                    $('#rate' + j).css('color', 'black');
                }
            }
        });

        function feedback() {

            var userId = localStorage.getItem('userId').replaceAll('"', '');
            var params = (new URL(document.location)).searchParams;
            var shopId = params.get('id');

            $.ajax({
                url: '/api/feedback/create',
                method: 'POST',
                data: {
                    user_id: userId,
                    shop_id: shopId,
                    content: document.getElementById('textFeedback').value,
                    rate: x,
                },
            }).then(function(data) {
                if (data.message == 'SUCCESS') {
                    document.getElementById('feedbackUser').innerHTML = '';
                    document.getElementById('textFeedback').value = '';
                    loadFeedback();
                } else {
                    alert('khong thanh cong');
                }
            })
        }
    </script>

</body>

</html>